<a href="https://colab.research.google.com/github/nitishrudra3510/DataScience/blob/master/Revision2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**data Types**

1. boolean

In [ ]:
result = True
result2 = False
print(result)

True

In [ ]:
print(result2)

False

In [ ]:
print(bool(1))

True

In [ ]:
print(bool(0))

False

In [ ]:
print("hello world") # because of it has non empty sets(list, tuples)

hello world

2. Numeric Data Types.

In [ ]:
print(type(1))

<class 'int'>

In [ ]:
print(type(2.90))

<class 'float'>

In [ ]:
print(type(2+3j))

<class 'complex'>

3. String:

In [ ]:

# str: "Hello World!!!", "Python Programming"

str1 = 'hello javatpoint' #string str1
str2 = ' how are you' #string str2
print (str1[0:2]) #printing first two character using slice operator
print (str1[4]) #printing 4th character of the string
print (str1*2) #printing the string twice
print (str1 + str2) #printing the concatenation of str1 and str2

he
o
hello javatpointhello javatpoint
hello javatpoint how are you

4. Sequence data types:
1. list
2. tuples.
3. list.

In [ ]:
list1 = [8, 2.3, [-4, 5], ["apple", "banana"]]
print(list1)

[8, 2.3, [-4, 5], ['apple', 'banana']]

In [ ]:
tuples1 = (("parrot", "swayam"), ("lion", "tiger"))
print(tuples1)

(('parrot', 'swayam'), ('lion', 'tiger'))

In [ ]:
string1 = "swayam"
print(string1)
print(string1[0:3])
if "sw" in string1:
  print("yes")

swayam
swa
yes

5. Dictionary:

In [ ]:
dict1 = {"name": "sakshi", "age":20, "canVote":True}
print(dict1)

{'name': 'sakshi', 'age': 20, 'canVote': True}

In [ ]:
print(dict1['name'])

sakshi

In [ ]:
print(dict1['age'])

20

5. Sets

In [ ]:
my_set = {1,2,3}
my_set2 = {4, 5, 6}
my_set.add(4)
my_set.remove(2)
print(3 in my_set)

print(my_set.intersection(my_set2))

True
{4}

# Type casting:

1. explicit type casting:

In [ ]:
string = "15"
number = 7
string_number = int(string) #throws an error if the string is not a valid integer
sum= number + string_number
print("The Sum of both the numbers is: ", sum)

The Sum of both the numbers is:  22

2. Implicit type casting:

In [ ]:
a = 7
print(type(a))

b = 3.0
print(type(b))

c = a+b
print(c)
print(type(c))

<class 'int'>
<class 'float'>
10.0
<class 'float'>

# Slicing

In [ ]:
a = "nitish!!!!"
print(a)
print(len(a))
print(a.upper())
print(a.lower())
print(a.rstrip("!")) ##it strips of !, its removes only from right sides(!) because runs start from right sides..
print(a.replace("nitish", "Rudra"))
print(a.split(" "))

nitish!!!!
10
NITISH!!!!
nitish!!!!
nitish
Rudra!!!!
['nitish!!!!']

In [ ]:

str1 = "Welcome to the Console !!!"
print(str1.endswith("to", 4, 10))

True

In [ ]:
print(str1.swapcase())
print(str1.title())

wELCOME TO THE cONSOLE !!!
Welcome To The Console !!!

# Control flow:

In [ ]:
x = 5
if x >5:
  print("greater")

else:
  print("lower")

lower

In [ ]:
x = 20
if x>5:
  if(x%2==0):
    print("X is greater than 5 and even")
  else:
    print("x is greater than 5 and odd")

else:
  print("x is lower than 5")

X is greater than 5 and even

In [ ]:


a = int(input("Enter a:\n"))
b = int(input("Enter b:\n"))

#if a>b: print("A is greater than b")
print("B is greater than A") if a<b else print("A is greater than B")



# Simple Python program to understand elif statement
marks = int(input("Enter the marks? "))
# Here, we are taking an integer marks and taking input dynamically
if marks > 85 and marks <= 100:
# Here, we are checking the condition. If the condition is true, we will enter the block
   print("Congrats ! you scored grade A ...")
elif marks > 60 and marks <= 85:
# Here, we are checking the condition. If the condition is true, we will enter the block
   print("You scored grade B + ...")
elif marks > 40 and marks <= 60:
# Here, we are checking the condition. If the condition is true, we will enter the block
   print("You scored grade B ...")
elif (marks > 30 and marks <= 40):
# Here, we are checking the condition. If the condition is true, we will enter the block
   print("You scored grade C ...")
else:
   print("Sorry you are fail ?")

Enter a:
23
Enter b:
45
B is greater than A
Enter the marks? 45
You scored grade B ...

# While functions:

In [ ]:
count = 5
while(count>0):
  print(count)
  count+=-1

5
4
3
2
1

In [ ]:
x = 5
while(x>0):
  print(x)
  x = x-1
else:
    print("counter 0")

5
4
3
2
1
counter 0

In [ ]:
while True:
  number = int(input("Enter a positive number: "))
  print(number)
  if (not number > 0):
    break

Enter a positive number: 10
10
Enter a positive number: 0
0

In [ ]:
counter = 0

while(counter < 10):
    counter = counter + 3
    print("Python loops")
else:
    print("Code block inside the else statement")

Python loops
Python loops
Python loops
Python loops
Code block inside the else statement

 # continous:

In [ ]:
for string in "Python Loops":
  if string == "o" or string == "p" or string == "t":
    continue

  print('Current Letter: ',string)

Current Letter:  P
Current Letter:  y
Current Letter:  h
Current Letter:  n
Current Letter:
Current Letter:  L
Current Letter:  s

In [ ]:
for string in "Python Loops":
  if string == "o" or string == "p" or string == "t":
    break
  print('Current Letter: ',string)

Current Letter:  P
Current Letter:  y