In [1]:
import pandas as pd

In [2]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)

In [3]:
df

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [4]:
# Step 1: Import the pandas library
import pandas as pd

# Step 2: Create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)

# Step 3: Specify the output path in the Documents directory
output_path = '/Users/nitishkumar/Documents/output.xlsx'  # Specify the file name here

# Step 4: Create the Excel file from the DataFrame
df.to_excel(output_path, index=False, sheet_name='Data')

print(f"Excel file created: {output_path}")

Excel file created: /Users/nitishkumar/Documents/output.xlsx

In [5]:
df = { "Name": ['nitish', 'abhijeet', 'swayam'], 'marks': [90, 60, 95]}
data = pd.DataFrame(df)

In [6]:
data

       Name  marks
0    nitish     90
1  abhijeet     60
2    swayam     95

In [15]:
data.to_excel('/Users/nitishkumar/Documents/GitHub/DataScience/Libraries/excel2.xlsx', index = False, sheet_name="result")

AttributeError: 'dict' object has no attribute 'to_excel'

In [16]:
# another method 
output_path = '/Users/nitishkumar/Documents/GitHub/DataScience/Libraries/excel.xlsx'
data.to_excel(output_path, index=False, sheet_name='result')
print(f"Excel file created {output_path}")

AttributeError: 'dict' object has no attribute 'to_excel'

In [17]:
# Step 1: Import the necessary libraries
import pandas as pd
import numpy as np

# Step 2: Create a DataFrame with sales information
data = {
    'Product': ['Laptop', 'Smartphone', 'Tablet', 'Smartwatch', 'Headphones'],
    'Price': [999.99, 499.99, 299.99, 199.99, np.nan],  # Note the NaN for missing price
    'Stock': [50, 150, 100, 75, 200],
    'Sales': [20, 60, 45, 30, 90],
}

df = pd.DataFrame(data)

# Step 3: Fill missing values and calculate additional metrics
# Fill missing price with the average price of available products
df['Price'].fillna(df['Price'].mean(), inplace=True)

# Calculate total revenue for each product
df['Total Revenue'] = df['Price'] * df['Sales']

# Calculate total value of stock for each product
df['Total Value'] = df['Price'] * df['Stock']

# Step 4: Sort products by total revenue in descending order
df_sorted = df.sort_values(by='Total Revenue', ascending=False)

# Step 5: Specify the output path in the Documents directory
output_path = '/Users/nitishkumar/Documents/GitHub/DataScience/Libraries/excel1.xlsx' # Specify the file name here

# Step 6: Create a Pandas Excel writer using XlsxWriter as the engine
with pd.ExcelWriter(output_path, engine='xlsxwriter') as writer:
    # Write the sorted DataFrame to the first sheet
    df_sorted.to_excel(writer, index=False, sheet_name='Sales Data')

    # Create a second sheet for summary statistics
    summary_df = df[['Product', 'Total Revenue', 'Total Value']].copy()
    summary_df = summary_df.sort_values(by='Total Revenue', ascending=False)
    summary_df.to_excel(writer, index=False, sheet_name='Summary')


    # Access the XlsxWriter workbook and worksheet objects
    workbook = writer.book
    sales_worksheet = writer.sheets['Sales Data']
    summary_worksheet = writer.sheets['Summary']

    # Step 7: Add formatting to the Sales Data sheet
    money_format = workbook.add_format({'num_format': '$#,##0.00'})
    sales_worksheet.set_column('B:B', 12, money_format)  # Format Price column
    sales_worksheet.set_column('D:D', 15, money_format)  # Format Total Revenue column
    sales_worksheet.set_column('E:E', 15, money_format)  # Format Total Value column

    # Step 8: Add a header format for the Summary sheet
    header_format = workbook.add_format({'bold': True, 'bg_color': '#D9EAD3', 'border': 1})
    for col_num, value in enumerate(summary_df.columns.values):
        summary_worksheet.write(0, col_num, value, header_format)

# Step 9: Print a message to confirm creation
print(f"Excel file created: {output_path}")

Excel file created: /Users/nitishkumar/Documents/GitHub/DataScience/Libraries/excel1.xlsx

In [21]:
# Step 1: Import the necessary libraries
import pandas as pd
import numpy as np

# Step 2: Create a DataFrame with sales information
data = {
    'Product': ['Laptop', 'Smartphone', 'Tablet', 'Smartwatch', 'Headphones'],
    'Price': [999.99, 499.99, 299.99, 199.99, np.nan],  # Note the NaN for missing price
    'Stock': [50, 150, 100, 75, 200],
    'Sales': [20, 60, 45, 30, 90],
}

df = pd.DataFrame(data)

# Step 3: Fill missing values and calculate additional metrics
# Fill missing price with the average price of available products
df['Price'].fillna(df['Price'].mean(), inplace=True)

# Calculate total revenue for each product
df['Total Revenue'] = df['Price'] * df['Sales']

# Calculate total value of stock for each product
df['Total Value'] = df['Price'] * df['Stock']

# Step 4: Sort products by total revenue in descending order
df_sorted = df.sort_values(by='Total Revenue', ascending=False)

# Step 5: Specify the output path in the Documents directory
output_path = '/Users/nitishkumar/Documents/GitHub/DataScience/Libraries/excel3.xlsx' # Specify the file name here

df_sorted.to_excel(output_path, index=False, sheet_name="Sale Product")
print(f"File created {output_path}")

File created /Users/nitishkumar/Documents/GitHub/DataScience/Libraries/excel3.xlsx