In [ ]:
print("Hello World!!!")

Hello World!!!

In [ ]:
A=10

In [ ]:
print(A)

10

In [ ]:
a=7
b=3.9
c='a"'
d="Hel'lo"

In [ ]:
print(a)
print(b)
print(c)
print(d)

7
3.9
a"
Hel'lo

In [ ]:
a=5
b=14
print(a+b)
print(a-b)
print(a*b)
#c=a/b
print(format(a/b,'.2f'))

print(a%b)
print(a//b)

19
-9
70
0.36
5
0

In [ ]:
a=int(input("Enter a"))
b=int(input("Enter b"))
#print(a==b)
print(a!=b)
print(a<b)
print(a>b)

False

In [ ]:
a=10
b=-(a)

And                          
1  1     1                   
1  0     0
0  1     0
0  0     0

OR
1  1  1
1  0  1
0  1  1
0  0  0

Not

1 0
0 1

In [ ]:
a=1010101010
b=1001010101
print(a&b)
print(a|b)
print(~a)

941630224
1069480887
-1010101011

In [ ]:
a=10
b=20
print(a&b)
print(a|b)

TypeError: unsupported operand type(s) for &: 'str' and 'str'

In [ ]:
x= 111101 0 0 0 0

print(bin(x<<4))

0b110110001111111010000

In [ ]:
a=10
b=20
c=30
if((a>b) && (a<c)):
  print('a')
else:
  print('b')

7 JUNE 2024

In [ ]:
print("Python Class\t" *10)

Python Class
Python Class
Python Class
Python Class
Python Class
Python Class
Python Class
Python Class
Python Class
Python Class

In [ ]:
a="Hello World"
print(a)
print(a[0])
print(a[2:8])
print(a[5:])
print(a[:5])
print(a[::-1])

Hello World
H
llo Wo
 World
Hello
dlroW olleH

In [ ]:
a=input("Enter String")
print(len(a))
print(a)

Enter Stringabc
3
abc

In [ ]:

l=[1,2,3,4,['a','b']]
print(l)
print(l[0])
print(l[3])
print(l[4][1])
l.append('e')

l = [1,2,3,4,['a','b','c']]
print(l)
l.extend(['hello','dear'])
print(l)
#extend()
#append()
#count()
#pop()
#remove()
#reverse()
#sort()'''

[1, 2, 3, 4, ['a', 'b']]
1
4
b
[1, 2, 3, 4, ['a', 'b', 'c']]
[1, 2, 3, 4, ['a', 'b', 'c'], 'hello', 'dear']

In [ ]:
l1=[1,2,3,4,3,3]
l2=[6,7]
l1.append(5)
print(l1)
l1.extend(l2)
print(l1)
print(l1.count(3))
l1.pop()
print(l1)
l1.remove(5)
print(l1)
l1.sort()
print(l1)
l1.reverse()
print(l1)
del l1[3]
print(l1)
print(l1[1:4])
print(l1+l2)

[1, 2, 3, 4, 3, 3, 5]
[1, 2, 3, 4, 3, 3, 5, 6, 7]
3
[1, 2, 3, 4, 3, 3, 5, 6]
[1, 2, 3, 4, 3, 3, 6]
[1, 2, 3, 3, 3, 4, 6]
[6, 4, 3, 3, 3, 2, 1]
[6, 4, 3, 3, 2, 1]
[4, 3, 3]
[6, 4, 3, 3, 2, 1, 6, 7]

In [ ]:
#Tuples
a=('apple',('grapes','mango'),'cherry','litchi')
print(a)
b=('cherry',)
print(b)
print(a[1:3])
print(a*7)
print(a+b)

#membership
#in
#not in

if 'pear' not in a:
  print('no')
else:
  print('yes')

('apple', ('grapes', 'mango'), 'cherry', 'litchi')
('cherry',)
(('grapes', 'mango'), 'cherry')
('apple', ('grapes', 'mango'), 'cherry', 'litchi', 'apple', ('grapes', 'mango'), 'cherry', 'litchi', 'apple', ('grapes', 'mango'), 'cherry', 'litchi', 'apple', ('grapes', 'mango'), 'cherry', 'litchi', 'apple', ('grapes', 'mango'), 'cherry', 'litchi', 'apple', ('grapes', 'mango'), 'cherry', 'litchi', 'apple', ('grapes', 'mango'), 'cherry', 'litchi')
('apple', ('grapes', 'mango'), 'cherry', 'litchi', 'cherry')
no

In [ ]:
  #identity operator
  #is
  #is not
  a=1
  b=2
  if a is b:
    print('yes')
  else:
    print('no')
    print(id(a))




    a=41
    b=2
    print(int(a/b))
    print(a//b)

no
135421200498928
20
20

In [ ]:
#Dictionary
a={}
a={'a':1,'b':2,'c':[1,2,3]}
print(a)
b={'a':1,'b':2,'c':(1,2,3)}
print(b)
d={'a':1,'b':2,'c':{1:'aman',2:'ankit',3:'divya'}}
print(d)

city={}
city.update({'city1':'Amritsar'})
print(city)
state={'state1':'Punjab'}
city.update(state)
print(city)

print(b.keys())
print(b.values())

print(b.items())
b.clear()
print(b)
b=a.copy()
print(b)
print(a)
if 'a' not in b:
  print('yes')
elif 'z' in b:
  print('yes a is in b')
else:
  print("both conditiona are false")

{'a': 1, 'b': 2, 'c': [1, 2, 3]}
{'a': 1, 'b': 2, 'c': (1, 2, 3)}
{'a': 1, 'b': 2, 'c': {1: 'aman', 2: 'ankit', 3: 'divya'}}
{'city1': 'Amritsar'}
{'city1': 'Amritsar', 'state1': 'Punjab'}
dict_keys(['a', 'b', 'c'])
dict_values([1, 2, (1, 2, 3)])
dict_items([('a', 1), ('b', 2), ('c', (1, 2, 3))])
{}
{'a': 1, 'b': 2, 'c': [1, 2, 3]}
{'a': 1, 'b': 2, 'c': [1, 2, 3]}
both conditiona are false

In [ ]:
a= 40
if a>40:
  print(20)
elif a==40:
  print(10)
else:
  print(30)

In [ ]:
#while loop

a=10
while(a>0):
  print(a, end='\t')
  a=a-1
else:
  print(a+2)
  print("loop ends")

10	9	8	7	6	5	4	3	2	1	2
loop ends

In [ ]:
#for loop

for a in range(10,20,3):
  print(a)

10
13
16
19

In [ ]:
a=int(input("Enter a number: "))
sum=0.0
for i in range(1,a+1):
  sum+=float(i)/(i+1)
print(sum)

Enter a number: 5
3.5500000000000003

#10th june 2024

In [ ]:
#10th june 2024
#calender
date=int(input("Enter the date: "))
days={0:"sunday",1:"monday",2:"tuesday",3:"wednesday",4:"thursday",5:"friday",6:"saturday",}
total_days=0
month=int(input("Enter the month number: "))
months={1:"jan",2:"feb",3:"mar",4:"apr",5:"may",6:"jun",7:"jul",8:"aug",9:"sep",10:"oct",11:"nov",12:"dec"}
month_days={"jan":31,"feb":28,"mar":31,"apr":30,"may":31,"jun":30,"jul":31,"aug":31,"sep":30,"oct":31,"nov":30,"dec":31}
for i in months:
  if (i==month):
    break
  total_days+=month_days[months[i]]
date+=total_days
date%=7
print("The day on is ",days[date])

Enter the date: 10
Enter the month number: 3
The day on is  saturday

In [ ]:
firstday=int(input("enter first day of the month (1-7)"))
n_of_days=int(input("enter number of days"))
print(" Sun Mon Tues Wed Thurs Fri Sat")
print("---------------------------------------")
for i in range(firstday-1):
  print(end="     ")
i=firstday-1
for j in range(1,n_of_days+1):
  if(i>6):
    print()
    i=1
  else:
    i=i+1
  print(str(j)+"  ",end=" ")

enter first day of the month (1-7)4
enter number of days30
 Sun Mon Tues Wed Thurs Fri Sat
---------------------------------------
               1   2   3   4
5   6   7   8   9   10   11
12   13   14   15   16   17   18
19   20   21   22   23   24   25
26   27   28   29   30

In [ ]:
1
12
123
1234
12345

In [ ]:
rows = int(input("Enter the number of rows: "))

for i in range(1, rows + 1):
  #print("i=",i)
  for j in range(1, i + 1):
    print(j, end="")
  print()

Enter the number of rows: 5
1
12
123
1234
12345

In [ ]:
num = int(input("Enter a number"))
for i in range(1, num + 1):
  output = " "
  for j in range(1, i + 1):
    output += str(j)
  print(output)

Enter a number5
 1
 12
 123
 1234
 12345

In [ ]:
#break
i=1
while i<=10:
  print(i)
  if(i==5):
    break
  i=i+1

1
2
3
4
5

In [ ]:
for i in range(1,10):
  if(i==5):
    continue
  print(i)

1
2
3
4
6
7
8
9

In [ ]:
#pass
#comment

for i in "hello":
 pass
print("this is a pass")

this is a pass

In [ ]:
for i in "hello":
  print(i)
else:
  print("done")

h
e
l
l
o
done

In [ ]:
i=1
while(i<0):
  print(i)
  i=i-1
else:
  print(i)

1

In [ ]:
#functions with positional arguments
def display(b,a):
  a=a+2
  b=b+4
  print(a,b)
display(3,6)

8 7

In [ ]:
#expression as argument
def display(i):
  print("hello",i)
display(5+2*3)

hello 11

In [ ]:
#return statement
#print statement

def abc(a=3):
  return a
def xyz(a):
  b=a
  print(b)
xyz(abc())

3

In [ ]:
#default argument
def display(a=3):
  print(a)
display(100)

100

In [ ]:
#keyword argument or named arguments
def display(a,b):
  print(a,b)
display(a='ankit',b='Akshat')
display(b='akshat',a='ankit')
display('ankit','akshat')
display('akshat','ankit')

ankit Akshat
ankit akshat
ankit akshat
akshat ankit

In [ ]:
#arbitrary keyword arguments (variable length arguments)
#   first *args  (non keyword)    and second **kwargs (keyword)
def display(*abc):
  for a in abc:
    print(a)
display('ankit','divya','akshat','laveen','amit')

ankit
divya
akshat
laveen
amit

In [ ]:
def display(**abc):
  for a,b in abc.items():
    print(a,b)
display(name1='ankit',name2='divya',name3='akshat',name4='laveen',name5='amit',name6='ankit')

name1 ankit
name2 divya
name3 akshat
name4 laveen
name5 amit
name6 ankit

In [ ]:
def abc(a):
  """function is defined to check if number is even or odd"""
  if(a%2==0):
    print("even")
  else:
    print("odd")
  """function"""
abc(19)

print(abc.__doc__)

odd
function is defined to check if number is even or odd

In [ ]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

#11th June

```
# This is formatted as code
```

In [ ]:
#11th June
def abc(names):
  for i in names:
    print(i)
abc(['amit','divya','akshat'])

amit
divya
akshat

In [ ]:
def abc(a,b,/):
  c=a+b
  print(c)
abc(3,4)

7

In [ ]:
def abc(*,a=4,b=6):
  c=a+b
  print(c)
abc(a=3,b=4)

7

In [ ]:
def abc(c,d,a,b):
  print(a+b+c+d)
abc(c=2,d=8,3,4)

SyntaxError: positional argument follows keyword argument (<ipython-input-18-fa7aa869f7c3>, line 3)

In [ ]:
def abc(c,d,a,b):
  print(a+b+c+d)
abc(3,4,a=2,b=8)

17

In [ ]:
#Scope
a=5
def abc(a):
  a=a+3
  return a
print(abc(a))
def xyz(a):
  print(a)
xyz(a)

8
5

In [ ]:
z=5
def abc(z):
  z=z+3
  return z
#abc(z)
print(abc(z))
z=z+4
print(abc(3))

8
6

In [ ]:
a=3
def lucky(a):
  a=a+5
  return a
print(abc(a))
def xyz(a):
  print(a)
xyz(a)

6
None
3

In [ ]:
fruit="apple"
def fruit_names():
  global fruit1
  fruit1="berries"
  print(fruit1)
fruit_names()
print(fruit1)

berries
berries

In [ ]:
def abc():
  a=10
  def xyz():
    a=20
    print("I am from xyz function",a)
  xyz()
  print("I am from abc function",a)
abc()

I am from xyz function 20
I am from abc function 10

In [ ]:
#Recursion
def hello():
  print("Hello")
  hello()

hello()

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/usr/lib/python3.10/threading.py", line 1116, in _wait_for_tstate_lock
    if lock.acquire(block, timeout):
RecursionError: maximum recursion depth exceeded while calling a Python object

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-41-72d32d33d829>", line 6, in <cell line: 6>
    hello()
  File "<ipython-input-41-72d32d33d829>", line 4, in hello
    hello()
  File "<ipython-input-41-72d32d33d829>", line 4, in hello
    hello()
  File "<ipython-input-41-72d32d33d829>", line 4, in hello
    hello()
  [Previous line repeated 951 more times]
  File "<ipython-input-41-72d32d33d829>", line 3, in hello
    print("Hello")
  File "/usr/local/lib/python3.10/dist-packages/ipykernel/iostream.py", line 402, in write
    self.pub_thread.schedule(lambda : self._buffer.write(string))
  File "/usr/local/lib/python3.10/dist-packages/ipykernel/iostream.py", line 200, in schedule
    if self.thread.is_alive():
  File "/usr/lib/python3.10/threading.py", line 1180, in is_alive
    self._wait_for_tstate_lock(False)
  File "/usr/lib/python3.10/threading.py", line 1120, in _wait_for_tstate_lock
    if lock.locked():
RecursionError: maximum recursion depth exceeded while calling a Python object

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py", line 2099, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'RecursionError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/usr/lib/python3.10/inspect.py", line 1662, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/usr/lib/python3.10/inspect.py", line 1620, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/usr/lib/python3.10/inspect.py", line 829, in getsourcefile
    module = getmodule(object, filename)
  File "/usr/lib/python3.10/inspect.py", line 869, in getmodule
    if ismodule(module) and hasattr(module, '__file__'):
  File "/usr/lib/python3.10/inspect.py", line 182, in ismodule
    def ismodule(object):
KeyboardInterrupt

TypeError: object of type 'NoneType' has no len()

In [ ]:
a=lambda y,z,u:z+y+u
print(a(7,8,9))

24

In [ ]:
def abc(a):
  return lambda z:z-a
a=abc(4)
print(a(3))

-1

In [ ]:
print((lambda z:z*2) (8))

16

In [ ]:
x=lambda : sum(range(1,10))
print(x())

45

In [ ]:
def display():
  print('a')
  print('b')
  return
print('c')
print('d')
display()

c
d
a
b

In [ ]:
def display(x):
  for i in range(x):
    print(i)
display(10)

0
1
2
3
4
5
6
7
8
9

In [ ]:
num=10
def show():
  var=20
  print(num)
show()
print(num)

10
10

In [ ]:
def f():
  s="Hello world"
  print(s)
s="Welcome"
f()
print(s)

Hello world
Welcome

In [ ]:
def f():
  global var
  print(var)
  var=10
  print(var)
var=100
f()

100
10

In [ ]:
def display(str):
  print(str+"!")
display("Hello WOrld")

Hello WOrld!

In [ ]:
def mul_twice(x,y):
  print(x*y)
  print(x*y)
mul_twice(5,10)

50
50

In [ ]:
def func():
  global x_1
  print("x=",x_1)
  x_1=100
  print('x is now=',x_1)
x_1=10
func()
print('x=',x_1)

x= 10
x is now= 100
x= 100

In [ ]:
def is_even(x):
  if x==0:
    return True
  else:
    return is_odd(x-1)
def is_odd(x):
  return not is_even(x)
print(is_even(21))

False

#12th june 2024

In [ ]:
x = 1
while True:
  print(x)
  break

1

In [ ]:
# classes/Objects
class first:
  shape="circle"
  texture="smooth"
b1=first()
b2=first()
b3=first()
print(b1.shape)
print(b2.shape)
b3.texture="rough"
print(b2.texture)
print(b3.texture)

circle
circle
smooth
rough

In [ ]:
class shapes:
  def __init__(self, texture, size):
    self.texture=texture
    self.size=size
  def display(self):
    print("I am an object",self.size)
o1=shapes("rough","small")
o2=shapes("smooth","big")
o1.display()
o2.display()

I am an object small
I am an object big

In [ ]:
class Human:
  def __init__(self,name,age,height,weight):
    self.n=name
    self.a=age
    self.h=height
    self.w=weight
h1=Human("Nitish",18,6,60)
h2=Human("Nitika",18,6,60)
h3=Human("Isha",18,6,60)
print(h1.h)
print(h1.a)
print(h2.h)
del h2
print(h2.a)

6
18
6

NameError: name 'h2' is not defined

In [ ]:
class student:
  section="K22FG" #class variable
  def __init__(self,name,reg):
    self.n=name
    self.r=reg
students=[]
for i in range(1,3):
  n=input("enter name of student")
  a=int(input("enter age of stduent"))
  students.append(student(n,a))

#print(students)
for i in students:
  print(i.n)
  print(i.r)
  print(i.section)

KeyboardInterrupt: Interrupted by user

In [ ]:
class info:
  def __init__(self,name,sec_name,reg_no):
    self.name=name
    self.sec_name=sec_name
    self.reg_no=reg_no
l1=[]
for i in range(20):
  name=input("Enter the name:")
  sec=input("Enter the section:")
  reg=int(input("Enter the registration number:"))
  l1[i]=info(name,sec,reg)

Enter the name:ankit
Enter the section:k
Enter the registration number:12

IndexError: list assignment index out of range

In [ ]:
class abc:
  a=1 #class varaiable
  def f1(self):
    global b
    b=15
    print("I am from f1")
  def f2(self):
    print(b,"I am from f2 function")
    print("I am from f2")
  a=5
  print(a)
  print(b)
a1=abc()
a1.f1()
a1.f2()
a2=abc()
print(a2.a)

5
15
I am from f1
15 I am from f2 function
I am from f2
5

In [ ]:
#13th June
class abc:
  a=1 #class variable
  def f1(self):
    global c
    c=15
    print("I am from f1")
  def f2(self):
    print(c,"I am from f2 function")
    print("I am from f2")
  a=5
a1=abc()
print(c)
a1.f1()

5
15
15
I am from f1

In [ ]:
#13th June
class person:
  addr="Jalandhar" #class variable
  def __init__(self,name,age):
    self.n=name   #instance/object variables
    self.a=age
    print(self.n,self.a)
p1=person("amit",23)
p2=person("namit",30)
print(p1.addr)
print(p2.addr)
print(person.addr)

amit 23
namit 30
Jalandhar
Jalandhar
Jalandhar

In [ ]:
#public variables/private vaiables
class person:
  def __init__(self,name,age):
    self.n=name   #public variable
    self.__a=age    #private variable
    #print(self.__a) #accessible within program
p1=person("amit",23)
p2=person("namit",30)
#print(p1.__a) not accessible because it is private
print(p1.n,p1._person__a) #to access private variable outside the class defininition

amit 23

In [ ]:
#private methods
class A:
  def __init__(self):
    print("I am initialized")
  def display(self):    #public method
    print("I am a public method")
  def __show(self):     #private method
    print("I am private method")

a1=A()
a1.display() #private method is called
a1._A__show() #public method is called outside the class definition

I am initialized
I am a public method
I am private method

In [ ]:
#To display total number of objects created
class student:
  k=0
  section="K22FG" #class variable
  def __init__(self,name,reg):
    self.n=name
    self.r=reg
    student.k=student.k+1
students=[]
for i in range(1,3):
  n=input("enter name of student")
  a=int(input("enter age of stduent"))
  students.append(student(n,a))
print("total objects",student.k)
#print(students)
for i in students:
  print(i.n)
  print(i.r)
  print(i.section)

enter name of studentamit
enter age of stduent12
enter name of studentanh
enter age of stduent23
total objects 2
amit
12
K22FG
anh
23
K22FG

In [ ]:
class one:
  counter=0
  def __init__(self):
    one.counter+=1
l1=[]
for i in range(10):
  l1.append(one())
print(one.counter)

10

In [ ]:
#Same methods in class definition
class two:
  def ankit(self):
    print("first name is Ankit")
  def ankit(self):
    print("last name is Rangra")
  def ankit(self):
    print("full name is Ankit Rangra")
a=two()
a.ankit()

full name is Ankit Rangra

In [ ]:
#function call inside definition of another function

class Three:
  def __init__(self, num):
    self.num = num

  def show_square(self):
    square = self.area_square(self.num)
    print("Square = ",square)

  def area_square(self, a):
    return a * a
practice = Three(12)
practice.show_square()

Square =  144

In [ ]:
class three:
  def __init__(self):
    self.a=1
  def first(self):
    self.b=3
    print("I am from function first",self.b)
  def second(self):
    #print(self.a+self.b)
    self.first()

a=three()
#a.first()
a.second()

I am from function first 3

In [ ]:
#call function inside the class but defined outside the class

def outsider():
  print("I am defined outside")
class check:
  def __init__(self):
    print("I am initialized")
  def insider(self):
    outsider()
    print("I am insider but being called from outsider")
c=check()
c.insider()

I am initialized
I am defined outside
I am insider but being called from outsider

In [ ]:
def area_square(a):
  return a * a
class Three:
  def __init__(self, num):
    self.num = num
  def show_square(self):
    self.square = area_square(self.num)
    print("Square = ",self.square)
practice = Three(12)
practice.show_square()

Square =  144

In [ ]:
class three:
  def __init__(self):
    print("the object is created")
a1=three()
a2=three()
a3=three()
#del a
print(a1,a2,a3)

the object is created
the object is created
the object is created
<__main__.three object at 0x79c21a54cdc0> <__main__.three object at 0x79c21a54e7d0> <__main__.three object at 0x79c21a54eb30>

In [ ]:
class abc():
  def __init__(self,first):
    self.f=first
  def display(self):
    print("value of first variable",self.f)
obj1=abc(1)
obj1.display()
print(hasattr(obj1,'f'))
getattr(obj1,'f')
setattr(obj1,'f',10)
getattr(obj1,'f')
#delattr(obj1,'f')
print(hasattr(obj1,'f'))

value of first variable 1
True
True

In [ ]:
#Built -In class attributes
class three:
  '''hello This is class definition'''
  def __init__(self,x,y):
    print("the object is created")
    self.var1=x
    self.var2=y
  def display(self):
    print(self.var1,self.var2)
a1=three(1,2)
a2=three(3,4)
a3=three(4,5)
a1.display()
print(a1.__dict__)
print(a1.__doc__)
print(a1.__module__)
print(abc.__bases__)

the object is created
the object is created
the object is created
1 2
{'var1': 1, 'var2': 2}
hello This is class definition
__main__
(<class 'object'>,)

In [ ]:
#14th June
l=['abc','def','g','hrf','23','45','gth']
print('&'.join(l))

TypeError: sequence item 0: expected str instance, int found

In [ ]:
s="Hello dear all"
r,d,f=s.split()
print(r)
print(d)
print(f)

Hello
dear
all

In [ ]:
listOne  =  ['a', 'b', 'c', 'd']
listTwo =  ['e', 'f', 'g']
#newList = listOne + listTwo
#newList = extend(listOne, listTwo)
listOne.extend(listTwo)
newList=listOne
#newList.extend(listOne, listTwo)
print(listOne)
print(newList)
print('extend'.__doc__)

['a', 'b', 'c', 'd', 'e', 'f', 'g']
['a', 'b', 'c', 'd', 'e', 'f', 'g']
str(object='') -> str
str(bytes_or_buffer[, encoding[, errors]]) -> str

Create a new string object from the given object. If encoding or
errors is specified, then the object must expose a data buffer
that will be decoded using the given encoding and error handler.
Otherwise, returns the result of object.__str__() (if defined)
or repr(object).
encoding defaults to sys.getdefaultencoding().
errors defaults to 'strict'.

In [ ]:
l=["abc","def","abc","%"]
print(list(set(l)))

['%', 'abc', 'def']

In [ ]:
l=[10,20,30,40]
l.pop(2)
print(l)

[10, 20, 40]

In [ ]:
l1=[1,2,3,4,5]
#print(l1[7])
for i in range(11):
  print(i)
  l1.pop()
print(l1)

0
1
2
3
4
5

IndexError: pop from empty list

In [ ]:
#single inheritance
class p:
  def pf(self):
    print("I am defined inside parent class")

class c(p):
  pass

p1=p()
c1=c()
p1.pf()
c1.pf()

I am defined inside parent class
I am defined inside parent class

In [ ]:
class p:
  check=1
  def pf(self):
    print("I am defined inside parent class")

class c(p):
  def cf(Self):
    print("I am from child class")

p1=p()
c1=c()
p1.pf()
c1.pf()
print(p.check)
print(c.check)

I am defined inside parent class
I am defined inside parent class
1
1

In [ ]:
class p:
  check=1
  def pf(self):
    print("I am a public method defined inside parent class")
  def __prf(self):
    print("I am a public method defined inside parent class")

class c(p):
  def cf(Self):
    print("I am from child class")

p1=p()
c1=c()
p1.pf()
c1.pf()
#c1.__prf()
print(p.check)
print(c.check)

I am a public method defined inside parent class
I am a public method defined inside parent class
1
1

In [ ]:
class p:
  check=1
  def __init__(self,v):
    self.v=v
  def pf(self):
    print(self.v)
    print("I am a public method defined inside parent class")
  def __prf(self):
    print("I am a public method defined inside parent class")

class c(p):
  def __init__(self,a):
    self.a=a
  def __init__(self,a,b):
    self.a=a
    self.b=b
  def cf(self):
    print(self.a)
    print(self.b)
    print("I am from child class")

p1=p(2)
c1=c(7,4)
c1.cf()
p1.pf()
#print(p.check)
#print(c.check)

7
4
I am from child class
2
I am a public method defined inside parent class

In [ ]:
#single inheritance
#multiple inheritance
#multilevel inherical
#hierarchical inheritance
#hybrid

In [ ]:
#multiple inheritance

class parent1:
  def __init__(self):
    print("Hi this is from parent1")
    super(parent1,self).__init__()

class parent2:
  def __init__(self):
    print("Hi this is from parent2")
    super(parent2,self).__init__()

class parent3:
  def __init__(self):
    print("I am third parent")
    super(parent3,self).__init__()

class child(parent3,parent2,parent1):
  pass

c1=child()

I am third parent
Hi this is from parent2
Hi this is from parent1

In [ ]:
class parent1:
  def __init__(self):
    print("hi this is from parent 1")
    #super(parent1,self).__init__()
class parent2:
  def __init__(self):
    print("this is parent 2")
    super(parent2,self).__init__()
class parent3:
  def __init__(self):
    print("this is parent 3")
    super(parent3,self).__init__()
class child(parent2,parent3,parent1):
  def __init__(self):
    super(child,self).__init__()
    print("i am found")
c1=child()

this is parent 2
this is parent 3
hi this is from parent 1
i am found

In [ ]:

class Parent1:
    def __init__(self):
        print("Hi this is from parent1")


class Parent2(Parent1):  # Inherit from Parent1
    def __init__(self):
        super().__init__()  # Call Parent1 constructor first
        print("Hi this is from parent2")


class Parent3(Parent2):  # Inherit from Parent2 (indirectly from Parent1)
    def __init__(self):
        super().__init__()  # Call Parent2 constructor first (which calls Parent1)
        print("I am third parent")


class Parent4(Parent3):  # Inherit from Parent3 (indirectly from Parent1 and Parent2)
    def __init__(self):
        super().__init__()  # Call Parent3 constructor first (which calls Parent2 and Parent1)
        print("I am from parent 4")


class Child(Parent4):  # Inherit the combined functionality
    def __init__(self):
        super().__init__()  # Call Parent4 constructor first (which calls Parent3, Parent2, and Parent1)
        print("I am from child class")


c1 = Child()

Hi this is from parent1
Hi this is from parent2
I am third parent
I am from parent 4
I am from child class

In [ ]:
class parent1(object):
  colour="red"
  def __init__(self,shape):
    self.s=shape
    print("shape is",self.s)
    print("Parent1")
class parent2:
  def __init__(self,texture):
    self.t=texture
    print("texture is",self.t)
    print("I am from parent2")

class child(parent1,parent2):
  def __init__(self,shape,texture):
    parent1.__init__(self, shape)
    parent2.__init__(self, texture)
    print("colour is",parent1.colour)

c1=child("square","smooth")

shape is square
Parent1
texture is smooth
I am from parent2
colour is red

In [ ]:
class Parent1:
  def __init__(self):
    print("Hi this is from parent1")

class Parent2:
  def __init__(self):
    super().__init__()
    print("Hi this is from parent2")

class Child(Parent2, Parent1):
  def __init__(self):
    super().__init__()  # Call parent constructors with super()

# Create an object
c = Child()

Hi this is from parent1
Hi this is from parent2

In [ ]:
#multiple inheritance
class parent1:
  def __init__(self):
    print("Parent1")

class parent2:
  def __init__(self):
    super().__init__()
    print("Parent2")

class parent3:
  def __init__(self):
    super().__init__()
    print("parent3")

class child(parent2,parent3,parent1):
  def __init__(self):
    super().__init__()
    print("child")

c=child()

Parent1
parent3
Parent2
child

In [ ]:
class parent1:
  def __init__(self):
    print("parent1 ")
class parent2:
  def __init__(self):
    super().__init__()
    print("parent2")
class parent3:
  def __init__(self):
    super().__init__()
    print("parent3")
class child(parent2,parent3,parent1):
  def __init__(self):
    super().__init__()
    print("child")
c=child()

parent1
parent3
parent2
child

In [ ]:
#use of super function #MRO

class parent1:
  def __init__(self):
    print("parent1")
    #super().__init__()


class parent2:
  def __init__(self):
    super().__init__()
    print("parent2")

class child(parent2,parent1):
  def __init__(self):
    print("child")
    super().__init__()

c=child()

child
parent1
parent2

In [ ]:
class Parent1:
  def __init__(self, a,b):
    self.a = a
    super().__init__(a,b)

class Parent2:
  def __init__(self,a,b):
    self.b = b

class Child(Parent1, Parent2):
  def __init__(self, a, b, c):
    super().__init__(a,b)
    self.c = c
  def display(self):
    print(f"Value1: {self.a}")
    print(f"Value2: {self.b}")
    print(f"Value3: {self.c}")

c1 = Child(10,20,30)
c1.display()

Value1: 10
Value2: 20
Value3: 30

In [ ]:
class p1:
  def name(self,a):
    self.a=a
    print("this is p1 class function called.")
    print("first name is:",self.a)

class p2:
  def name(self,a,b):
    self.a=a
    self.b=b
    print("this is p2 class function called.")
    print("Full name is:",self.a,self.b)

class c(p1,p2):
  def name(self):
    print("this is child class function called")

c1=c()
c1.name()
p=p1()
p.name("Ankit")
op2=p2()
op2.name("Ankit","Rangra")

this is child class function called
this is p1 class function called.
first name is: Ankit
this is p2 class function called.
Full name is: Ankit Rangra

In [ ]:
class ParentA:
  def method():
    print("This is ParentA")

class ParentB:
  def method():
    print("This is ParentB")

class ParentC:
  def method():
    print("This is ParentC")

class Child(ParentA, ParentB, ParentC):
  def method():
    print("This is Child")

ParentA.method()
ParentB.method()
ParentC.method()

#c = Child()
#c.method()

This is ParentA
This is ParentB
This is ParentC

In [ ]:
#Hierarchical Inheritance

class parent:
  def __init__(self):
    print("I am from parent constructor")
  def method1(self):
    print("I am from parent class method")

class child1(parent):
  def __init__(self):
    print("I am from child constructor")

class child2(parent):
  def __init__(self):
    print("I am from child constructor")

class child3(parent):
  def __init__(self):
    print("I am from child constructor")

c1=child1()
c2=child2()
c3=child3()
c1.method1()
c2.method1()
c3.method1()

I am from child constructor
I am from child constructor
I am from child constructor
I am from parent class method
I am from parent class method
I am from parent class method

In [ ]:
#ankit
class department:
  def __init__(self):
    print("department")
class cse(department):
  def __init__(self):
    super().__init__()
    print("cse")
class hos(cse):
  def __init__(self):
    super().__init__()
    print("hos")
class hod1(hos):
  def __init__(self):
    super().__init__()
    print("hod1")
class hod2(hos):
  def __init__(self):
    super().__init__()
    print("hod2")
class hod3(hos):
  def __init__(self):
    super().__init__()
    print("hod3")
class sib1(hod2):
  def __init__(self):
    super().__init__()
    print("sib1")
class sib2(hod2):
  def __init__(self):
    super().__init__()
    print("sib2")
C=sib1()
print("\n")
c=sib2()

department
cse
hos
hod1
hod2
hod3
sib1


department
cse
hos
hod1
hod2
hod3
sib2

In [ ]:
class CSE_HOS:
  def __init__(self):
    self.name = "CSE Head of School"

class HOD1_Networks(CSE_HOS):
  def __init__(self):
    super().__init__()
    self.branch_name = "Networks"

class HOD2_Prog(CSE_HOS):
  def __init__(self):
    super().__init__()
    self.branch_name = "Programming"

class HOD3_Cloud(CSE_HOS):
  def __init__(self):
    super().__init__()
    self.branch_name = "Cloud Computing"

class F5(HOD1_Networks):
  def __init__(self):
    super().__init__()
    self.level = "Fifth Year"

class BT(HOD1_Networks):
  def __init__(self):
    super().__init__()
    self.level = "B.Tech"

class Four(HOD2_Prog):
  def __init__(self):
    super().__init__()
    self.level = "Fourth Year"

class MT(HOD3_Cloud):
  def __init__(self):
    super().__init__()
    self.level = "M.Tech"

networks = F5()
print(networks.name, networks.branch_name, networks.level)

CSE Head of School Networks Fifth Year

In [ ]:
#21 june

class P:
  def a(self):
    print("I'm from class P")

class C1(P):
  def b(self):
    print("I'm from class C1")

class C2(P):
  def c(self):
    print("I'm from class C2")

class C3(C2, C1):
  def d(self):
    print("I'm from class C3")

d = C3()

d.a()
d.b()
d.c()
d.d()

I'm from class P
I'm from class C1
I'm from class C2
I'm from class C3

In [ ]:
class P:
  def show(self):
    print("Class P")

class C1(P):
  def display_c1(self):
    print("Class C1")

class C2(P):
  def display_c2(self):
    print("Class C2")

class C3(C1, C2):
  def display_c3(self):
    print("class c3")

obj = C3()
obj.show()
obj.display_c1()
obj.display_c2()
obj.display_c3()

Class P
Class C1
Class C2
class c3

In [ ]:
class P:
  def __init__(self, name):
    self.name = name
  def speak(self):
    pass

class C1(P):
  def speak(self):
    print("I am from C1")
    return f"This is {self.name}"

class C2(P):
  def speak(self):
    print("I am from C2")
    return f"This is {self.name}"

a = C1("Alice")
b = C2("Bob")
print(a.speak())
print(b.speak())

12

I am from C1
This is Alice
I am from C2
This is Bob

12

In [ ]:
class m:
  a = 10
  b = [None] * 3

class c1(m):
  def __init__(self):
    print("This is the first child")

  def sca(self):
    for i in range(3):
      self.b[i] = input(f"Enter name {i}: ")

class c2(m):
  def __init__(self):
    print("This is the second child")

  def disp(self):
    for j in range(3):
      print(f'{j} name is: {self.b[j]}')

class c3(c1, c2):
  def __init__(self):
    super().__init__()
    self.obj1 = c1()
    self.obj2 = c2()
    self.obj1.sca()
    self.obj2.disp()


c3_instance = c3()

This is the first child
This is the first child
This is the second child
Enter name 0: vishu
Enter name 1: Yunesh
Enter name 2: Akshat
0 name is: vishu
1 name is: Yunesh
2 name is: Akshat

In [ ]:
class p:
  def __init__(self,y_temp):
    self.y_temp=y_temp
    print("this is the parent class and yesterday's temp was ",y_temp,"*C",sep="")

class c1(p):
  def __init__(self,tm_temp,):
    self.tm_temp=tm_temp
    print("this is the child1 class and today's morning temp is ",tm_temp,"*C",sep="")

class c2(p):
  def __init__(self,te_temp):
    self.te_temp=te_temp
    print("this is the child2 class and today's evening temp will be ",te_temp,"*C",sep="")

class c3(c1,c2):
  def __init__(self,tom_temp):
    self.tom_temp=tom_temp
    print("this is the child3 class and tomorrow's temp will be",tom_temp)


c=c3(23)
p(21)
c1(19)
c2(24)
print("Temperature record: \nYesterday's temp: ",p(2).y_temp)
print("today morning: ",self.tm_temp," and today evening: ",self.te_temp,"\ntomorrow's temp: ",self.tom_temp)

this is the child3 class and tomorrow's temp will be 23
this is the parent class and yesterday's temp was 21*C
this is the child1 class and today's morning temp is 19*C
this is the child2 class and today's evening temp will be 24*C
this is the parent class and yesterday's temp was 21*C
Temperature record:
Yesterday's temp:  21

In [ ]:
#24th June

def mincoin(z,a,b):
  if((5*a)+b<z):
    return -1
  elif(5*a+b==z):
    print("Minimum number of 5 coins: ",a)
    print("Minimum number of 1 rupee coins: ",b)
  else:
    coin5=z//5
    coin1=z%5
    if (coin1<b):
      return -1
    else:
      print("Minimum number of 5 coins: ",coin5)
      print("Minimum number of 1 rupee coins: ",coin1)

a=int(input("Enter the total amount: "))
b=int(input("Enter amount of 5 rupees coins: "))
c=int(input("Enter amount of 1 rupee coins: "))
mincoin(a,b,c)

Enter the total amount: 200
Enter amount of 5 rupees coins: 10
Enter amount of 1 rupee coins: 2

-1

In [ ]:
def coins(x, y, z):
  for k in range(min(z // 5, x), -1, -1):
    remaining_amount = z - 5 * k
    if remaining_amount <= y:
      return k, remaining_amount
  return -1
x = 20
y = 5
z = 7
result = coins(x, y, z)
print(result)

(1, 2)

In [ ]:
x = int(input("Enter the number of 5 rupee coins: "))
y = int(input("Enter the number of 1 rupee coins: "))
z = int(input("Enter the total amount: "))

def check(x, y, z):
  if z > x * 5 + y:
    print("-1")
    return
  c5 = min(z//5,x)
  c1 = z - c5 * 5

  if c1 <= y:
    print(f"Number of 1 rupee coins: {c1}")
    print(f"Number of 5 rupee coins: {c5}")
  else:
    print("-1")

check(x, y, z)

Enter the number of 5 rupee coins: 8
Enter the number of 1 rupee coins: 5
Enter the total amount: 45
Number of 1 rupee coins: 5
Number of 5 rupee coins: 8

In [ ]:
def total_coins(x, y, z):

  five_coins = min(z // 5, x)

  for i in range(five_coins, -1, -1):
    final = z - i * 5
    if final <= y:
      j = final
    return i, j

  return -1

x = int(input("enter the 5 rupee coin:"))
y = int(input("enter the 1 rupee coin:"))
z = int(input("final amount:"))

result = total_coins(x, y, z)
print(result)

enter the 5 rupee coin:8
enter the 1 rupee coin:5
final amount:45
(8, 5)

In [ ]:
def calculate_coins(amount, five_rupee, one_rupee):
  five_rupee = min(amount // 5, five_rupee)
  remaining = amount - five_rupee * 5

  required_one_rupee = remaining
  one_rupee = min(required_one_rupee, one_rupee)

  if remaining - one_rupee != 0:
    return None

  return five_rupee, one_rupee

amount = int(input("Enter the amount to be paid (in rupees): "))
five_rupee = int(input("Enter the number of five rupee coins: "))
one_rupee = int(input("Enter the number of one rupee coins: "))

five_rupee, one_rupee = calculate_coins(amount, five_rupee, one_rupee)

if five_rupee is None:
  print("Exact change is not possible with your available coins.")
else:
  total_coins = five_rupee + one_rupee
print(f"Minimum number of coins to give: {total_coins}")
print(f"Number of 5 rupee coins: {five_rupee}")
print(f"Number of 1 rupee coins: {one_rupee}")

Enter the amount to be paid (in rupees): 23
Enter the number of five rupee coins: 10
Enter the number of one rupee coins: 5
Minimum number of coins to give: 7
Number of 5 rupee coins: 4
Number of 1 rupee coins: 3

In [ ]:
def exact_price(total_amount):
five_rupee_coins = int(input("Enter the number of five rupee coins you have: "))
one_rupee_coins = int(input("Enter the number of one rupee coins you have: "))
max_five_rupee_coins = min(total_amount // 5, five_rupee_coins)

for five_rupee_coins_used in range(max_five_rupee_coins, -1, -1):
one_rupee_coins_needed = total_amount - (five_rupee_coins_used * 5)
if one_rupee_coins_needed <= one_rupee_coins:
return five_rupee_coins_used, one_rupee_coins_needed

return -1

total_amount = int(input("Enter the price of the item: "))

result = exact_price(total_amount)
if result != -1:
five_rupee_coins_used, one_rupee_coins_needed = result
print("The five rupee coins required are:", five_rupee_coins_used, ", The one rupee coins required are:", one_rupee_coins_needed)
else:
print("Enough change is not available")

In [ ]:
def minCoins(x, y, z):

  max_5_coins = x

  remaining_amount = z - (5 * max_5_coins)

  min_1_coins = remaining_amount

  total_coins = max_5_coins + min_1_coins

  if total_coins <= x + y:
    return [max_5_coins, min_1_coins]
  else:
    return [-1]

x = 2
y = 5
z = 12
print(minCoins(x, y, z))

x = 4
y = 3
z = 21
print(minCoins(x, y, z))

x = 2
y = 3
z = 18
print(minCoins(x, y, z))

[2, 2]
[4, 1]
[-1]

In [ ]:
#comprehension
#list, sets,dictionary

l=[1,2,3,4,5,6,7,8,9]
ml=[i*3 for i in range(0,10) if i>=5]

#for i in l:
#  if(i%2==0):
#    ml.append(i)
print(ml)

[15, 18, 21, 24, 27]

In [ ]:
s={1,2,3,1,2,3,1,2,3,'apple','def'}
print(s)
e=set()
e.add('dfcgvbhj')
print(e)


ns={i*3 for i in range(0,10) if i>=5}
print(ns)

{1, 2, 'def', 3, 'apple'}
{'dfcgvbhj'}
{15, 18, 21, 24, 27}

In [ ]:
s={1,2,3,1,2,3,1,2,3,'apple','def'}
print(s)

{1, 2, 'def', 3, 'apple'}

In [ ]:
l=['ankit','abhi','yunesh','amit','akshat']
d={i:i*2 for i in range(0,10)}
print(d)

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [ ]:
l=["Ankit","Abhi","Yunesh","Abhi","Akshat"]
d={i:l[i] for i in range(len(l))}
print(d)

{0: 'Ankit', 1: 'Abhi', 2: 'Yunesh', 3: 'Abhi', 4: 'Akshat'}

In [ ]:
nl=[[i for i in range(2)] for j in range(7)]
print(nl)

[[0, 1], [0, 1], [0, 1], [0, 1], [0, 1], [0, 1], [0, 1]]

In [ ]:
#lamda function
g=lambda a,b:a*b
print(g(10,2))

20

In [26]:
list1=[('Ankit', 89, 95, 94), ('Krishna', 90, 93, 92), ('Prashant', 88, 91, 93), ('Chaman', 89, 91, 90), ('Her', 89, 96, 93)]
list1.sort(key=lambda x:x[2])

print(list1)

[('Prashant', 88, 91, 93), ('Chaman', 89, 91, 90), ('Krishna', 90, 93, 92), ('Ankit', 89, 95, 94), ('Her', 89, 96, 93)]

In [30]:
l=[4,2,1,-6,-3,-9,0]
print(max(l))

#l.sort(key=lambda x:x*2)
#print(l)

4

In [18]:
l=['abc','de','ghikjgh','w','we']
l.sort(key=len)
print(l)

['w', 'de', 'we', 'abc', 'ghikjgh']

In [36]:
print('20'+34)

TypeError: can only concatenate str (not "int") to str

In [37]:
print(x)

NameError: name 'x' is not defined

In [44]:
try :
  x=6
  print(x)
  print(22+34)
except (NameError,TypeError):
  print("you are giving wrong statements")
else:
  print("SUCESS")

6
56
SUCESS

In [46]:
try:
  a=10
  print(a)
  raise ValueError
except:
  print("there is an exception")
  raise

10
there is an exception

ValueError:

In [48]:
class pythonError(Exception):
  def __init__(self,z):
    self.z=z
  def __str__(self):
    return repr(self.z)
try:
  raise pythonError(2)
except pythonError:
  print("You are done")

You are done

In [49]:
try :
  print("hello")
  raise ValueError
finally:
  print("It is done")

hello
It is done

ValueError:

In [50]:
try :
  print("hello")
  raise ValueError
except:
  print("exception is there")
finally:
  print("It is done")

hello
exception is there
It is done