In [8]:

import pandas as pd
titanic_data = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [121]:
 # install pandas
pd.set_option('display.max_rows', None)
# Reset display options to the default (limit number of rows)

In [123]:
titanic_data # prints all data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.00,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.00,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.00,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.00,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.00,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.00,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.00,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.00,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.00,0,0,PC 17601,27.7208,NaN,C
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
33,34,0,2,"Wheadon, Mr. Edward H",male,66.00,0,0,C.A. 24579,10.5000,NaN,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.00,1,0,PC 17604,82.1708,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.00,1,0,113789,52.0000,NaN,S
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.00,0,0,A./5. 2152,8.0500,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.00,2,0,345764,18.0000,NaN,S
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651,11.2417,NaN,C
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,9.4750,NaN,S
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.00,1,0,11668,21.0000,NaN,S
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.00,0,0,330958,7.8792,NaN,Q
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
46,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1,0,349237,17.8000,NaN,S
50,51,0,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,NaN,S
51,52,0,3,"Nosworthy, Mr. Richard Cater",male,21.00,0,0,A/4. 39886,7.8000,NaN,S
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,1,0,PC 17572,76.7292,D33,C
53,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29.00,1,0,2926,26.0000,NaN,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.00,0,1,113509,61.9792,B30,C
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
56,57,1,2,"Rugg, Miss. Emily",female,21.00,0,0,C.A. 31026,10.5000,NaN,S
57,58,0,3,"Novel, Mr. Mansouer",male,28.50,0,0,2697,7.2292,NaN,C
58,59,1,2,"West, Miss. Constance Mirium",female,5.00,1,2,C.A. 34651,27.7500,NaN,S
59,60,0,3,"Goodwin, Master. William Frederick",male,11.00,5,2,CA 2144,46.9000,NaN,S
60,61,0,3,"Sirayanian, Mr. Orsen",male,22.00,0,0,2669,7.2292,NaN,C
61,62,1,1,"Icard, Miss. Amelie",female,38.00,0,0,113572,80.0000,B28,NaN
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.00,1,0,36973,83.4750,C83,S
63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S
64,65,0,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C
65,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.00,0,0,C.A. 29395,10.5000,F33,S
67,68,0,3,"Crease, Mr. Ernest James",male,19.00,0,0,S.P. 3464,8.1583,NaN,S
68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17.00,4,2,3101281,7.9250,NaN,S
69,70,0,3,"Kink, Mr. Vincenz",male,26.00,2,0,315151,8.6625,NaN,S
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.00,0,0,C.A. 33111,10.5000,NaN,S
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.00,5,2,CA 2144,46.9000,NaN,S
72,73,0,2,"Hood, Mr. Ambrose Jr",male,21.00,0,0,S.O.C. 14879,73.5000,NaN,S
73,74,0,3,"Chronopoulos, Mr. Apostolos",male,26.00,1,0,2680,14.4542,NaN,C
74,75,1,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.00,0,0,348123,7.6500,F G73,S
76,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
79,80,1,3,"Dowdell, Miss. Elizabeth",female,30.00,0,0,364516,12.4750,NaN,S
80,81,0,3,"Waelens, Mr. Achille",male,22.00,0,0,345767,9.0000,NaN,S
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,NaN,S
82,83,1,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q
83,84,0,1,"Carrau, Mr. Francisco M",male,28.00,0,0,113059,47.1000,NaN,S
84,85,1,2,"Ilett, Miss. Bertha",female,17.00,0,0,SO/C 14885,10.5000,NaN,S
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.00,3,0,3101278,15.8500,NaN,S
86,87,0,3,"Ford, Mr. William Neal",male,16.00,1,3,W./C. 6608,34.3750,NaN,S
87,88,0,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.00,3,2,19950,263.0000,C23 C25 C27,S
89,90,0,3,"Celotti, Mr. Francesco",male,24.00,0,0,343275,8.0500,NaN,S
90,91,0,3,"Christmann, Mr. Emil",male,29.00,0,0,343276,8.0500,NaN,S
91,92,0,3,"Andreasson, Mr. Paul Edvin",male,20.00,0,0,347466,7.8542,NaN,S
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.00,1,0,W.E.P. 5734,61.1750,E31,S
93,94,0,3,"Dean, Mr. Bertram Frank",male,26.00,1,2,C.A. 2315,20.5750,NaN,S
94,95,0,3,"Coxon, Mr. Daniel",male,59.00,0,0,364500,7.2500,NaN,S
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.00,0,0,PC 17754,34.6542,A5,C
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.00,0,1,PC 17759,63.3583,D10 D12,C
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,0,1,231919,23.0000,NaN,S
99,100,0,2,"Kantor, Mr. Sinai",male,34.00,1,0,244367,26.0000,NaN,S
100,101,0,3,"Petranec, Miss. Matilda",female,28.00,0,0,349245,7.8958,NaN,S
101,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S
102,103,0,1,"White, Mr. Richard Frasar",male,21.00,0,1,35281,77.2875,D26,S
103,104,0,3,"Johansson, Mr. Gustaf Joel",male,33.00,0,0,7540,8.6542,NaN,S
104,105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37.00,2,0,3101276,7.9250,NaN,S
105,106,0,3,"Mionoff, Mr. Stoytcho",male,28.00,0,0,349207,7.8958,NaN,S
106,107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21.00,0,0,343120,7.6500,NaN,S
107,108,1,3,"Moss, Mr. Albert Johan",male,NaN,0,0,312991,7.7750,NaN,S
108,109,0,3,"Rekic, Mr. Tido",male,38.00,0,0,349249,7.8958,NaN,S
109,110,1,3,"Moran, Miss. Bertha",female,NaN,1,0,371110,24.1500,NaN,Q
110,111,0,1,"Porter, Mr. Walter Chamberlain",male,47.00,0,0,110465,52.0000,C110,S
111,112,0,3,"Zabour, Miss. Hileni",female,14.50,1,0,2665,14.4542,NaN,C
112,113,0,3,"Barton, Mr. David John",male,22.00,0,0,324669,8.0500,NaN,S
113,114,0,3,"Jussila, Miss. Katriina",female,20.00,1,0,4136,9.8250,NaN,S
114,115,0,3,"Attalah, Miss. Malake",female,17.00,0,0,2627,14.4583,NaN,C
115,116,0,3,"Pekoniemi, Mr. Edvard",male,21.00,0,0,STON/O 2. 3101294,7.9250,NaN,S
116,117,0,3,"Connors, Mr. Patrick",male,70.50,0,0,370369,7.7500,NaN,Q
117,118,0,2,"Turpin, Mr. William John Robert",male,29.00,1,0,11668,21.0000,NaN,S
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.00,0,1,PC 17558,247.5208,B58 B60,C
119,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.00,4,2,347082,31.2750,NaN,S
120,121,0,2,"Hickman, Mr. Stanley George",male,21.00,2,0,S.O.C. 14879,73.5000,NaN,S
121,122,0,3,"Moore, Mr. Leonard Charles",male,NaN,0,0,A4. 54510,8.0500,NaN,S
122,123,0,2,"Nasser, Mr. Nicholas",male,32.50,1,0,237736,30.0708,NaN,C
123,124,1,2,"Webber, Miss. Susan",female,32.50,0,0,27267,13.0000,E101,S
124,125,0,1,"White, Mr. Percival Wayland",male,54.00,0,1,35281,77.2875,D26,S
125,126,1,3,"Nicola-Yarred, Master. Elias",male,12.00,1,0,2651,11.2417,NaN,C
126,127,0,3,"McMahon, Mr. Martin",male,NaN,0,0,370372,7.7500,NaN,Q
127,128,1,3,"Madsen, Mr. Fridtjof Arne",male,24.00,0,0,C 17369,7.1417,NaN,S
128,129,1,3,"Peter, Miss. Anna",female,NaN,1,1,2668,22.3583,F E69,C
129,130,0,3,"Ekstrom, Mr. Johan",male,45.00,0,0,347061,6.9750,NaN,S
130,131,0,3,"Drazenoic, Mr. Jozef",male,33.00,0,0,349241,7.8958,NaN,C
131,132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20.00,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S
132,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.00,1,0,A/5. 3337,14.5000,NaN,S
133,134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.00,1,0,228414,26.0000,NaN,S
134,135,0,2,"Sobey, Mr. Samuel James Hayden",male,25.00,0,0,C.A. 29178,13.0000,NaN,S
135,136,0,2,"Richard, Mr. Emile",male,23.00,0,0,SC/PARIS 2133,15.0458,NaN,C
136,137,1,1,"Newsom, Miss. Helen Monypeny",female,19.00,0,2,11752,26.2833,D47,S
137,138,0,1,"Futrelle, Mr. Jacques Heath",male,37.00,1,0,113803,53.1000,C123,S
138,139,0,3,"Osen, Mr. Olaf Elon",male,16.00,0,0,7534,9.2167,NaN,S
139,140,0,1,"Giglio, Mr. Victor",male,24.00,0,0,PC 17593,79.2000,B86,C
140,141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,NaN,C
141,142,1,3,"Nysten, Miss. Anna Sofia",female,22.00,0,0,347081,7.7500,NaN,S
142,143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",female,24.00,1,0,STON/O2. 3101279,15.8500,NaN,S
143,144,0,3,"Burke, Mr. Jeremiah",male,19.00,0,0,365222,6.7500,NaN,Q
144,145,0,2,"Andrew, Mr. Edgardo Samuel",male,18.00,0,0,231945,11.5000,NaN,S
145,146,0,2,"Nicholls, Mr. Joseph Charles",male,19.00,1,1,C.A. 33112,36.7500,NaN,S
146,147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.00,0,0,350043,7.7958,NaN,S
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.00,2,2,W./C. 6608,34.3750,NaN,S
148,149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.50,0,2,230080,26.0000,F2,S
149,150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42.00,0,0,244310,13.0000,NaN,S
150,151,0,2,"Bateman, Rev. Robert James",male,51.00,0,0,S.O.P. 1166,12.5250,NaN,S
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.00,1,0,113776,66.6000,C2,S
152,153,0,3,"Meo, Mr. Alfonzo",male,55.50,0,0,A.5. 11206,8.0500,NaN,S
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.50,0,2,A/5. 851,14.5000,NaN,S
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
155,156,0,1,"Williams, Mr. Charles Duane",male,51.00,0,1,PC 17597,61.3792,NaN,C
156,157,1,3,"Gilnagh, Miss. Katherine ""Katie""",female,16.00,0,0,35851,7.7333,NaN,Q
157,158,0,3,"Corn, Mr. Harry",male,30.00,0,0,SOTON/OQ 392090,8.0500,NaN,S
158,159,0,3,"Smiljanic, Mr. Mile",male,NaN,0,0,315037,8.6625,NaN,S
159,160,0,3,"Sage, Master. Thomas Henry",male,NaN,8,2,CA. 2343,69.5500,NaN,S
160,161,0,3,"Cribb, Mr. John Hatfield",male,44.00,0,1,371362,16.1000,NaN,S
161,162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40.00,0,0,C.A. 33595,15.7500,NaN,S
162,163,0,3,"Bengtsson, Mr. John Viktor",male,26.00,0,0,347068,7.7750,NaN,S
163,164,0,3,"Calic, Mr. Jovo",male,17.00,0,0,315093,8.6625,NaN,S
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S
165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.00,0,2,363291,20.5250,NaN,S
166,167,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,NaN,0,1,113505,55.0000,E33,S
167,168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.00,1,4,347088,27.9000,NaN,S
168,169,0,1,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S
169,170,0,3,"Ling, Mr. Lee",male,28.00,0,0,1601,56.4958,NaN,S
170,171,0,1,"Van der hoef, Mr. Wyckoff",male,61.00,0,0,111240,33.5000,B19,S
171,172,0,3,"Rice, Master. Arthur",male,4.00,4,1,382652,29.1250,NaN,Q
172,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,NaN,S
173,174,0,3,"Sivola, Mr. Antti Wilhelm",male,21.00,0,0,STON/O 2. 3101280,7.9250,NaN,S
174,175,0,1,"Smith, Mr. James Clinch",male,56.00,0,0,17764,30.6958,A7,C
175,176,0,3,"Klasen, Mr. Klas Albin",male,18.00,1,1,350404,7.8542,NaN,S
176,177,0,3,"Lefebre, Master. Henry Forbes",male,NaN,3,1,4133,25.4667,NaN,S
177,178,0,1,"Isham, Miss. Ann Elizabeth",female,50.00,0,0,PC 17595,28.7125,C49,C
178,179,0,2,"Hale, Mr. Reginald",male,30.00,0,0,250653,13.0000,NaN,S
179,180,0,3,"Leonard, Mr. Lionel",male,36.00,0,0,LINE,0.0000,NaN,S
180,181,0,3,"Sage, Miss. Constance Gladys",female,NaN,8,2,CA. 2343,69.5500,NaN,S
181,182,0,2,"Pernot, Mr. Rene",male,NaN,0,0,SC/PARIS 2131,15.0500,NaN,C
182,183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.00,4,2,347077,31.3875,NaN,S
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S
184,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.00,0,2,315153,22.0250,NaN,S
185,186,0,1,"Rood, Mr. Hugh Roscoe",male,NaN,0,0,113767,50.0000,A32,S
186,187,1,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,NaN,1,0,370365,15.5000,NaN,Q
187,188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45.00,0,0,111428,26.5500,NaN,S
188,189,0,3,"Bourke, Mr. John",male,40.00,1,1,364849,15.5000,NaN,Q
189,190,0,3,"Turcin, Mr. Stjepan",male,36.00,0,0,349247,7.8958,NaN,S
190,191,1,2,"Pinsky, Mrs. (Rosa)",female,32.00,0,0,234604,13.0000,NaN,S
191,192,0,2,"Carbines, Mr. William",male,19.00,0,0,28424,13.0000,NaN,S
192,193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.00,1,0,350046,7.8542,NaN,S
193,194,1,2,"Navratil, Master. Michel M",male,3.00,1,1,230080,26.0000,F2,S
194,195,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.00,0,0,PC 17610,27.7208,B4,C
195,196,1,1,"Lurette, Miss. Elise",female,58.00,0,0,PC 17569,146.5208,B80,C
196,197,0,3,"Mernagh, Mr. Robert",male,NaN,0,0,368703,7.7500,NaN,Q
197,198,0,3,"Olsen, Mr. Karl Siegwart Andreas",male,42.00,0,1,4579,8.4042,NaN,S
198,199,1,3,"Madigan, Miss. Margaret ""Maggie""",female,NaN,0,0,370370,7.7500,NaN,Q
199,200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24.00,0,0,248747,13.0000,NaN,S
200,201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28.00,0,0,345770,9.5000,NaN,S
201,202,0,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,69.5500,NaN,S
202,203,0,3,"Johanson, Mr. Jakob Alfred",male,34.00,0,0,3101264,6.4958,NaN,S
203,204,0,3,"Youseff, Mr. Gerious",male,45.50,0,0,2628,7.2250,NaN,C
204,205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18.00,0,0,A/5 3540,8.0500,NaN,S
205,206,0,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054,10.4625,G6,S
206,207,0,3,"Backstrom, Mr. Karl Alfred",male,32.00,1,0,3101278,15.8500,NaN,S
207,208,1,3,"Albimona, Mr. Nassef Cassem",male,26.00,0,0,2699,18.7875,NaN,C
208,209,1,3,"Carr, Miss. Helen ""Ellen""",female,16.00,0,0,367231,7.7500,NaN,Q
209,210,1,1,"Blank, Mr. Henry",male,40.00,0,0,112277,31.0000,A31,C
210,211,0,3,"Ali, Mr. Ahmed",male,24.00,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S
211,212,1,2,"Cameron, Miss. Clear Annie",female,35.00,0,0,F.C.C. 13528,21.0000,NaN,S
212,213,0,3,"Perkin, Mr. John Henry",male,22.00,0,0,A/5 21174,7.2500,NaN,S
213,214,0,2,"Givard, Mr. Hans Kristensen",male,30.00,0,0,250646,13.0000,NaN,S
214,215,0,3,"Kiernan, Mr. Philip",male,NaN,1,0,367229,7.7500,NaN,Q
215,216,1,1,"Newell, Miss. Madeleine",female,31.00,1,0,35273,113.2750,D36,C
216,217,1,3,"Honkanen, Miss. Eliina",female,27.00,0,0,STON/O2. 3101283,7.9250,NaN,S
217,218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42.00,1,0,243847,27.0000,NaN,S
218,219,1,1,"Bazzani, Miss. Albina",female,32.00,0,0,11813,76.2917,D15,C
219,220,0,2,"Harris, Mr. Walter",male,30.00,0,0,W/C 14208,10.5000,NaN,S
220,221,1,3,"Sunderland, Mr. Victor Francis",male,16.00,0,0,SOTON/OQ 392089,8.0500,NaN,S
221,222,0,2,"Bracken, Mr. James H",male,27.00,0,0,220367,13.0000,NaN,S
222,223,0,3,"Green, Mr. George Henry",male,51.00,0,0,21440,8.0500,NaN,S
223,224,0,3,"Nenkoff, Mr. Christo",male,NaN,0,0,349234,7.8958,NaN,S
224,225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38.00,1,0,19943,90.0000,C93,S
225,226,0,3,"Berglund, Mr. Karl Ivar Sven",male,22.00,0,0,PP 4348,9.3500,NaN,S
226,227,1,2,"Mellors, Mr. William John",male,19.00,0,0,SW/PP 751,10.5000,NaN,S
227,228,0,3,"Lovell, Mr. John Hall (""Henry"")",male,20.50,0,0,A/5 21173,7.2500,NaN,S
228,229,0,2,"Fahlstrom, Mr. Arne Jonas",male,18.00,0,0,236171,13.0000,NaN,S
229,230,0,3,"Lefebre, Miss. Mathilde",female,NaN,3,1,4133,25.4667,NaN,S
230,231,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.00,1,0,36973,83.4750,C83,S
231,232,0,3,"Larsson, Mr. Bengt Edvin",male,29.00,0,0,347067,7.7750,NaN,S
232,233,0,2,"Sjostedt, Mr. Ernst Adolf",male,59.00,0,0,237442,13.5000,NaN,S
233,234,1,3,"Asplund, Miss. Lillian Gertrud",female,5.00,4,2,347077,31.3875,NaN,S
234,235,0,2,"Leyson, Mr. Robert William Norman",male,24.00,0,0,C.A. 29566,10.5000,NaN,S
235,236,0,3,"Harknett, Miss. Alice Phoebe",female,NaN,0,0,W./C. 6609,7.5500,NaN,S
236,237,0,2,"Hold, Mr. Stephen",male,44.00,1,0,26707,26.0000,NaN,S
237,238,1,2,"Collyer, Miss. Marjorie ""Lottie""",female,8.00,0,2,C.A. 31921,26.2500,NaN,S
238,239,0,2,"Pengelly, Mr. Frederick William",male,19.00,0,0,28665,10.5000,NaN,S
239,240,0,2,"Hunt, Mr. George Henry",male,33.00,0,0,SCO/W 1585,12.2750,NaN,S
240,241,0,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C
241,242,1,3,"Murphy, Miss. Katherine ""Kate""",female,NaN,1,0,367230,15.5000,NaN,Q
242,243,0,2,"Coleridge, Mr. Reginald Charles",male,29.00,0,0,W./C. 14263,10.5000,NaN,S
243,244,0,3,"Maenpaa, Mr. Matti Alexanteri",male,22.00,0,0,STON/O 2. 3101275,7.1250,NaN,S
244,245,0,3,"Attalah, Mr. Sleiman",male,30.00,0,0,2694,7.2250,NaN,C
245,246,0,1,"Minahan, Dr. William Edward",male,44.00,2,0,19928,90.0000,C78,Q
246,247,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25.00,0,0,347071,7.7750,NaN,S
247,248,1,2,"Hamalainen, Mrs. William (Anna)",female,24.00,0,2,250649,14.5000,NaN,S
248,249,1,1,"Beckwith, Mr. Richard Leonard",male,37.00,1,1,11751,52.5542,D35,S
249,250,0,2,"Carter, Rev. Ernest Courtenay",male,54.00,1,0,244252,26.0000,NaN,S
250,251,0,3,"Reed, Mr. James George",male,NaN,0,0,362316,7.2500,NaN,S
251,252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.00,1,1,347054,10.4625,G6,S
252,253,0,1,"Stead, Mr. William Thomas",male,62.00,0,0,113514,26.5500,C87,S
253,254,0,3,"Lobb, Mr. William Arthur",male,30.00,1,0,A/5. 3336,16.1000,NaN,S

In [125]:
titanic_data.head() # print 5 rows from starting..

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [126]:
titanic_data.tail() # print 5 rows from the last.

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [128]:
titanic_data.shape # to show the no of rows and columns

(891, 12)

In [129]:
titanic_data.describe() # provide us the statistical data

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [132]:
# we can extract statistical infomration of only object data types.
titanic_data.describe(include='object')

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [133]:
# we can extract statistical infomration of only float data types.
titanic_data.describe(include='float64')

              Age        Fare
count  714.000000  891.000000
mean    29.699118   32.204208
std     14.526497   49.693429
min      0.420000    0.000000
25%     20.125000    7.910400
50%     28.000000   14.454200
75%     38.000000   31.000000
max     80.000000  512.329200

In [134]:
titanic_data.info() # provides the data types of columns.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [136]:
# accessing the columns directory;
titanic_data.Name

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
5                                       Moran, Mr. James
6                                McCarthy, Mr. Timothy J
7                         Palsson, Master. Gosta Leonard
8      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                    Nasser, Mrs. Nicholas (Adele Achem)
10                       Sandstrom, Miss. Marguerite Rut
11                              Bonnell, Miss. Elizabeth
12                        Saundercock, Mr. William Henry
13                           Andersson, Mr. Anders Johan
14                  Vestrom, Miss. Hulda Amanda Adolfina
15                      Hewlett, Mrs. (Mary D Kingcome)
16                                  Rice, Master. Eugene
17                          Williams, Mr. Charles Eugene
18     Vander Planke, Mrs. Julius (Emelia Maria Vande...
19                               Masselmani, Mrs. Fatima
20                                  Fynney, Mr. Joseph J
21                                 Beesley, Mr. Lawrence
22                           McGowan, Miss. Anna "Annie"
23                          Sloper, Mr. William Thompson
24                         Palsson, Miss. Torborg Danira
25     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
26                               Emir, Mr. Farred Chehab
27                        Fortune, Mr. Charles Alexander
28                         O'Dwyer, Miss. Ellen "Nellie"
29                                   Todoroff, Mr. Lalio
30                              Uruchurtu, Don. Manuel E
31        Spencer, Mrs. William Augustus (Marie Eugenie)
32                              Glynn, Miss. Mary Agatha
33                                 Wheadon, Mr. Edward H
34                               Meyer, Mr. Edgar Joseph
35                        Holverson, Mr. Alexander Oskar
36                                      Mamee, Mr. Hanna
37                              Cann, Mr. Ernest Charles
38                    Vander Planke, Miss. Augusta Maria
39                           Nicola-Yarred, Miss. Jamila
40        Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
41     Turpin, Mrs. William John Robert (Dorothy Ann ...
42                                   Kraeff, Mr. Theodor
43              Laroche, Miss. Simonne Marie Anne Andree
44                         Devaney, Miss. Margaret Delia
45                              Rogers, Mr. William John
46                                     Lennon, Mr. Denis
47                             O'Driscoll, Miss. Bridget
48                                   Samaan, Mr. Youssef
49         Arnold-Franchi, Mrs. Josef (Josefine Franchi)
50                            Panula, Master. Juha Niilo
51                          Nosworthy, Mr. Richard Cater
52              Harper, Mrs. Henry Sleeper (Myna Haxtun)
53     Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...
54                        Ostby, Mr. Engelhart Cornelius
55                                     Woolner, Mr. Hugh
56                                     Rugg, Miss. Emily
57                                   Novel, Mr. Mansouer
58                          West, Miss. Constance Mirium
59                    Goodwin, Master. William Frederick
60                                 Sirayanian, Mr. Orsen
61                                   Icard, Miss. Amelie
62                           Harris, Mr. Henry Birkhardt
63                                 Skoog, Master. Harald
64                                 Stewart, Mr. Albert A
65                              Moubarek, Master. Gerios
66                          Nye, Mrs. (Elizabeth Ramell)
67                              Crease, Mr. Ernest James
68                       Andersson, Miss. Erna Alexandra
69                                     Kink, Mr. Vincenz
70                            Jenkin, Mr. Stephen Curnow
71                            Goodwin, Miss. Lillian Amy
72                                  Hood, Mr. Ambrose Jr
73                           Chronopoulos, Mr. Apostolos
74                                         Bing, Mr. Lee
75                               Moen, Mr. Sigurd Hansen
76                                     Staneff, Mr. Ivan
77                              Moutal, Mr. Rahamin Haim
78                         Caldwell, Master. Alden Gates
79                              Dowdell, Miss. Elizabeth
80                                  Waelens, Mr. Achille
81                           Sheerlinck, Mr. Jan Baptist
82                        McDermott, Miss. Brigdet Delia
83                               Carrau, Mr. Francisco M
84                                   Ilett, Miss. Bertha
85     Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...
86                                Ford, Mr. William Neal
87                         Slocovski, Mr. Selman Francis
88                            Fortune, Miss. Mabel Helen
89                                Celotti, Mr. Francesco
90                                  Christmann, Mr. Emil
91                            Andreasson, Mr. Paul Edvin
92                           Chaffee, Mr. Herbert Fuller
93                               Dean, Mr. Bertram Frank
94                                     Coxon, Mr. Daniel
95                           Shorney, Mr. Charles Joseph
96                             Goldschmidt, Mr. George B
97                       Greenfield, Mr. William Bertram
98                  Doling, Mrs. John T (Ada Julia Bone)
99                                     Kantor, Mr. Sinai
100                              Petranec, Miss. Matilda
101                     Petroff, Mr. Pastcho ("Pentcho")
102                            White, Mr. Richard Frasar
103                           Johansson, Mr. Gustaf Joel
104                       Gustafsson, Mr. Anders Vilhelm
105                                Mionoff, Mr. Stoytcho
106                     Salkjelsvik, Miss. Anna Kristine
107                               Moss, Mr. Albert Johan
108                                      Rekic, Mr. Tido
109                                  Moran, Miss. Bertha
110                       Porter, Mr. Walter Chamberlain
111                                 Zabour, Miss. Hileni
112                               Barton, Mr. David John
113                              Jussila, Miss. Katriina
114                                Attalah, Miss. Malake
115                                Pekoniemi, Mr. Edvard
116                                 Connors, Mr. Patrick
117                      Turpin, Mr. William John Robert
118                             Baxter, Mr. Quigg Edmond
119                    Andersson, Miss. Ellis Anna Maria
120                          Hickman, Mr. Stanley George
121                           Moore, Mr. Leonard Charles
122                                 Nasser, Mr. Nicholas
123                                  Webber, Miss. Susan
124                          White, Mr. Percival Wayland
125                         Nicola-Yarred, Master. Elias
126                                  McMahon, Mr. Martin
127                            Madsen, Mr. Fridtjof Arne
128                                    Peter, Miss. Anna
129                                   Ekstrom, Mr. Johan
130                                 Drazenoic, Mr. Jozef
131                       Coelho, Mr. Domingos Fernandeo
132       Robins, Mrs. Alexander A (Grace Charity Laury)
133        Weisz, Mrs. Leopold (Mathilde Francoise Pede)
134                       Sobey, Mr. Samuel James Hayden
135                                   Richard, Mr. Emile
136                         Newsom, Miss. Helen Monypeny
137                          Futrelle, Mr. Jacques Heath
138                                  Osen, Mr. Olaf Elon
139                                   Giglio, Mr. Victor
140                        Boulos, Mrs. Joseph (Sultana)
141                             Nysten, Miss. Anna Sofia
142    Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...
143                                  Burke, Mr. Jeremiah
144                           Andrew, Mr. Edgardo Samuel
145                         Nicholls, Mr. Joseph Charles
146         Andersson, Mr. August Edvard ("Wennerstrom")
147                     Ford, Miss. Robina Maggie "Ruby"
148             Navratil, Mr. Michel ("Louis M Hoffman")
149                    Byles, Rev. Thomas Roussel Davids
150                           Bateman, Rev. Robert James
151                    Pears, Mrs. Thomas (Edith Wearne)
152                                     Meo, Mr. Alfonzo
153                      van Billiard, Mr. Austin Blyler
154                                Olsen, Mr. Ole Martin
155                          Williams, Mr. Charles Duane
156                     Gilnagh, Miss. Katherine "Katie"
157                                      Corn, Mr. Harry
158                                  Smiljanic, Mr. Mile
159                           Sage, Master. Thomas Henry
160                             Cribb, Mr. John Hatfield
161    Watt, Mrs. James (Elizabeth "Bessie" Inglis Mi...
162                           Bengtsson, Mr. John Viktor
163                                      Calic, Mr. Jovo
164                         Panula, Master. Eino Viljami
165      Goldsmith, Master. Frank John William "Frankie"
166               Chibnall, Mrs. (Edith Martha Bowerman)
167      Skoog, Mrs. William (Anna Bernhardina Karlsson)
168                                  Baumann, Mr. John D
169                                        Ling, Mr. Lee
170                            Van der hoef, Mr. Wyckoff
171                                 Rice, Master. Arthur
172                         Johnson, Miss. Eleanor Ileen
173                            Sivola, Mr. Antti Wilhelm
174                              Smith, Mr. James Clinch
175                               Klasen, Mr. Klas Albin
176                        Lefebre, Master. Henry Forbes
177                           Isham, Miss. Ann Elizabeth
178                                   Hale, Mr. Reginald
179                                  Leonard, Mr. Lionel
180                         Sage, Miss. Constance Gladys
181                                     Pernot, Mr. Rene
182                Asplund, Master. Clarence Gustaf Hugo
183                            Becker, Master. Richard F
184                  Kink-Heilmann, Miss. Luise Gretchen
185                                Rood, Mr. Hugh Roscoe
186      O'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)
187        Romaine, Mr. Charles Hallace ("Mr C Rolmane")
188                                     Bourke, Mr. John
189                                  Turcin, Mr. Stjepan
190                                  Pinsky, Mrs. (Rosa)
191                                Carbines, Mr. William
192      Andersen-Jensen, Miss. Carla Christine Nielsine
193                           Navratil, Master. Michel M
194            Brown, Mrs. James Joseph (Margaret Tobin)
195                                 Lurette, Miss. Elise
196                                  Mernagh, Mr. Robert
197                     Olsen, Mr. Karl Siegwart Andreas
198                     Madigan, Miss. Margaret "Maggie"
199               Yrois, Miss. Henriette ("Mrs Harbeck")
200                       Vande Walle, Mr. Nestor Cyriel
201                                  Sage, Mr. Frederick
202                           Johanson, Mr. Jakob Alfred
203                                 Youseff, Mr. Gerious
204                             Cohen, Mr. Gurshon "Gus"
205                           Strom, Miss. Telma Matilda
206                           Backstrom, Mr. Karl Alfred
207                          Albimona, Mr. Nassef Cassem
208                            Carr, Miss. Helen "Ellen"
209                                     Blank, Mr. Henry
210                                       Ali, Mr. Ahmed
211                           Cameron, Miss. Clear Annie
212                               Perkin, Mr. John Henry
213                          Givard, Mr. Hans Kristensen
214                                  Kiernan, Mr. Philip
215                              Newell, Miss. Madeleine
216                               Honkanen, Miss. Eliina
217                         Jacobsohn, Mr. Sidney Samuel
218                                Bazzani, Miss. Albina
219                                   Harris, Mr. Walter
220                       Sunderland, Mr. Victor Francis
221                                 Bracken, Mr. James H
222                              Green, Mr. George Henry
223                                 Nenkoff, Mr. Christo
224                         Hoyt, Mr. Frederick Maxfield
225                         Berglund, Mr. Karl Ivar Sven
226                            Mellors, Mr. William John
227                      Lovell, Mr. John Hall ("Henry")
228                            Fahlstrom, Mr. Arne Jonas
229                              Lefebre, Miss. Mathilde
230         Harris, Mrs. Henry Birkhardt (Irene Wallach)
231                             Larsson, Mr. Bengt Edvin
232                            Sjostedt, Mr. Ernst Adolf
233                       Asplund, Miss. Lillian Gertrud
234                    Leyson, Mr. Robert William Norman
235                         Harknett, Miss. Alice Phoebe
236                                    Hold, Mr. Stephen
237                     Collyer, Miss. Marjorie "Lottie"
238                      Pengelly, Mr. Frederick William
239                               Hunt, Mr. George Henry
240                                Zabour, Miss. Thamine
241                       Murphy, Miss. Katherine "Kate"
242                      Coleridge, Mr. Reginald Charles
243                        Maenpaa, Mr. Matti Alexanteri
244                                 Attalah, Mr. Sleiman
245                          Minahan, Dr. William Edward
246                Lindahl, Miss. Agda Thorilda Viktoria
247                      Hamalainen, Mrs. William (Anna)
248                        Beckwith, Mr. Richard Leonard
249                        Carter, Rev. Ernest Courtenay
250                               Reed, Mr. James George
251           Strom, Mrs. Wilhelm (Elna Matilda Persson)
252                            Stead, Mr. William Thomas
253                             Lobb, Mr. William Arthur
254             Rosblom, Mrs. Viktor (Helena Wilhelmina)
255              Touma, Mrs. Darwis (Hanne Youssef Razi)
256                       Thorne, Mrs. Gertrude Maybelle
257                                 Cherry, Miss. Gladys
258                                     Ward, Miss. Anna
259                          Parrish, Mrs. (Lutie Davis)
260                                    Smith, Mr. Thomas
261                    Asplund, Master. Edvin Rojj Felix
262                                    Taussig, Mr. Emil
263                                Harrison, Mr. William
264                                   Henry, Miss. Delia
265                                    Reeves, Mr. David
266                            Panula, Mr. Ernesti Arvid
267                             Persson, Mr. Ernst Ulrik
268        Graham, Mrs. William Thompson (Edith Junkins)
269                               Bissette, Miss. Amelia
270                                Cairns, Mr. Alexander
271                         Tornquist, Mr. William Henry
272            Mellinger, Mrs. (Elizabeth Anne Maidment)
273                                Natsch, Mr. Charles H
274                           Healy, Miss. Hanora "Nora"
275                    Andrews, Miss. Kornelia Theodosia
276                    Lindblom, Miss. Augusta Charlotta
277                          Parkes, Mr. Francis "Frank"
278                                   Rice, Master. Eric
279                     Abbott, Mrs. Stanton (Rosa Hunt)
280                                     Duane, Mr. Frank
281                     Olsson, Mr. Nils Johan Goransson
282                            de Pelsmaeker, Mr. Alfons
283                           Dorking, Mr. Edward Arthur
284                           Smith, Mr. Richard William
285                                  Stankovic, Mr. Ivan
286                              de Mulder, Mr. Theodore
287                                 Naidenoff, Mr. Penko
288                                 Hosono, Mr. Masabumi
289                                 Connolly, Miss. Kate
290                         Barber, Miss. Ellen "Nellie"
291              Bishop, Mrs. Dickinson H (Helen Walton)
292                               Levy, Mr. Rene Jacques
293                                  Haas, Miss. Aloisia
294                                     Mineff, Mr. Ivan
295                                    Lewy, Mr. Ervin G
296                                   Hanna, Mr. Mansour
297                         Allison, Miss. Helen Loraine
298                                Saalfeld, Mr. Adolphe
299      Baxter, Mrs. James (Helene DeLaudeniere Chaput)
300             Kelly, Miss. Anna Katherine "Annie Kate"
301                                   McCoy, Mr. Bernard
302                      Johnson, Mr. William Cahoone Jr
303                                  Keane, Miss. Nora A
304                    Williams, Mr. Howard Hugh "Harry"
305                       Allison, Master. Hudson Trevor
306                              Fleming, Miss. Margaret
307    Penasco y Castellana, Mrs. Victor de Satode (M...
308                                  Abelson, Mr. Samuel
309                       Francatelli, Miss. Laura Mabel
310                       Hays, Miss. Margaret Bechstein
311                           Ryerson, Miss. Emily Borie
312                Lahtinen, Mrs. William (Anna Sylfven)
313                               Hendekovic, Mr. Ignjac
314                                   Hart, Mr. Benjamin
315                      Nilsson, Miss. Helmina Josefina
316                  Kantor, Mrs. Sinai (Miriam Sternin)
317                                 Moraweck, Dr. Ernest
318                             Wick, Miss. Mary Natalie
319    Spedden, Mrs. Frederic Oakley (Margaretta Corn...
320                                   Dennis, Mr. Samuel
321                                     Danoff, Mr. Yoto
322                            Slayter, Miss. Hilda Mary
323    Caldwell, Mrs. Albert Francis (Sylvia Mae Harb...
324                             Sage, Mr. George John Jr
325                             Young, Miss. Marie Grice
326                            Nysveen, Mr. Johan Hansen
327                              Ball, Mrs. (Ada E Hall)
328       Goldsmith, Mrs. Frank John (Emily Alice Brown)
329                         Hippach, Miss. Jean Gertrude
330                                   McCoy, Miss. Agnes
331                                  Partner, Mr. Austen
332                            Graham, Mr. George Edward
333                      Vander Planke, Mr. Leo Edmondus
334    Frauenthal, Mrs. Henry William (Clara Heinshei...
335                                   Denkoff, Mr. Mitto
336                            Pears, Mr. Thomas Clinton
337                      Burns, Miss. Elizabeth Margaret
338                                Dahl, Mr. Karl Edwart
339                         Blackwell, Mr. Stephen Weart
340                       Navratil, Master. Edmond Roger
341                       Fortune, Miss. Alice Elizabeth
342                           Collander, Mr. Erik Gustaf
343           Sedgwick, Mr. Charles Frederick Waddington
344                              Fox, Mr. Stanley Hubert
345                        Brown, Miss. Amelia "Mildred"
346                            Smith, Miss. Marion Elsie
347            Davison, Mrs. Thomas Henry (Mary E Finck)
348               Coutts, Master. William Loch "William"
349                                     Dimic, Mr. Jovan

In [137]:
# # accessing the columns directory with another methods.
titanic_data['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
5                                       Moran, Mr. James
6                                McCarthy, Mr. Timothy J
7                         Palsson, Master. Gosta Leonard
8      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                    Nasser, Mrs. Nicholas (Adele Achem)
10                       Sandstrom, Miss. Marguerite Rut
11                              Bonnell, Miss. Elizabeth
12                        Saundercock, Mr. William Henry
13                           Andersson, Mr. Anders Johan
14                  Vestrom, Miss. Hulda Amanda Adolfina
15                      Hewlett, Mrs. (Mary D Kingcome)
16                                  Rice, Master. Eugene
17                          Williams, Mr. Charles Eugene
18     Vander Planke, Mrs. Julius (Emelia Maria Vande...
19                               Masselmani, Mrs. Fatima
20                                  Fynney, Mr. Joseph J
21                                 Beesley, Mr. Lawrence
22                           McGowan, Miss. Anna "Annie"
23                          Sloper, Mr. William Thompson
24                         Palsson, Miss. Torborg Danira
25     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
26                               Emir, Mr. Farred Chehab
27                        Fortune, Mr. Charles Alexander
28                         O'Dwyer, Miss. Ellen "Nellie"
29                                   Todoroff, Mr. Lalio
30                              Uruchurtu, Don. Manuel E
31        Spencer, Mrs. William Augustus (Marie Eugenie)
32                              Glynn, Miss. Mary Agatha
33                                 Wheadon, Mr. Edward H
34                               Meyer, Mr. Edgar Joseph
35                        Holverson, Mr. Alexander Oskar
36                                      Mamee, Mr. Hanna
37                              Cann, Mr. Ernest Charles
38                    Vander Planke, Miss. Augusta Maria
39                           Nicola-Yarred, Miss. Jamila
40        Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
41     Turpin, Mrs. William John Robert (Dorothy Ann ...
42                                   Kraeff, Mr. Theodor
43              Laroche, Miss. Simonne Marie Anne Andree
44                         Devaney, Miss. Margaret Delia
45                              Rogers, Mr. William John
46                                     Lennon, Mr. Denis
47                             O'Driscoll, Miss. Bridget
48                                   Samaan, Mr. Youssef
49         Arnold-Franchi, Mrs. Josef (Josefine Franchi)
50                            Panula, Master. Juha Niilo
51                          Nosworthy, Mr. Richard Cater
52              Harper, Mrs. Henry Sleeper (Myna Haxtun)
53     Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...
54                        Ostby, Mr. Engelhart Cornelius
55                                     Woolner, Mr. Hugh
56                                     Rugg, Miss. Emily
57                                   Novel, Mr. Mansouer
58                          West, Miss. Constance Mirium
59                    Goodwin, Master. William Frederick
60                                 Sirayanian, Mr. Orsen
61                                   Icard, Miss. Amelie
62                           Harris, Mr. Henry Birkhardt
63                                 Skoog, Master. Harald
64                                 Stewart, Mr. Albert A
65                              Moubarek, Master. Gerios
66                          Nye, Mrs. (Elizabeth Ramell)
67                              Crease, Mr. Ernest James
68                       Andersson, Miss. Erna Alexandra
69                                     Kink, Mr. Vincenz
70                            Jenkin, Mr. Stephen Curnow
71                            Goodwin, Miss. Lillian Amy
72                                  Hood, Mr. Ambrose Jr
73                           Chronopoulos, Mr. Apostolos
74                                         Bing, Mr. Lee
75                               Moen, Mr. Sigurd Hansen
76                                     Staneff, Mr. Ivan
77                              Moutal, Mr. Rahamin Haim
78                         Caldwell, Master. Alden Gates
79                              Dowdell, Miss. Elizabeth
80                                  Waelens, Mr. Achille
81                           Sheerlinck, Mr. Jan Baptist
82                        McDermott, Miss. Brigdet Delia
83                               Carrau, Mr. Francisco M
84                                   Ilett, Miss. Bertha
85     Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...
86                                Ford, Mr. William Neal
87                         Slocovski, Mr. Selman Francis
88                            Fortune, Miss. Mabel Helen
89                                Celotti, Mr. Francesco
90                                  Christmann, Mr. Emil
91                            Andreasson, Mr. Paul Edvin
92                           Chaffee, Mr. Herbert Fuller
93                               Dean, Mr. Bertram Frank
94                                     Coxon, Mr. Daniel
95                           Shorney, Mr. Charles Joseph
96                             Goldschmidt, Mr. George B
97                       Greenfield, Mr. William Bertram
98                  Doling, Mrs. John T (Ada Julia Bone)
99                                     Kantor, Mr. Sinai
100                              Petranec, Miss. Matilda
101                     Petroff, Mr. Pastcho ("Pentcho")
102                            White, Mr. Richard Frasar
103                           Johansson, Mr. Gustaf Joel
104                       Gustafsson, Mr. Anders Vilhelm
105                                Mionoff, Mr. Stoytcho
106                     Salkjelsvik, Miss. Anna Kristine
107                               Moss, Mr. Albert Johan
108                                      Rekic, Mr. Tido
109                                  Moran, Miss. Bertha
110                       Porter, Mr. Walter Chamberlain
111                                 Zabour, Miss. Hileni
112                               Barton, Mr. David John
113                              Jussila, Miss. Katriina
114                                Attalah, Miss. Malake
115                                Pekoniemi, Mr. Edvard
116                                 Connors, Mr. Patrick
117                      Turpin, Mr. William John Robert
118                             Baxter, Mr. Quigg Edmond
119                    Andersson, Miss. Ellis Anna Maria
120                          Hickman, Mr. Stanley George
121                           Moore, Mr. Leonard Charles
122                                 Nasser, Mr. Nicholas
123                                  Webber, Miss. Susan
124                          White, Mr. Percival Wayland
125                         Nicola-Yarred, Master. Elias
126                                  McMahon, Mr. Martin
127                            Madsen, Mr. Fridtjof Arne
128                                    Peter, Miss. Anna
129                                   Ekstrom, Mr. Johan
130                                 Drazenoic, Mr. Jozef
131                       Coelho, Mr. Domingos Fernandeo
132       Robins, Mrs. Alexander A (Grace Charity Laury)
133        Weisz, Mrs. Leopold (Mathilde Francoise Pede)
134                       Sobey, Mr. Samuel James Hayden
135                                   Richard, Mr. Emile
136                         Newsom, Miss. Helen Monypeny
137                          Futrelle, Mr. Jacques Heath
138                                  Osen, Mr. Olaf Elon
139                                   Giglio, Mr. Victor
140                        Boulos, Mrs. Joseph (Sultana)
141                             Nysten, Miss. Anna Sofia
142    Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...
143                                  Burke, Mr. Jeremiah
144                           Andrew, Mr. Edgardo Samuel
145                         Nicholls, Mr. Joseph Charles
146         Andersson, Mr. August Edvard ("Wennerstrom")
147                     Ford, Miss. Robina Maggie "Ruby"
148             Navratil, Mr. Michel ("Louis M Hoffman")
149                    Byles, Rev. Thomas Roussel Davids
150                           Bateman, Rev. Robert James
151                    Pears, Mrs. Thomas (Edith Wearne)
152                                     Meo, Mr. Alfonzo
153                      van Billiard, Mr. Austin Blyler
154                                Olsen, Mr. Ole Martin
155                          Williams, Mr. Charles Duane
156                     Gilnagh, Miss. Katherine "Katie"
157                                      Corn, Mr. Harry
158                                  Smiljanic, Mr. Mile
159                           Sage, Master. Thomas Henry
160                             Cribb, Mr. John Hatfield
161    Watt, Mrs. James (Elizabeth "Bessie" Inglis Mi...
162                           Bengtsson, Mr. John Viktor
163                                      Calic, Mr. Jovo
164                         Panula, Master. Eino Viljami
165      Goldsmith, Master. Frank John William "Frankie"
166               Chibnall, Mrs. (Edith Martha Bowerman)
167      Skoog, Mrs. William (Anna Bernhardina Karlsson)
168                                  Baumann, Mr. John D
169                                        Ling, Mr. Lee
170                            Van der hoef, Mr. Wyckoff
171                                 Rice, Master. Arthur
172                         Johnson, Miss. Eleanor Ileen
173                            Sivola, Mr. Antti Wilhelm
174                              Smith, Mr. James Clinch
175                               Klasen, Mr. Klas Albin
176                        Lefebre, Master. Henry Forbes
177                           Isham, Miss. Ann Elizabeth
178                                   Hale, Mr. Reginald
179                                  Leonard, Mr. Lionel
180                         Sage, Miss. Constance Gladys
181                                     Pernot, Mr. Rene
182                Asplund, Master. Clarence Gustaf Hugo
183                            Becker, Master. Richard F
184                  Kink-Heilmann, Miss. Luise Gretchen
185                                Rood, Mr. Hugh Roscoe
186      O'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)
187        Romaine, Mr. Charles Hallace ("Mr C Rolmane")
188                                     Bourke, Mr. John
189                                  Turcin, Mr. Stjepan
190                                  Pinsky, Mrs. (Rosa)
191                                Carbines, Mr. William
192      Andersen-Jensen, Miss. Carla Christine Nielsine
193                           Navratil, Master. Michel M
194            Brown, Mrs. James Joseph (Margaret Tobin)
195                                 Lurette, Miss. Elise
196                                  Mernagh, Mr. Robert
197                     Olsen, Mr. Karl Siegwart Andreas
198                     Madigan, Miss. Margaret "Maggie"
199               Yrois, Miss. Henriette ("Mrs Harbeck")
200                       Vande Walle, Mr. Nestor Cyriel
201                                  Sage, Mr. Frederick
202                           Johanson, Mr. Jakob Alfred
203                                 Youseff, Mr. Gerious
204                             Cohen, Mr. Gurshon "Gus"
205                           Strom, Miss. Telma Matilda
206                           Backstrom, Mr. Karl Alfred
207                          Albimona, Mr. Nassef Cassem
208                            Carr, Miss. Helen "Ellen"
209                                     Blank, Mr. Henry
210                                       Ali, Mr. Ahmed
211                           Cameron, Miss. Clear Annie
212                               Perkin, Mr. John Henry
213                          Givard, Mr. Hans Kristensen
214                                  Kiernan, Mr. Philip
215                              Newell, Miss. Madeleine
216                               Honkanen, Miss. Eliina
217                         Jacobsohn, Mr. Sidney Samuel
218                                Bazzani, Miss. Albina
219                                   Harris, Mr. Walter
220                       Sunderland, Mr. Victor Francis
221                                 Bracken, Mr. James H
222                              Green, Mr. George Henry
223                                 Nenkoff, Mr. Christo
224                         Hoyt, Mr. Frederick Maxfield
225                         Berglund, Mr. Karl Ivar Sven
226                            Mellors, Mr. William John
227                      Lovell, Mr. John Hall ("Henry")
228                            Fahlstrom, Mr. Arne Jonas
229                              Lefebre, Miss. Mathilde
230         Harris, Mrs. Henry Birkhardt (Irene Wallach)
231                             Larsson, Mr. Bengt Edvin
232                            Sjostedt, Mr. Ernst Adolf
233                       Asplund, Miss. Lillian Gertrud
234                    Leyson, Mr. Robert William Norman
235                         Harknett, Miss. Alice Phoebe
236                                    Hold, Mr. Stephen
237                     Collyer, Miss. Marjorie "Lottie"
238                      Pengelly, Mr. Frederick William
239                               Hunt, Mr. George Henry
240                                Zabour, Miss. Thamine
241                       Murphy, Miss. Katherine "Kate"
242                      Coleridge, Mr. Reginald Charles
243                        Maenpaa, Mr. Matti Alexanteri
244                                 Attalah, Mr. Sleiman
245                          Minahan, Dr. William Edward
246                Lindahl, Miss. Agda Thorilda Viktoria
247                      Hamalainen, Mrs. William (Anna)
248                        Beckwith, Mr. Richard Leonard
249                        Carter, Rev. Ernest Courtenay
250                               Reed, Mr. James George
251           Strom, Mrs. Wilhelm (Elna Matilda Persson)
252                            Stead, Mr. William Thomas
253                             Lobb, Mr. William Arthur
254             Rosblom, Mrs. Viktor (Helena Wilhelmina)
255              Touma, Mrs. Darwis (Hanne Youssef Razi)
256                       Thorne, Mrs. Gertrude Maybelle
257                                 Cherry, Miss. Gladys
258                                     Ward, Miss. Anna
259                          Parrish, Mrs. (Lutie Davis)
260                                    Smith, Mr. Thomas
261                    Asplund, Master. Edvin Rojj Felix
262                                    Taussig, Mr. Emil
263                                Harrison, Mr. William
264                                   Henry, Miss. Delia
265                                    Reeves, Mr. David
266                            Panula, Mr. Ernesti Arvid
267                             Persson, Mr. Ernst Ulrik
268        Graham, Mrs. William Thompson (Edith Junkins)
269                               Bissette, Miss. Amelia
270                                Cairns, Mr. Alexander
271                         Tornquist, Mr. William Henry
272            Mellinger, Mrs. (Elizabeth Anne Maidment)
273                                Natsch, Mr. Charles H
274                           Healy, Miss. Hanora "Nora"
275                    Andrews, Miss. Kornelia Theodosia
276                    Lindblom, Miss. Augusta Charlotta
277                          Parkes, Mr. Francis "Frank"
278                                   Rice, Master. Eric
279                     Abbott, Mrs. Stanton (Rosa Hunt)
280                                     Duane, Mr. Frank
281                     Olsson, Mr. Nils Johan Goransson
282                            de Pelsmaeker, Mr. Alfons
283                           Dorking, Mr. Edward Arthur
284                           Smith, Mr. Richard William
285                                  Stankovic, Mr. Ivan
286                              de Mulder, Mr. Theodore
287                                 Naidenoff, Mr. Penko
288                                 Hosono, Mr. Masabumi
289                                 Connolly, Miss. Kate
290                         Barber, Miss. Ellen "Nellie"
291              Bishop, Mrs. Dickinson H (Helen Walton)
292                               Levy, Mr. Rene Jacques
293                                  Haas, Miss. Aloisia
294                                     Mineff, Mr. Ivan
295                                    Lewy, Mr. Ervin G
296                                   Hanna, Mr. Mansour
297                         Allison, Miss. Helen Loraine
298                                Saalfeld, Mr. Adolphe
299      Baxter, Mrs. James (Helene DeLaudeniere Chaput)
300             Kelly, Miss. Anna Katherine "Annie Kate"
301                                   McCoy, Mr. Bernard
302                      Johnson, Mr. William Cahoone Jr
303                                  Keane, Miss. Nora A
304                    Williams, Mr. Howard Hugh "Harry"
305                       Allison, Master. Hudson Trevor
306                              Fleming, Miss. Margaret
307    Penasco y Castellana, Mrs. Victor de Satode (M...
308                                  Abelson, Mr. Samuel
309                       Francatelli, Miss. Laura Mabel
310                       Hays, Miss. Margaret Bechstein
311                           Ryerson, Miss. Emily Borie
312                Lahtinen, Mrs. William (Anna Sylfven)
313                               Hendekovic, Mr. Ignjac
314                                   Hart, Mr. Benjamin
315                      Nilsson, Miss. Helmina Josefina
316                  Kantor, Mrs. Sinai (Miriam Sternin)
317                                 Moraweck, Dr. Ernest
318                             Wick, Miss. Mary Natalie
319    Spedden, Mrs. Frederic Oakley (Margaretta Corn...
320                                   Dennis, Mr. Samuel
321                                     Danoff, Mr. Yoto
322                            Slayter, Miss. Hilda Mary
323    Caldwell, Mrs. Albert Francis (Sylvia Mae Harb...
324                             Sage, Mr. George John Jr
325                             Young, Miss. Marie Grice
326                            Nysveen, Mr. Johan Hansen
327                              Ball, Mrs. (Ada E Hall)
328       Goldsmith, Mrs. Frank John (Emily Alice Brown)
329                         Hippach, Miss. Jean Gertrude
330                                   McCoy, Miss. Agnes
331                                  Partner, Mr. Austen
332                            Graham, Mr. George Edward
333                      Vander Planke, Mr. Leo Edmondus
334    Frauenthal, Mrs. Henry William (Clara Heinshei...
335                                   Denkoff, Mr. Mitto
336                            Pears, Mr. Thomas Clinton
337                      Burns, Miss. Elizabeth Margaret
338                                Dahl, Mr. Karl Edwart
339                         Blackwell, Mr. Stephen Weart
340                       Navratil, Master. Edmond Roger
341                       Fortune, Miss. Alice Elizabeth
342                           Collander, Mr. Erik Gustaf
343           Sedgwick, Mr. Charles Frederick Waddington
344                              Fox, Mr. Stanley Hubert
345                        Brown, Miss. Amelia "Mildred"
346                            Smith, Miss. Marion Elsie
347            Davison, Mrs. Thomas Henry (Mary E Finck)
348               Coutts, Master. William Loch "William"
349                                     Dimic, Mr. Jovan

# Data Cleaning.

In [322]:
titanic_data.isnull().sum() # give the sum of nulls of each columns..

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

# find the mean to fill the mean values in the Age column on the Nan values.

In [359]:
avg_age = titanic_data['Age'].mean() # here it use mean because here it not extreme difference in the ages.
avg_age

29.69911764705882

# fill the values of Nan values.

1. fill the values with avg_age

In [362]:
titanic_data['Age']=titanic_data.Age.fillna(avg_age)

In [364]:
titanic_data['Age'].isnull().sum()  # now it is showing no any values.

0

2. Fill with mode

mode_age = titanic_data['Age'].mode()[0]  # mode() returns a Series, take the first value
titanic_data['Age'] = titanic_data['Age'].fillna(mode_age)


3. Forward fill(ffill): You can use the last known value to fill the NaN. This method is useful in time series data.

titanic_data['Age'] = titanic_data['Age'].fillna(method='ffill')


4. Backward Fill (bfill)

This method fills NaN values with the next known value.

titanic_data['Age'] = titanic_data['Age'].fillna(method='bfill')

In [368]:
# 2.
mode_age = titanic_data['Age'].mode()[0]  # mode() returns a Series, take the first value
titanic_data['Age'] = titanic_data['Age'].fillna(mode_age)

In [370]:
titanic_data['Age'].isnull().sum()

0

# now for categorical data missing

In [521]:
# Fill the values in the Cabin:

titanic_data['Cabin'].isnull().sum() # count of null values

0

In [390]:
titanic_data['Cabin'].nunique() # count values  of unique values of cabin columns

count         204
unique        147
top       B96 B98
freq            4
Name: Cabin, dtype: object

In [392]:
titanic_data['Cabin'].describe() # shows 204 non-null entries with 147 unique cabin identifiers, where 'B96 B98' is the most frequent (4 occurrences).

count         204
unique        147
top       B96 B98
freq            4
Name: Cabin, dtype: object

fill values with Placehonlders.

In [403]:
titanic_data['Cabin']=titanic_data['Cabin'].fillna('unknown')

In [415]:
titanic_data['Cabin']

0              unknown
1                  C85
2              unknown
3                 C123
4              unknown
5              unknown
6                  E46
7              unknown
8              unknown
9              unknown
10                  G6
11                C103
12             unknown
13             unknown
14             unknown
15             unknown
16             unknown
17             unknown
18             unknown
19             unknown
20             unknown
21                 D56
22             unknown
23                  A6
24             unknown
25             unknown
26             unknown
27         C23 C25 C27
28             unknown
29             unknown
30             unknown
31                 B78
32             unknown
33             unknown
34             unknown
35             unknown
36             unknown
37             unknown
38             unknown
39             unknown
40             unknown
41             unknown
42             unknown
43             unknown
44             unknown
45             unknown
46             unknown
47             unknown
48             unknown
49             unknown
50             unknown
51             unknown
52                 D33
53             unknown
54                 B30
55                 C52
56             unknown
57             unknown
58             unknown
59             unknown
60             unknown
61                 B28
62                 C83
63             unknown
64             unknown
65             unknown
66                 F33
67             unknown
68             unknown
69             unknown
70             unknown
71             unknown
72             unknown
73             unknown
74             unknown
75               F G73
76             unknown
77             unknown
78             unknown
79             unknown
80             unknown
81             unknown
82             unknown
83             unknown
84             unknown
85             unknown
86             unknown
87             unknown
88         C23 C25 C27
89             unknown
90             unknown
91             unknown
92                 E31
93             unknown
94             unknown
95             unknown
96                  A5
97             D10 D12
98             unknown
99             unknown
100            unknown
101            unknown
102                D26
103            unknown
104            unknown
105            unknown
106            unknown
107            unknown
108            unknown
109            unknown
110               C110
111            unknown
112            unknown
113            unknown
114            unknown
115            unknown
116            unknown
117            unknown
118            B58 B60
119            unknown
120            unknown
121            unknown
122            unknown
123               E101
124                D26
125            unknown
126            unknown
127            unknown
128              F E69
129            unknown
130            unknown
131            unknown
132            unknown
133            unknown
134            unknown
135            unknown
136                D47
137               C123
138            unknown
139                B86
140            unknown
141            unknown
142            unknown
143            unknown
144            unknown
145            unknown
146            unknown
147            unknown
148                 F2
149            unknown
150            unknown
151                 C2
152            unknown
153            unknown
154            unknown
155            unknown
156            unknown
157            unknown
158            unknown
159            unknown
160            unknown
161            unknown
162            unknown
163            unknown
164            unknown
165            unknown
166                E33
167            unknown
168            unknown
169            unknown
170                B19
171            unknown
172            unknown
173            unknown
174                 A7
175            unknown
176            unknown
177                C49
178            unknown
179            unknown
180            unknown
181            unknown
182            unknown
183                 F4
184            unknown
185                A32
186            unknown
187            unknown
188            unknown
189            unknown
190            unknown
191            unknown
192            unknown
193                 F2
194                 B4
195                B80
196            unknown
197            unknown
198            unknown
199            unknown
200            unknown
201            unknown
202            unknown
203            unknown
204            unknown
205                 G6
206            unknown
207            unknown
208            unknown
209                A31
210            unknown
211            unknown
212            unknown
213            unknown
214            unknown
215                D36
216            unknown
217            unknown
218                D15
219            unknown
220            unknown
221            unknown
222            unknown
223            unknown
224                C93
225            unknown
226            unknown
227            unknown
228            unknown
229            unknown
230                C83
231            unknown
232            unknown
233            unknown
234            unknown
235            unknown
236            unknown
237            unknown
238            unknown
239            unknown
240            unknown
241            unknown
242            unknown
243            unknown
244            unknown
245                C78
246            unknown
247            unknown
248                D35
249            unknown
250            unknown
251                 G6
252                C87
253            unknown
254            unknown
255            unknown
256            unknown
257                B77
258            unknown
259            unknown
260            unknown
261            unknown
262                E67
263                B94
264            unknown
265            unknown
266            unknown
267            unknown
268               C125
269                C99
270            unknown
271            unknown
272            unknown
273               C118
274            unknown
275                 D7
276            unknown
277            unknown
278            unknown
279            unknown
280            unknown
281            unknown
282            unknown
283            unknown
284                A19
285            unknown
286            unknown
287            unknown
288            unknown
289            unknown
290            unknown
291                B49
292                  D
293            unknown
294            unknown
295            unknown
296            unknown
297            C22 C26
298               C106
299            B58 B60
300            unknown
301            unknown
302            unknown
303               E101
304            unknown
305            C22 C26
306            unknown
307                C65
308            unknown
309                E36
310                C54
311    B57 B59 B63 B66
312            unknown
313            unknown
314            unknown
315            unknown
316            unknown
317            unknown
318                 C7
319                E34
320            unknown
321            unknown
322            unknown
323            unknown
324            unknown
325                C32
326            unknown
327                  D
328            unknown
329                B18
330            unknown
331               C124
332                C91
333            unknown
334            unknown
335            unknown
336                 C2
337                E40
338            unknown
339                  T
340                 F2
341        C23 C25 C27
342            unknown
343            unknown
344            unknown
345                F33
346            unknown
347            unknown
348            unknown
349            unknown
350            unknown
351               C128
352            unknown
353            unknown
354            unknown
355            unknown
356                E33
357            unknown
358            unknown
359            unknown
360            unknown
361            unknown
362            unknown
363            unknown
364            unknown
365            unknown
366                D37
367            unknown
368            unknown
369                B35
370                E50
371            unknown
372            unknown
373            unknown
374            unknown
375            unknown
376            unknown
377                C82
378            unknown
379            unknown
380            unknown
381            unknown
382            unknown
383            unknown
384            unknown
385            unknown
386            unknown
387            unknown
388            unknown
389            unknown
390            B96 B98
391            unknown
392            unknown
393                D36
394                 G6
395            unknown
396            unknown
397            unknown
398            unknown
399            unknown
400            unknown
401            unknown
402            unknown
403            unknown
404            unknown
405            unknown
406            unknown
407            unknown
408            unknown
409            unknown
410            unknown
411            unknown
412                C78
413            unknown
414            unknown
415            unknown
416            unknown
417            unknown
418            unknown
419            unknown
420            unknown
421            unknown
422            unknown
423            unknown
424            unknown
425            unknown
426            unknown
427            unknown
428            unknown
429                E10
430                C52
431            unknown
432            unknown
433            unknown
434                E44
435            B96 B98
436            unknown
437            unknown
438        C23 C25 C27
439            unknown
440            unknown
441            unknown
442            unknown
443            unknown
444            unknown
445                A34
446            unknown
447            unknown
448            unknown
449               C104
450            unknown
451            unknown
452               C111
453                C92
454            unknown
455            unknown
456                E38
457                D21
458            unknown
459            unknown
460                E12
461            unknown
462                E63
463            unknown
464            unknown
465            unknown
466            unknown
467            unknown
468            unknown
469            unknown
470            unknown
471            unknown
472            unknown
473                  D
474            unknown
475                A14
476            unknown
477            unknown
478            unknown
479            unknown
480            unknown
481            unknown
482            unknown
483            unknown
484                B49
485            unknown
486                C93
487                B37
488            unknown
489            unknown
490            unknown
491            unknown
492                C30
493            unknown
494            unknown
495            unknown
496                D20
497            unknown
498            C22 C26
499            unknown
500            unknown
501            unknown
502            unknown
503            unknown
504                B79
505                C65
506            unknown
507            unknown
508            unknown
509            unknown
510            unknown
511            unknown
512                E25
513            unknown
514            unknown
515                D46
516                F33
517            unknown
518            unknown
519            unknown
520                B73
521            unknown
522            unknown
523                B18
524            unknown
525            unknown
526            unknown
527                C95
528            unknown
529            unknown
530            unknown
531            unknown
532            unknown
533            unknown
534            unknown
535            unknown
536                B38
537            unknown
538            unknown
539                B39
540                B22
541            unknown
542            unknown
543            unknown
544                C86
545            unknown
546            unknown
547            unknown
548            unknown
549            unknown
550                C70
551            unknown
552            unknown
553            unknown
554            unknown
555            unknown
556                A16
557            unknown
558                E67
559            unknown
560            unknown
561            unknown
562            unknown
563            unknown
564            unknown
565            unknown
566            unknown
567            unknown
568            unknown
569            unknown
570            unknown
571               C101
572                E25
573            unknown
574            unknown
575            unknown
576            unknown
577                E44
578            unknown
579            unknown
580            unknown
581                C68
582            unknown
583                A10
584            unknown
585                E68
586            unknown
587                B41
588            unknown
589            unknown
590            unknown
591                D20
592            unknown
593            unknown
594            unknown
595            unknown
596            unknown
597            unknown
598            unknown
599                A20
600            unknown
601            unknown
602            unknown
603            unknown
604            unknown
605            unknown
606            unknown
607            unknown
608            unknown
609               C125
610            unknown
611            unknown
612            unknown
613            unknown
614            unknown
615            unknown
616            unknown
617            unknown
618                 F4
619            unknown
620            unknown
621                D19
622            unknown
623            unknown
624            unknown
625                D50
626            unknown
627                 D9
628            unknown
629            unknown
630                A23
631            unknown
632                B50
633            unknown
634            unknown
635            unknown
636            unknown
637            unknown
638            unknown
639            unknown
640            unknown
641                B35
642            unknown
643            unknown
644            unknown
645                D33
646            unknown
647                A26
648            unknown
649            unknown
650            unknown
651            unknown
652            unknown
653            unknown
654            unknown
655            unknown
656            unknown
657            unknown
658            unknown
659                D48
660            unknown
661            unknown
662                E58
663            unknown
664            unknown
665            unknown
666            unknown
667            unknown
668            unknown
669               C126
670            unknown
671                B71
672            unknown
673            unknown
674            unknown
675            unknown
676            unknown
677            unknown
678            unknown
679        B51 B53 B55
680            unknown
681                D49
682            unknown
683            unknown
684            unknown
685            unknown
686            unknown
687            unknown
688            unknown
689                 B5
690                B20
691            unknown
692            unknown
693            unknown
694            unknown
695            unknown
696            unknown
697            unknown
698                C68
699              F G63
700            C62 C64
701                E24
702            unknown
703            unknown
704            unknown
705            unknown
706            unknown
707                E24
708            unknown
709            unknown
710                C90
711               C124
712               C126
713            unknown
714            unknown
715              F G73
716                C45
717               E101
718            unknown
719            unknown
720            unknown
721            unknown
722            unknown
723            unknown
724                 E8
725            unknown
726            unknown
727            unknown
728            unknown
729            unknown
730                 B5
731            unknown
732            unknown
733            unknown
734            unknown
735            unknown
736            unknown
737               B101
738            unknown
739            unknown
740                D45
741                C46
742    B57 B59 B63 B66
743            unknown
744            unknown
745                B22
746            unknown
747            unknown
748                D30
749            unknown
750            unknown
751               E121
752            unknown
753            unknown
754            unknown
755            unknown
756            unknown
757            unknown
758            unknown
759                B77
760            unknown
761            unknown
762            unknown
763            B96 B98
764            unknown
765                D11
766            unknown
767            unknown
768            unknown
769            unknown
770            unknown
771            unknown
772                E77
773            unknown
774            unknown
775            unknown
776                F38
777            unknown
778            unknown
779                 B3
780            unknown
781                B20
782                 D6
783            unknown
784            unknown
785            unknown
786            unknown
787            unknown
788            unknown
789            B82 B84
790            unknown
791            unknown
792            unknown
793            unknown
794            unknown
795            unknown
796                D17
797            unknown
798            unknown
799            unknown
800            unknown
801            unknown
802            B96 B98
803            unknown
804            unknown
805            unknown
806                A36
807            unknown
808            unknown
809                 E8
810            unknown
811            unknown
812            unknown
813            unknown
814            unknown
815               B102
816            unknown
817            unknown
818            unknown
819            unknown
820                B69
821            unknown
822            unknown
823               E121
824            unknown
825            unknown
826            unknown
827            unknown
828            unknown
829                B28
830            unknown
831            unknown
832            unknown
833            unknown
834            unknown
835                E49
836            unknown
837            unknown
838            unknown
839                C47
840            unknown
841            unknown
842            unknown
843            unknown
844            unknown
845            unknown
846            unknown
847            unknown
848            unknown
849                C92
850            unknown
851            unknown
852            unknown
853                D28
854            unknown
855            unknown
856            unknown
857                E17
858            unknown
859            unknown
860            unknown
861            unknown
862                D17
863            unknown
864            unknown
865            unknown
866            unknown
867                A24
868            unknown

# fill with mode

if we want fill the another values of Nan but

I have already fill the unknown values on the NaN values.

so, first we replace the values then fill any another np.nan values

In [423]:
import numpy as np

# Replace "Unknown" back to NaN
titanic_data['Cabin'] = titanic_data['Cabin'].replace("unknown", np.nan)

In [425]:
titanic_data['Cabin']

0                  NaN
1                  C85
2                  NaN
3                 C123
4                  NaN
5                  NaN
6                  E46
7                  NaN
8                  NaN
9                  NaN
10                  G6
11                C103
12                 NaN
13                 NaN
14                 NaN
15                 NaN
16                 NaN
17                 NaN
18                 NaN
19                 NaN
20                 NaN
21                 D56
22                 NaN
23                  A6
24                 NaN
25                 NaN
26                 NaN
27         C23 C25 C27
28                 NaN
29                 NaN
30                 NaN
31                 B78
32                 NaN
33                 NaN
34                 NaN
35                 NaN
36                 NaN
37                 NaN
38                 NaN
39                 NaN
40                 NaN
41                 NaN
42                 NaN
43                 NaN
44                 NaN
45                 NaN
46                 NaN
47                 NaN
48                 NaN
49                 NaN
50                 NaN
51                 NaN
52                 D33
53                 NaN
54                 B30
55                 C52
56                 NaN
57                 NaN
58                 NaN
59                 NaN
60                 NaN
61                 B28
62                 C83
63                 NaN
64                 NaN
65                 NaN
66                 F33
67                 NaN
68                 NaN
69                 NaN
70                 NaN
71                 NaN
72                 NaN
73                 NaN
74                 NaN
75               F G73
76                 NaN
77                 NaN
78                 NaN
79                 NaN
80                 NaN
81                 NaN
82                 NaN
83                 NaN
84                 NaN
85                 NaN
86                 NaN
87                 NaN
88         C23 C25 C27
89                 NaN
90                 NaN
91                 NaN
92                 E31
93                 NaN
94                 NaN
95                 NaN
96                  A5
97             D10 D12
98                 NaN
99                 NaN
100                NaN
101                NaN
102                D26
103                NaN
104                NaN
105                NaN
106                NaN
107                NaN
108                NaN
109                NaN
110               C110
111                NaN
112                NaN
113                NaN
114                NaN
115                NaN
116                NaN
117                NaN
118            B58 B60
119                NaN
120                NaN
121                NaN
122                NaN
123               E101
124                D26
125                NaN
126                NaN
127                NaN
128              F E69
129                NaN
130                NaN
131                NaN
132                NaN
133                NaN
134                NaN
135                NaN
136                D47
137               C123
138                NaN
139                B86
140                NaN
141                NaN
142                NaN
143                NaN
144                NaN
145                NaN
146                NaN
147                NaN
148                 F2
149                NaN
150                NaN
151                 C2
152                NaN
153                NaN
154                NaN
155                NaN
156                NaN
157                NaN
158                NaN
159                NaN
160                NaN
161                NaN
162                NaN
163                NaN
164                NaN
165                NaN
166                E33
167                NaN
168                NaN
169                NaN
170                B19
171                NaN
172                NaN
173                NaN
174                 A7
175                NaN
176                NaN
177                C49
178                NaN
179                NaN
180                NaN
181                NaN
182                NaN
183                 F4
184                NaN
185                A32
186                NaN
187                NaN
188                NaN
189                NaN
190                NaN
191                NaN
192                NaN
193                 F2
194                 B4
195                B80
196                NaN
197                NaN
198                NaN
199                NaN
200                NaN
201                NaN
202                NaN
203                NaN
204                NaN
205                 G6
206                NaN
207                NaN
208                NaN
209                A31
210                NaN
211                NaN
212                NaN
213                NaN
214                NaN
215                D36
216                NaN
217                NaN
218                D15
219                NaN
220                NaN
221                NaN
222                NaN
223                NaN
224                C93
225                NaN
226                NaN
227                NaN
228                NaN
229                NaN
230                C83
231                NaN
232                NaN
233                NaN
234                NaN
235                NaN
236                NaN
237                NaN
238                NaN
239                NaN
240                NaN
241                NaN
242                NaN
243                NaN
244                NaN
245                C78
246                NaN
247                NaN
248                D35
249                NaN
250                NaN
251                 G6
252                C87
253                NaN
254                NaN
255                NaN
256                NaN
257                B77
258                NaN
259                NaN
260                NaN
261                NaN
262                E67
263                B94
264                NaN
265                NaN
266                NaN
267                NaN
268               C125
269                C99
270                NaN
271                NaN
272                NaN
273               C118
274                NaN
275                 D7
276                NaN
277                NaN
278                NaN
279                NaN
280                NaN
281                NaN
282                NaN
283                NaN
284                A19
285                NaN
286                NaN
287                NaN
288                NaN
289                NaN
290                NaN
291                B49
292                  D
293                NaN
294                NaN
295                NaN
296                NaN
297            C22 C26
298               C106
299            B58 B60
300                NaN
301                NaN
302                NaN
303               E101
304                NaN
305            C22 C26
306                NaN
307                C65
308                NaN
309                E36
310                C54
311    B57 B59 B63 B66
312                NaN
313                NaN
314                NaN
315                NaN
316                NaN
317                NaN
318                 C7
319                E34
320                NaN
321                NaN
322                NaN
323                NaN
324                NaN
325                C32
326                NaN
327                  D
328                NaN
329                B18
330                NaN
331               C124
332                C91
333                NaN
334                NaN
335                NaN
336                 C2
337                E40
338                NaN
339                  T
340                 F2
341        C23 C25 C27
342                NaN
343                NaN
344                NaN
345                F33
346                NaN
347                NaN
348                NaN
349                NaN
350                NaN
351               C128
352                NaN
353                NaN
354                NaN
355                NaN
356                E33
357                NaN
358                NaN
359                NaN
360                NaN
361                NaN
362                NaN
363                NaN
364                NaN
365                NaN
366                D37
367                NaN
368                NaN
369                B35
370                E50
371                NaN
372                NaN
373                NaN
374                NaN
375                NaN
376                NaN
377                C82
378                NaN
379                NaN
380                NaN
381                NaN
382                NaN
383                NaN
384                NaN
385                NaN
386                NaN
387                NaN
388                NaN
389                NaN
390            B96 B98
391                NaN
392                NaN
393                D36
394                 G6
395                NaN
396                NaN
397                NaN
398                NaN
399                NaN
400                NaN
401                NaN
402                NaN
403                NaN
404                NaN
405                NaN
406                NaN
407                NaN
408                NaN
409                NaN
410                NaN
411                NaN
412                C78
413                NaN
414                NaN
415                NaN
416                NaN
417                NaN
418                NaN
419                NaN
420                NaN
421                NaN
422                NaN
423                NaN
424                NaN
425                NaN
426                NaN
427                NaN
428                NaN
429                E10
430                C52
431                NaN
432                NaN
433                NaN
434                E44
435            B96 B98
436                NaN
437                NaN
438        C23 C25 C27
439                NaN
440                NaN
441                NaN
442                NaN
443                NaN
444                NaN
445                A34
446                NaN
447                NaN
448                NaN
449               C104
450                NaN
451                NaN
452               C111
453                C92
454                NaN
455                NaN
456                E38
457                D21
458                NaN
459                NaN
460                E12
461                NaN
462                E63
463                NaN
464                NaN
465                NaN
466                NaN
467                NaN
468                NaN
469                NaN
470                NaN
471                NaN
472                NaN
473                  D
474                NaN
475                A14
476                NaN
477                NaN
478                NaN
479                NaN
480                NaN
481                NaN
482                NaN
483                NaN
484                B49
485                NaN
486                C93
487                B37
488                NaN
489                NaN
490                NaN
491                NaN
492                C30
493                NaN
494                NaN
495                NaN
496                D20
497                NaN
498            C22 C26
499                NaN
500                NaN
501                NaN
502                NaN
503                NaN
504                B79
505                C65
506                NaN
507                NaN
508                NaN
509                NaN
510                NaN
511                NaN
512                E25
513                NaN
514                NaN
515                D46
516                F33
517                NaN
518                NaN
519                NaN
520                B73
521                NaN
522                NaN
523                B18
524                NaN
525                NaN
526                NaN
527                C95
528                NaN
529                NaN
530                NaN
531                NaN
532                NaN
533                NaN
534                NaN
535                NaN
536                B38
537                NaN
538                NaN
539                B39
540                B22
541                NaN
542                NaN
543                NaN
544                C86
545                NaN
546                NaN
547                NaN
548                NaN
549                NaN
550                C70
551                NaN
552                NaN
553                NaN
554                NaN
555                NaN
556                A16
557                NaN
558                E67
559                NaN
560                NaN
561                NaN
562                NaN
563                NaN
564                NaN
565                NaN
566                NaN
567                NaN
568                NaN
569                NaN
570                NaN
571               C101
572                E25
573                NaN
574                NaN
575                NaN
576                NaN
577                E44
578                NaN
579                NaN
580                NaN
581                C68
582                NaN
583                A10
584                NaN
585                E68
586                NaN
587                B41
588                NaN
589                NaN
590                NaN
591                D20
592                NaN
593                NaN
594                NaN
595                NaN
596                NaN
597                NaN
598                NaN
599                A20
600                NaN
601                NaN
602                NaN
603                NaN
604                NaN
605                NaN
606                NaN
607                NaN
608                NaN
609               C125
610                NaN
611                NaN
612                NaN
613                NaN
614                NaN
615                NaN
616                NaN
617                NaN
618                 F4
619                NaN
620                NaN
621                D19
622                NaN
623                NaN
624                NaN
625                D50
626                NaN
627                 D9
628                NaN
629                NaN
630                A23
631                NaN
632                B50
633                NaN
634                NaN
635                NaN
636                NaN
637                NaN
638                NaN
639                NaN
640                NaN
641                B35
642                NaN
643                NaN
644                NaN
645                D33
646                NaN
647                A26
648                NaN
649                NaN
650                NaN
651                NaN
652                NaN
653                NaN
654                NaN
655                NaN
656                NaN
657                NaN
658                NaN
659                D48
660                NaN
661                NaN
662                E58
663                NaN
664                NaN
665                NaN
666                NaN
667                NaN
668                NaN
669               C126
670                NaN
671                B71
672                NaN
673                NaN
674                NaN
675                NaN
676                NaN
677                NaN
678                NaN
679        B51 B53 B55
680                NaN
681                D49
682                NaN
683                NaN
684                NaN
685                NaN
686                NaN
687                NaN
688                NaN
689                 B5
690                B20
691                NaN
692                NaN
693                NaN
694                NaN
695                NaN
696                NaN
697                NaN
698                C68
699              F G63
700            C62 C64
701                E24
702                NaN
703                NaN
704                NaN
705                NaN
706                NaN
707                E24
708                NaN
709                NaN
710                C90
711               C124
712               C126
713                NaN
714                NaN
715              F G73
716                C45
717               E101
718                NaN
719                NaN
720                NaN
721                NaN
722                NaN
723                NaN
724                 E8
725                NaN
726                NaN
727                NaN
728                NaN
729                NaN
730                 B5
731                NaN
732                NaN
733                NaN
734                NaN
735                NaN
736                NaN
737               B101
738                NaN
739                NaN
740                D45
741                C46
742    B57 B59 B63 B66
743                NaN
744                NaN
745                B22
746                NaN
747                NaN
748                D30
749                NaN
750                NaN
751               E121
752                NaN
753                NaN
754                NaN
755                NaN
756                NaN
757                NaN
758                NaN
759                B77
760                NaN
761                NaN
762                NaN
763            B96 B98
764                NaN
765                D11
766                NaN
767                NaN
768                NaN
769                NaN
770                NaN
771                NaN
772                E77
773                NaN
774                NaN
775                NaN
776                F38
777                NaN
778                NaN
779                 B3
780                NaN
781                B20
782                 D6
783                NaN
784                NaN
785                NaN
786                NaN
787                NaN
788                NaN
789            B82 B84
790                NaN
791                NaN
792                NaN
793                NaN
794                NaN
795                NaN
796                D17
797                NaN
798                NaN
799                NaN
800                NaN
801                NaN
802            B96 B98
803                NaN
804                NaN
805                NaN
806                A36
807                NaN
808                NaN
809                 E8
810                NaN
811                NaN
812                NaN
813                NaN
814                NaN
815               B102
816                NaN
817                NaN
818                NaN
819                NaN
820                B69
821                NaN
822                NaN
823               E121
824                NaN
825                NaN
826                NaN
827                NaN
828                NaN
829                B28
830                NaN
831                NaN
832                NaN
833                NaN
834                NaN
835                E49
836                NaN
837                NaN
838                NaN
839                C47
840                NaN
841                NaN
842                NaN
843                NaN
844                NaN
845                NaN
846                NaN
847                NaN
848                NaN
849                C92
850                NaN
851                NaN
852                NaN
853                D28
854                NaN
855                NaN
856                NaN
857                E17
858                NaN
859                NaN
860                NaN
861                NaN
862                D17
863                NaN
864                NaN
865                NaN
866                NaN
867                A24
868                NaN

In [457]:
mode_cabin = titanic_data.Cabin.mode()[0] # mode()[0] means values that appear most frequently in the datasets.
titanic_data['Cabin'] = titanic_data.Cabin.fillna(mode_cabin)

In [459]:
titanic_data['Cabin']

0              B96 B98
1                  C85
2              B96 B98
3                 C123
4              B96 B98
5              B96 B98
6                  E46
7              B96 B98
8              B96 B98
9              B96 B98
10                  G6
11                C103
12             B96 B98
13             B96 B98
14             B96 B98
15             B96 B98
16             B96 B98
17             B96 B98
18             B96 B98
19             B96 B98
20             B96 B98
21                 D56
22             B96 B98
23                  A6
24             B96 B98
25             B96 B98
26             B96 B98
27         C23 C25 C27
28             B96 B98
29             B96 B98
30             B96 B98
31                 B78
32             B96 B98
33             B96 B98
34             B96 B98
35             B96 B98
36             B96 B98
37             B96 B98
38             B96 B98
39             B96 B98
40             B96 B98
41             B96 B98
42             B96 B98
43             B96 B98
44             B96 B98
45             B96 B98
46             B96 B98
47             B96 B98
48             B96 B98
49             B96 B98
50             B96 B98
51             B96 B98
52                 D33
53             B96 B98
54                 B30
55                 C52
56             B96 B98
57             B96 B98
58             B96 B98
59             B96 B98
60             B96 B98
61                 B28
62                 C83
63             B96 B98
64             B96 B98
65             B96 B98
66                 F33
67             B96 B98
68             B96 B98
69             B96 B98
70             B96 B98
71             B96 B98
72             B96 B98
73             B96 B98
74             B96 B98
75               F G73
76             B96 B98
77             B96 B98
78             B96 B98
79             B96 B98
80             B96 B98
81             B96 B98
82             B96 B98
83             B96 B98
84             B96 B98
85             B96 B98
86             B96 B98
87             B96 B98
88         C23 C25 C27
89             B96 B98
90             B96 B98
91             B96 B98
92                 E31
93             B96 B98
94             B96 B98
95             B96 B98
96                  A5
97             D10 D12
98             B96 B98
99             B96 B98
100            B96 B98
101            B96 B98
102                D26
103            B96 B98
104            B96 B98
105            B96 B98
106            B96 B98
107            B96 B98
108            B96 B98
109            B96 B98
110               C110
111            B96 B98
112            B96 B98
113            B96 B98
114            B96 B98
115            B96 B98
116            B96 B98
117            B96 B98
118            B58 B60
119            B96 B98
120            B96 B98
121            B96 B98
122            B96 B98
123               E101
124                D26
125            B96 B98
126            B96 B98
127            B96 B98
128              F E69
129            B96 B98
130            B96 B98
131            B96 B98
132            B96 B98
133            B96 B98
134            B96 B98
135            B96 B98
136                D47
137               C123
138            B96 B98
139                B86
140            B96 B98
141            B96 B98
142            B96 B98
143            B96 B98
144            B96 B98
145            B96 B98
146            B96 B98
147            B96 B98
148                 F2
149            B96 B98
150            B96 B98
151                 C2
152            B96 B98
153            B96 B98
154            B96 B98
155            B96 B98
156            B96 B98
157            B96 B98
158            B96 B98
159            B96 B98
160            B96 B98
161            B96 B98
162            B96 B98
163            B96 B98
164            B96 B98
165            B96 B98
166                E33
167            B96 B98
168            B96 B98
169            B96 B98
170                B19
171            B96 B98
172            B96 B98
173            B96 B98
174                 A7
175            B96 B98
176            B96 B98
177                C49
178            B96 B98
179            B96 B98
180            B96 B98
181            B96 B98
182            B96 B98
183                 F4
184            B96 B98
185                A32
186            B96 B98
187            B96 B98
188            B96 B98
189            B96 B98
190            B96 B98
191            B96 B98
192            B96 B98
193                 F2
194                 B4
195                B80
196            B96 B98
197            B96 B98
198            B96 B98
199            B96 B98
200            B96 B98
201            B96 B98
202            B96 B98
203            B96 B98
204            B96 B98
205                 G6
206            B96 B98
207            B96 B98
208            B96 B98
209                A31
210            B96 B98
211            B96 B98
212            B96 B98
213            B96 B98
214            B96 B98
215                D36
216            B96 B98
217            B96 B98
218                D15
219            B96 B98
220            B96 B98
221            B96 B98
222            B96 B98
223            B96 B98
224                C93
225            B96 B98
226            B96 B98
227            B96 B98
228            B96 B98
229            B96 B98
230                C83
231            B96 B98
232            B96 B98
233            B96 B98
234            B96 B98
235            B96 B98
236            B96 B98
237            B96 B98
238            B96 B98
239            B96 B98
240            B96 B98
241            B96 B98
242            B96 B98
243            B96 B98
244            B96 B98
245                C78
246            B96 B98
247            B96 B98
248                D35
249            B96 B98
250            B96 B98
251                 G6
252                C87
253            B96 B98
254            B96 B98
255            B96 B98
256            B96 B98
257                B77
258            B96 B98
259            B96 B98
260            B96 B98
261            B96 B98
262                E67
263                B94
264            B96 B98
265            B96 B98
266            B96 B98
267            B96 B98
268               C125
269                C99
270            B96 B98
271            B96 B98
272            B96 B98
273               C118
274            B96 B98
275                 D7
276            B96 B98
277            B96 B98
278            B96 B98
279            B96 B98
280            B96 B98
281            B96 B98
282            B96 B98
283            B96 B98
284                A19
285            B96 B98
286            B96 B98
287            B96 B98
288            B96 B98
289            B96 B98
290            B96 B98
291                B49
292                  D
293            B96 B98
294            B96 B98
295            B96 B98
296            B96 B98
297            C22 C26
298               C106
299            B58 B60
300            B96 B98
301            B96 B98
302            B96 B98
303               E101
304            B96 B98
305            C22 C26
306            B96 B98
307                C65
308            B96 B98
309                E36
310                C54
311    B57 B59 B63 B66
312            B96 B98
313            B96 B98
314            B96 B98
315            B96 B98
316            B96 B98
317            B96 B98
318                 C7
319                E34
320            B96 B98
321            B96 B98
322            B96 B98
323            B96 B98
324            B96 B98
325                C32
326            B96 B98
327                  D
328            B96 B98
329                B18
330            B96 B98
331               C124
332                C91
333            B96 B98
334            B96 B98
335            B96 B98
336                 C2
337                E40
338            B96 B98
339                  T
340                 F2
341        C23 C25 C27
342            B96 B98
343            B96 B98
344            B96 B98
345                F33
346            B96 B98
347            B96 B98
348            B96 B98
349            B96 B98
350            B96 B98
351               C128
352            B96 B98
353            B96 B98
354            B96 B98
355            B96 B98
356                E33
357            B96 B98
358            B96 B98
359            B96 B98
360            B96 B98
361            B96 B98
362            B96 B98
363            B96 B98
364            B96 B98
365            B96 B98
366                D37
367            B96 B98
368            B96 B98
369                B35
370                E50
371            B96 B98
372            B96 B98
373            B96 B98
374            B96 B98
375            B96 B98
376            B96 B98
377                C82
378            B96 B98
379            B96 B98
380            B96 B98
381            B96 B98
382            B96 B98
383            B96 B98
384            B96 B98
385            B96 B98
386            B96 B98
387            B96 B98
388            B96 B98
389            B96 B98
390            B96 B98
391            B96 B98
392            B96 B98
393                D36
394                 G6
395            B96 B98
396            B96 B98
397            B96 B98
398            B96 B98
399            B96 B98
400            B96 B98
401            B96 B98
402            B96 B98
403            B96 B98
404            B96 B98
405            B96 B98
406            B96 B98
407            B96 B98
408            B96 B98
409            B96 B98
410            B96 B98
411            B96 B98
412                C78
413            B96 B98
414            B96 B98
415            B96 B98
416            B96 B98
417            B96 B98
418            B96 B98
419            B96 B98
420            B96 B98
421            B96 B98
422            B96 B98
423            B96 B98
424            B96 B98
425            B96 B98
426            B96 B98
427            B96 B98
428            B96 B98
429                E10
430                C52
431            B96 B98
432            B96 B98
433            B96 B98
434                E44
435            B96 B98
436            B96 B98
437            B96 B98
438        C23 C25 C27
439            B96 B98
440            B96 B98
441            B96 B98
442            B96 B98
443            B96 B98
444            B96 B98
445                A34
446            B96 B98
447            B96 B98
448            B96 B98
449               C104
450            B96 B98
451            B96 B98
452               C111
453                C92
454            B96 B98
455            B96 B98
456                E38
457                D21
458            B96 B98
459            B96 B98
460                E12
461            B96 B98
462                E63
463            B96 B98
464            B96 B98
465            B96 B98
466            B96 B98
467            B96 B98
468            B96 B98
469            B96 B98
470            B96 B98
471            B96 B98
472            B96 B98
473                  D
474            B96 B98
475                A14
476            B96 B98
477            B96 B98
478            B96 B98
479            B96 B98
480            B96 B98
481            B96 B98
482            B96 B98
483            B96 B98
484                B49
485            B96 B98
486                C93
487                B37
488            B96 B98
489            B96 B98
490            B96 B98
491            B96 B98
492                C30
493            B96 B98
494            B96 B98
495            B96 B98
496                D20
497            B96 B98
498            C22 C26
499            B96 B98
500            B96 B98
501            B96 B98
502            B96 B98
503            B96 B98
504                B79
505                C65
506            B96 B98
507            B96 B98
508            B96 B98
509            B96 B98
510            B96 B98
511            B96 B98
512                E25
513            B96 B98
514            B96 B98
515                D46
516                F33
517            B96 B98
518            B96 B98
519            B96 B98
520                B73
521            B96 B98
522            B96 B98
523                B18
524            B96 B98
525            B96 B98
526            B96 B98
527                C95
528            B96 B98
529            B96 B98
530            B96 B98
531            B96 B98
532            B96 B98
533            B96 B98
534            B96 B98
535            B96 B98
536                B38
537            B96 B98
538            B96 B98
539                B39
540                B22
541            B96 B98
542            B96 B98
543            B96 B98
544                C86
545            B96 B98
546            B96 B98
547            B96 B98
548            B96 B98
549            B96 B98
550                C70
551            B96 B98
552            B96 B98
553            B96 B98
554            B96 B98
555            B96 B98
556                A16
557            B96 B98
558                E67
559            B96 B98
560            B96 B98
561            B96 B98
562            B96 B98
563            B96 B98
564            B96 B98
565            B96 B98
566            B96 B98
567            B96 B98
568            B96 B98
569            B96 B98
570            B96 B98
571               C101
572                E25
573            B96 B98
574            B96 B98
575            B96 B98
576            B96 B98
577                E44
578            B96 B98
579            B96 B98
580            B96 B98
581                C68
582            B96 B98
583                A10
584            B96 B98
585                E68
586            B96 B98
587                B41
588            B96 B98
589            B96 B98
590            B96 B98
591                D20
592            B96 B98
593            B96 B98
594            B96 B98
595            B96 B98
596            B96 B98
597            B96 B98
598            B96 B98
599                A20
600            B96 B98
601            B96 B98
602            B96 B98
603            B96 B98
604            B96 B98
605            B96 B98
606            B96 B98
607            B96 B98
608            B96 B98
609               C125
610            B96 B98
611            B96 B98
612            B96 B98
613            B96 B98
614            B96 B98
615            B96 B98
616            B96 B98
617            B96 B98
618                 F4
619            B96 B98
620            B96 B98
621                D19
622            B96 B98
623            B96 B98
624            B96 B98
625                D50
626            B96 B98
627                 D9
628            B96 B98
629            B96 B98
630                A23
631            B96 B98
632                B50
633            B96 B98
634            B96 B98
635            B96 B98
636            B96 B98
637            B96 B98
638            B96 B98
639            B96 B98
640            B96 B98
641                B35
642            B96 B98
643            B96 B98
644            B96 B98
645                D33
646            B96 B98
647                A26
648            B96 B98
649            B96 B98
650            B96 B98
651            B96 B98
652            B96 B98
653            B96 B98
654            B96 B98
655            B96 B98
656            B96 B98
657            B96 B98
658            B96 B98
659                D48
660            B96 B98
661            B96 B98
662                E58
663            B96 B98
664            B96 B98
665            B96 B98
666            B96 B98
667            B96 B98
668            B96 B98
669               C126
670            B96 B98
671                B71
672            B96 B98
673            B96 B98
674            B96 B98
675            B96 B98
676            B96 B98
677            B96 B98
678            B96 B98
679        B51 B53 B55
680            B96 B98
681                D49
682            B96 B98
683            B96 B98
684            B96 B98
685            B96 B98
686            B96 B98
687            B96 B98
688            B96 B98
689                 B5
690                B20
691            B96 B98
692            B96 B98
693            B96 B98
694            B96 B98
695            B96 B98
696            B96 B98
697            B96 B98
698                C68
699              F G63
700            C62 C64
701                E24
702            B96 B98
703            B96 B98
704            B96 B98
705            B96 B98
706            B96 B98
707                E24
708            B96 B98
709            B96 B98
710                C90
711               C124
712               C126
713            B96 B98
714            B96 B98
715              F G73
716                C45
717               E101
718            B96 B98
719            B96 B98
720            B96 B98
721            B96 B98
722            B96 B98
723            B96 B98
724                 E8
725            B96 B98
726            B96 B98
727            B96 B98
728            B96 B98
729            B96 B98
730                 B5
731            B96 B98
732            B96 B98
733            B96 B98
734            B96 B98
735            B96 B98
736            B96 B98
737               B101
738            B96 B98
739            B96 B98
740                D45
741                C46
742    B57 B59 B63 B66
743            B96 B98
744            B96 B98
745                B22
746            B96 B98
747            B96 B98
748                D30
749            B96 B98
750            B96 B98
751               E121
752            B96 B98
753            B96 B98
754            B96 B98
755            B96 B98
756            B96 B98
757            B96 B98
758            B96 B98
759                B77
760            B96 B98
761            B96 B98
762            B96 B98
763            B96 B98
764            B96 B98
765                D11
766            B96 B98
767            B96 B98
768            B96 B98
769            B96 B98
770            B96 B98
771            B96 B98
772                E77
773            B96 B98
774            B96 B98
775            B96 B98
776                F38
777            B96 B98
778            B96 B98
779                 B3
780            B96 B98
781                B20
782                 D6
783            B96 B98
784            B96 B98
785            B96 B98
786            B96 B98
787            B96 B98
788            B96 B98
789            B82 B84
790            B96 B98
791            B96 B98
792            B96 B98
793            B96 B98
794            B96 B98
795            B96 B98
796                D17
797            B96 B98
798            B96 B98
799            B96 B98
800            B96 B98
801            B96 B98
802            B96 B98
803            B96 B98
804            B96 B98
805            B96 B98
806                A36
807            B96 B98
808            B96 B98
809                 E8
810            B96 B98
811            B96 B98
812            B96 B98
813            B96 B98
814            B96 B98
815               B102
816            B96 B98
817            B96 B98
818            B96 B98
819            B96 B98
820                B69
821            B96 B98
822            B96 B98
823               E121
824            B96 B98
825            B96 B98
826            B96 B98
827            B96 B98
828            B96 B98
829                B28
830            B96 B98
831            B96 B98
832            B96 B98
833            B96 B98
834            B96 B98
835                E49
836            B96 B98
837            B96 B98
838            B96 B98
839                C47
840            B96 B98
841            B96 B98
842            B96 B98
843            B96 B98
844            B96 B98
845            B96 B98
846            B96 B98
847            B96 B98
848            B96 B98
849                C92
850            B96 B98
851            B96 B98
852            B96 B98
853                D28
854            B96 B98
855            B96 B98
856            B96 B98
857                E17
858            B96 B98
859            B96 B98
860            B96 B98
861            B96 B98
862                D17
863            B96 B98
864            B96 B98
865            B96 B98
866            B96 B98
867                A24
868            B96 B98

mode()[1] retrieves the second most frequently occurring value from the mode of a Series or DataFrame, if it exists.

In [433]:
titanic_data['Embarked'].isnull().sum()

2

In [437]:
titanic_data['Embarked'].describe()

count     889
unique      3
top         S
freq      644
Name: Embarked, dtype: object

# now we can go for mode or drop the data,  I would be prefered dropping the the unneccsary values(NaN Values) but if we will drop then the lost the data. So, prevent the data that we can use subset.

subset :

In [526]:
# Drop rows where the 'Cabin' column has NaN values
titanic_data.dropna(subset=['Cabin'], inplace=True) 

#dropna(subset=['Cabin']) removes only the where the cabin columns has NaN values, without affecting other columns..

In [445]:
mode_Embarked = titanic_data.Embarked.mode()[0]
titanic_data['Embarked'] = titanic_data['Embarked'].fillna(mode)

In [451]:
# give the 0 null values;
titanic_data['Embarked'].isna().sum() # .isna() same as isnull()

0

In [140]:
titanic_data.nunique(axis=1) # columns wise

0       9
1      10
2       9
3      10
4       9
5       8
6      10
7      10
8      11
9      10
10     10
11     10
12      9
13     11
14      9
15      9
16     11
17      9
18     10
19      9
20      9
21     11
22     10
23     10
24     10
25     10
26      8
27     12
28      9
29      8
30      9
31      9
32      9
33      9
34      9
35      9
36      9
37      9
38      9
39     10
40     10
41     10
42      8
43      9
44     10
45      8
46      9
47      9
48      9
49     10
50     11
51      9
52     10
53     10
54     10
55      9
56     10
57      9
58      9
59     11
60      9
61      9
62     10
63     10
64      8
65      8
66     11
67      9
68     11
69     10
70      9
71     11
72      9
73     10
74     10
75     10
76      8
77      8
78     10
79     10
80      9
81     10
82      9
83      9
84     10
85     10
86     10
87      8
88     11
89      9
90      9
91      9
92     10
93     11
94      9
95      8
96     10
97     10
98     10
99     10
100     9
101     8
102    10
103     9
104    10
105     9
106    10
107     9
108     9
109     9
110    10
111    10
112     9
113    10
114     9
115     9
116     9
117    10
118    10
119    10
120     9
121     8
122    10
123    11
124    10
125    10
126     8
127    10
128     9
129     9
130     9
131     9
132    10
133    10
134     9
135     9
136    11
137    10
138     9
139    10
140     9
141    10
142    10
143     9
144     9
145    10
146    10
147    10
148    10
149     9
150     9
151    10
152     9
153    10
154     8
155     9
156    10
157     9
158     8
159    10
160    10
161    10
162     9
163     9
164    10
165    11
166     9
167    11
168     8
169     9
170    10
171    10
172     8
173     9
174    10
175    10
176     9
177    10
178     9
179     8
180    10
181     8
182    11
183     9
184    11
185     9
186     9
187     9
188    10
189     9
190    10
191     9
192    10
193    10
194    10
195    10
196     8
197    10
198     9
199     9
200     9
201    10
202     9
203     9
204    10
205    11
206    10
207    10
208    10
209    10
210     9
211    10
212     9
213     9
214     9
215    10
216    10
217    10
218    10
219     9
220    10
221     9
222     9
223     8
224    10
225     9
226    10
227     9
228     9
229     9
230    10
231     9
232     9
233    11
234     9
235     8
236    10
237    10
238     9
239     9
240     9
241     9
242     9
243     9
244     9
245    11
246     9
247    10
248     9
249    10
250     8
251    11
252    10
253    10
254    10
255    11
256     8
257    10
258     9
259    10
260     8
261    10
262    10
263     9
264     8
265     9
266    11
267    10
268    10
269    10
270     8
271     9
272    10
273    10
274     9
275    10
276     9
277     7
278    11
279     9
280     9
281     9
282     9
283    10
284     9
285     9
286    10
287     9
288    10
289    10
290     9
291    10
292    10
293     9
294     9
295     8
296     9
297    10
298     9
299    10
300     9
301    10
302     8
303    10
304     8
305    10
306     8
307    10
308    10
309    10
310    10
311    10
312     9
313     9
314    10
315    10
316    10
317     9
318    11
319     9
320     9
321     9
322    10
323     9
324    10
325    10
326     9
327    11
328     9
329    10
330    10
331    10
332    10
333    10
334     8
335     8
336    10
337    10
338    10
339    10
340     9
341    11
342     9
343     9
344     9
345    11
346    10
347     9
348     8
349     9
350     9
351     9
352    10
353    10
354     8
355     9
356    10
357     9
358     9
359     9
360    11
361    10
362    10
363     9
364     9
365     9
366    10
367     9
368     9
369    10
370    10
371    10
372     9
373     9
374     9
375     8
376    10
377    11
378     9
379     9
380     9
381    10
382     9
383     9
384     8
385     9
386    11
387    10
388     8
389    10
390    10
391    10
392    10
393    10
394    12
395     9
396     9
397     9
398     9
399    10
400    10
401     9
402    10
403    10
404     9
405    10
406     9
407     9
408     9
409     9
410     8
411     8
412    10
413     7
414    10
415     8
416     9
417    10
418     9
419    10
420     8
421     9
422     9
423    10
424    10
425     8
426    10
427    10
428     8
429    11
430    10
431     9
432    10
433     9
434    10
435    10
436    10
437    10
438    11
439     9
440     9
441     9
442    10
443    10
444     9
445    11
446    10
447     9
448    10
449    10
450    10
451     9
452    10
453    10
454     8
455    10
456    10
457     9
458    10
459     8
460    10
461     9
462    10
463     9
464     8
465     9
466     7
467     9
468     8
469    10
470     8
471     9
472     9
473    11
474     9
475     9
476    10
477    10
478     9
479    10
480    11
481     7
482     9
483    10
484    10
485     9
486    10
487    10
488     9
489     9
490     9
491     9
492    10
493     9
494     9
495     8
496    10
497     8
498    11
499     9
500     9
501     9
502     8
503     9
504    10
505    10
506    10
507     8
508     9
509    10
510    10
511     8
512    10
513     9
514     9
515    10
516    11
517     8
518    10
519     9
520    10
521     9
522     8
523    10
524     8
525     9
526    10
527     9
528     9
529    10
530     8
531     8
532    10
533    10
534     9
535    10
536    10
537     9
538     8
539    11
540    11
541    11
542    11
543    10
544    10
545     9
546    10
547     9
548    10
549     9
550    11
551     9
552     8
553    10
554    10
555     9
556    10
557     8
558     9
559    10
560     8
561     9
562     9
563     8
564     8
565    10
566     9
567    10
568     8
569    10
570    10
571    11
572    10
573     9
574     9
575     9
576    10
577    10
578     9
579    10
580     9
581     9
582     9
583    10
584     8
585    11
586     9
587     9
588     9
589     8
590     9
591    10
592     9
593     9
594    10
595    10
596     9
597     8
598     8
599    10
600     9
601     8
602     8
603     9
604     9
605    10
606     9
607     9
608     9
609    10
610    11
611     8
612     9
613     8
614     9
615     9
616    10
617    10
618    10
619     9
620    10
621    10
622     9
623     9
624     9
625    10
626     9
627    10
628     9
629     8
630    10
631     9
632    10
633     7
634    10
635    10
636     9
637    10
638    10
639     9
640     9
641    10
642     9
643     9
644    10
645    10
646     9
647    10
648     8
649    10
650     8
651    10
652     9
653     9
654     9
655     9
656     8
657    10
658     9
659    11
660    10
661     9
662    10
663     9
664    10
665     9
666     9
667     8
668     9
669     9
670     9
671    10
672     9
673    10
674     7
675     9
676     9
677    10
678    11
679    10
680     8
681    10
682     9
683    11
684    10
685    10
686    11
687     9
688     9
689    10
690    10
691    10
692     9
693     9
694     9
695     9
696     9
697     9
698    10
699    10
700    10
701    10
702    10
703     9
704    10
705     9
706    10
707    10
708     9
709     8
710    10
711     9
712    10
713     9
714     9
715    10
716    10
717    11
718     8
719     9
720    10
721    10
722     9
723     9
724    10
725     9
726    11
727     9
728    10
729    10
730    10
731     9
732     7
733     9
734     9
735     9
736    10
737    10
738     8
739     8
740     9
741    10
742    10
743    10
744    10
745    10
746    10
747    10
748    10
749     9
750     9
751    11
752     9
753     9
754     9
755     9
756     9
757     9
758     9
759    10
760     8
761     9
762    10
763    10
764     9
765    10
766     8
767     9
768     9
769     9
770     9
771     9
772    10
773     8
774    10
775     9
776     9
777    10
778     8
779    10
780    10
781    10
782    10
783    10
784     9
785     9
786    10
787    11
788     9
789    10
790     8
791     9
792    10
793     8
794     9
795     9
796    10
797    10
798     9
799    10
800     9
801     9
802    10
803    10
804    10
805     9
806     9
807     9
808     9
809    10
810     9
811     9
812     9
813    11
814     9
815     8
816     9
817    10
818     9
819    10
820     9
821    10
822     8
823    11
824    11
825     8
826     8
827     9
828     9
829     9
830    10
831     9
832     8
833     9
834     9
835     9
836     9
837     8
838    10
839     9
840     9
841     9
842     9
843     9
844     9
845     9
846    10
847     9
848    10
849     9
850    10
851     9
852    10
853    10
854    10
855    10
856     8
857    10
858    10
859     8
860    10
861    10
862    10
863    10
864     9
865    10
866    10
867    10
868     8
869     9
870     9
871     9
872    10
873     9
874    10
875    10
876     9
877     9
878     8
879    10
880    10
881     9
882     9
883     9
884     9
885    10
886     9
887    10
888    10
889    10
890     9
dtype: int64

In [141]:
titanic_data.nunique(axis=0) # row wise and also it take by defaults..

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

In [145]:
# Find the count of unique values from each column
titanic_data['Pclass'].value_counts()

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [146]:
titanic_data['Pclass'].value_counts().head()

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [152]:
titanic_data.value_counts(sort=False)

PassengerId  Survived  Pclass  Name                                                                                Sex     Age    SibSp  Parch  Ticket             Fare      Cabin            Embarked
2            1         1       Cumings, Mrs. John Bradley (Florence Briggs Thayer)                                 female  38.00  1      0      PC 17599           71.2833   C85              C           1
4            1         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)                                        female  35.00  1      0      113803             53.1000   C123             S           1
7            0         1       McCarthy, Mr. Timothy J                                                             male    54.00  0      0      17463              51.8625   E46              S           1
11           1         3       Sandstrom, Miss. Marguerite Rut                                                     female  4.00   1      1      PP 9549            16.7000   G6               S           1
12           1         1       Bonnell, Miss. Elizabeth                                                            female  58.00  0      0      113783             26.5500   C103             S           1
22           1         2       Beesley, Mr. Lawrence                                                               male    34.00  0      0      248698             13.0000   D56              S           1
24           1         1       Sloper, Mr. William Thompson                                                        male    28.00  0      0      113788             35.5000   A6               S           1
28           0         1       Fortune, Mr. Charles Alexander                                                      male    19.00  3      2      19950              263.0000  C23 C25 C27      S           1
53           1         1       Harper, Mrs. Henry Sleeper (Myna Haxtun)                                            female  49.00  1      0      PC 17572           76.7292   D33              C           1
55           0         1       Ostby, Mr. Engelhart Cornelius                                                      male    65.00  0      1      113509             61.9792   B30              C           1
63           0         1       Harris, Mr. Henry Birkhardt                                                         male    45.00  1      0      36973              83.4750   C83              S           1
67           1         2       Nye, Mrs. (Elizabeth Ramell)                                                        female  29.00  0      0      C.A. 29395         10.5000   F33              S           1
76           0         3       Moen, Mr. Sigurd Hansen                                                             male    25.00  0      0      348123             7.6500    F G73            S           1
89           1         1       Fortune, Miss. Mabel Helen                                                          female  23.00  3      2      19950              263.0000  C23 C25 C27      S           1
93           0         1       Chaffee, Mr. Herbert Fuller                                                         male    46.00  1      0      W.E.P. 5734        61.1750   E31              S           1
97           0         1       Goldschmidt, Mr. George B                                                           male    71.00  0      0      PC 17754           34.6542   A5               C           1
98           1         1       Greenfield, Mr. William Bertram                                                     male    23.00  0      1      PC 17759           63.3583   D10 D12          C           1
103          0         1       White, Mr. Richard Frasar                                                           male    21.00  0      1      35281              77.2875   D26              S           1
111          0         1       Porter, Mr. Walter Chamberlain                                                      male    47.00  0      0      110465             52.0000   C110             S           1
119          0         1       Baxter, Mr. Quigg Edmond                                                            male    24.00  0      1      PC 17558           247.5208  B58 B60          C           1
124          1         2       Webber, Miss. Susan                                                                 female  32.50  0      0      27267              13.0000   E101             S           1
125          0         1       White, Mr. Percival Wayland                                                         male    54.00  0      1      35281              77.2875   D26              S           1
137          1         1       Newsom, Miss. Helen Monypeny                                                        female  19.00  0      2      11752              26.2833   D47              S           1
138          0         1       Futrelle, Mr. Jacques Heath                                                         male    37.00  1      0      113803             53.1000   C123             S           1
140          0         1       Giglio, Mr. Victor                                                                  male    24.00  0      0      PC 17593           79.2000   B86              C           1
149          0         2       Navratil, Mr. Michel ("Louis M Hoffman")                                            male    36.50  0      2      230080             26.0000   F2               S           1
152          1         1       Pears, Mrs. Thomas (Edith Wearne)                                                   female  22.00  1      0      113776             66.6000   C2               S           1
171          0         1       Van der hoef, Mr. Wyckoff                                                           male    61.00  0      0      111240             33.5000   B19              S           1
175          0         1       Smith, Mr. James Clinch                                                             male    56.00  0      0      17764              30.6958   A7               C           1
178          0         1       Isham, Miss. Ann Elizabeth                                                          female  50.00  0      0      PC 17595           28.7125   C49              C           1
184          1         2       Becker, Master. Richard F                                                           male    1.00   2      1      230136             39.0000   F4               S           1
194          1         2       Navratil, Master. Michel M                                                          male    3.00   1      1      230080             26.0000   F2               S           1
195          1         1       Brown, Mrs. James Joseph (Margaret Tobin)                                           female  44.00  0      0      PC 17610           27.7208   B4               C           1
196          1         1       Lurette, Miss. Elise                                                                female  58.00  0      0      PC 17569           146.5208  B80              C           1
206          0         3       Strom, Miss. Telma Matilda                                                          female  2.00   0      1      347054             10.4625   G6               S           1
210          1         1       Blank, Mr. Henry                                                                    male    40.00  0      0      112277             31.0000   A31              C           1
216          1         1       Newell, Miss. Madeleine                                                             female  31.00  1      0      35273              113.2750  D36              C           1
219          1         1       Bazzani, Miss. Albina                                                               female  32.00  0      0      11813              76.2917   D15              C           1
225          1         1       Hoyt, Mr. Frederick Maxfield                                                        male    38.00  1      0      19943              90.0000   C93              S           1
231          1         1       Harris, Mrs. Henry Birkhardt (Irene Wallach)                                        female  35.00  1      0      36973              83.4750   C83              S           1
246          0         1       Minahan, Dr. William Edward                                                         male    44.00  2      0      19928              90.0000   C78              Q           1
249          1         1       Beckwith, Mr. Richard Leonard                                                       male    37.00  1      1      11751              52.5542   D35              S           1
252          0         3       Strom, Mrs. Wilhelm (Elna Matilda Persson)                                          female  29.00  1      1      347054             10.4625   G6               S           1
253          0         1       Stead, Mr. William Thomas                                                           male    62.00  0      0      113514             26.5500   C87              S           1
258          1         1       Cherry, Miss. Gladys                                                                female  30.00  0      0      110152             86.5000   B77              S           1
263          0         1       Taussig, Mr. Emil                                                                   male    52.00  1      1      110413             79.6500   E67              S           1
264          0         1       Harrison, Mr. William                                                               male    40.00  0      0      112059             0.0000    B94              S           1
269          1         1       Graham, Mrs. William Thompson (Edith Junkins)                                       female  58.00  0      1      PC 17582           153.4625  C125             S           1
270          1         1       Bissette, Miss. Amelia                                                              female  35.00  0      0      PC 17760           135.6333  C99              S           1
274          0         1       Natsch, Mr. Charles H                                                               male    37.00  0      1      PC 17596           29.7000   C118             C           1
276          1         1       Andrews, Miss. Kornelia Theodosia                                                   female  63.00  1      0      13502              77.9583   D7               S           1
292          1         1       Bishop, Mrs. Dickinson H (Helen Walton)                                             female  19.00  1      0      11967              91.0792   B49              C           1
293          0         2       Levy, Mr. Rene Jacques                                                              male    36.00  0      0      SC/Paris 2163      12.8750   D                C           1
298          0         1       Allison, Miss. Helen Loraine                                                        female  2.00   1      2      113781             151.5500  C22 C26          S           1
300          1         1       Baxter, Mrs. James (Helene DeLaudeniere Chaput)                                     female  50.00  0      1      PC 17558           247.5208  B58 B60          C           1
306          1         1       Allison, Master. Hudson Trevor                                                      male    0.92   1      2      113781             151.5500  C22 C26          S           1
308          1         1       Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)  female  17.00  1      0      PC 17758           108.9000  C65              C           1
310          1         1       Francatelli, Miss. Laura Mabel                                                      female  30.00  0      0      PC 17485           56.9292   E36              C           1
311          1         1       Hays, Miss. Margaret Bechstein                                                      female  24.00  0      0      11767              83.1583   C54              C           1
312          1         1       Ryerson, Miss. Emily Borie                                                          female  18.00  2      2      PC 17608           262.3750  B57 B59 B63 B66  C           1
319          1         1       Wick, Miss. Mary Natalie                                                            female  31.00  0      2      36928              164.8667  C7               S           1
320          1         1       Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)                            female  40.00  1      1      16966              134.5000  E34              C           1
326          1         1       Young, Miss. Marie Grice                                                            female  36.00  0      0      PC 17760           135.6333  C32              C           1
328          1         2       Ball, Mrs. (Ada E Hall)                                                             female  36.00  0      0      28551              13.0000   D                S           1
330          1         1       Hippach, Miss. Jean Gertrude                                                        female  16.00  0      1      111361             57.9792   B18              C           1
332          0         1       Partner, Mr. Austen                                                                 male    45.50  0      0      113043             28.5000   C124             S           1
333          0         1       Graham, Mr. George Edward                                                           male    38.00  0      1      PC 17582           153.4625  C91              S           1
337          0         1       Pears, Mr. Thomas Clinton                                                           male    29.00  1      0      113776             66.6000   C2               S           1
338          1         1       Burns, Miss. Elizabeth Margaret                                                     female  41.00  0      0      16966              134.5000  E40              C           1
340          0         1       Blackwell, Mr. Stephen Weart                                                        male    45.00  0      0      113784             35.5000   T                S           1
341          1         2       Navratil, Master. Edmond Roger                                                      male    2.00   1      1      230080             26.0000   F2               S           1
342          1         1       Fortune, Miss. Alice Elizabeth                                                      female  24.00  3      2      19950              263.0000  C23 C25 C27      S           1
346          1         2       Brown, Miss. Amelia "Mildred"                                                       female  24.00  0      0      248733             13.0000   F33              S           1
357          1         1       Bowerman, Miss. Elsie Edith                                                         female  22.00  0      1      113505             55.0000   E33              S           1
367          1         1       Warren, Mrs. Frank Manley (Anna Sophia Atkinson)                                    female  60.00  1      0      110813             75.2500   D37              C           1
370          1         1       Aubart, Mme. Leontine Pauline                                                       female  24.00  0      0      PC 17477           69.3000   B35              C           1
371          1         1       Harder, Mr. George Achilles                                                         male    25.00  1      0      11765              55.4417   E50              C           1
378          0         1       Widener, Mr. Harry Elkins                                                           male    27.00  0      2      113503             211.5000  C82              C           1
391          1         1       Carter, Mr. William Ernest                                                          male    36.00  1      2      113760             120.0000  B96 B98          S           1
394          1         1       Newell, Miss. Marjorie                                                              female  23.00  1      0      35273              113.2750  D36              C           1
395          1         3       Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)                                 female  24.00  0      2      PP 9549            16.7000   G6               S           1
413          1         1       Minahan, Miss. Daisy E                                                              female  33.00  1      0      19928              90.0000   C78              Q           1
430          1         3       Pickard, Mr. Berk (Berk Trembisky)                                                  male    32.00  0      0      SOTON/O.Q. 392078  8.0500    E10              S           1
431          1         1       Bjornstrom-Steffansson, Mr. Mauritz Hakan                                           male    28.00  0      0      110564             26.5500   C52              S           1
435          0         1       Silvey, Mr. William Baird                                                           male    50.00  1      0      13507              55.9000   E44              S           1
436          1         1       Carter, Miss. Lucile Polk                                                           female  14.00  1      2      113760             120.0000  B96 B98          S           1
439          0         1       Fortune, Mr. Mark                                                                   male    64.00  1      4      19950              263.0000  C23 C25 C27      S           1
446          1         1       Dodge, Master. Washington                                                           male    4.00   0      2      33638              81.8583   A34              S           1
450          1         1       Peuchen, Major. Arthur Godfrey                                                      male    52.00  0      0      113786             30.5000   C104             S           1
453          0         1       Foreman, Mr. Benjamin Laventall                                                     male    30.00  0      0      113051             27.7500   C111             C           1
454          1         1       Goldenberg, Mr. Samuel L                                                            male    49.00  1      0      17453              89.1042   C92              C           1
457          0         1       Millet, Mr. Francis Davis                                                           male    65.00  0      0      13509              26.5500   E38              S           1
461          1         1       Anderson, Mr. Harry                                                                 male    48.00  0      0      19952              26.5500   E12              S           1
463          0         1       Gee, Mr. Arthur H                                                                   male    47.00  0      0      111320             38.5000   E63              S           1
474          1         2       Jerwan, Mrs. Amin S (Marie Marthe Thuillard)                                        female  23.00  0      0      SC/AH Basle 541    13.7917   D                C           1
485          1         1       Bishop, Mr. Dickinson H                                                             male    25.00  1      0      11967              91.0792   B49              C           1
487          1         1       Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)                                     female  35.00  1      0      19943              90.0000   C93              S           1

In [453]:
titanic_data.value_counts(dropna=False)

PassengerId  Survived  Pclass  Name                                                                                Sex     Age        SibSp  Parch  Ticket              Fare      Cabin            Embarked
1            0         3       Braund, Mr. Owen Harris                                                             male    22.000000  1      0      A/5 21171           7.2500    NaN              S           1
599          0         3       Boulos, Mr. Hanna                                                                   male    29.699118  0      0      2664                7.2250    NaN              C           1
588          1         1       Frolicher-Stehli, Mr. Maxmillian                                                    male    60.000000  1      1      13567               79.2000   B41              C           1
589          0         3       Gilinski, Mr. Eliezer                                                               male    22.000000  0      0      14973               8.0500    NaN              S           1
590          0         3       Murdlin, Mr. Joseph                                                                 male    29.699118  0      0      A./5. 3235          8.0500    NaN              S           1
591          0         3       Rintamaki, Mr. Matti                                                                male    35.000000  0      0      STON/O 2. 3101273   7.1250    NaN              S           1
592          1         1       Stephenson, Mrs. Walter Bertram (Martha Eustis)                                     female  52.000000  1      0      36947               78.2667   D20              C           1
593          0         3       Elsbury, Mr. William James                                                          male    47.000000  0      0      A/5 3902            7.2500    NaN              S           1
594          0         3       Bourke, Miss. Mary                                                                  female  29.699118  0      2      364848              7.7500    NaN              Q           1
595          0         2       Chapman, Mr. John Henry                                                             male    37.000000  1      0      SC/AH 29037         26.0000   NaN              S           1
596          0         3       Van Impe, Mr. Jean Baptiste                                                         male    36.000000  1      1      345773              24.1500   NaN              S           1
597          1         2       Leitch, Miss. Jessie Wills                                                          female  29.699118  0      0      248727              33.0000   NaN              S           1
598          0         3       Johnson, Mr. Alfred                                                                 male    49.000000  0      0      LINE                0.0000    NaN              S           1
600          1         1       Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")                                        male    49.000000  1      0      PC 17485            56.9292   A20              C           1
586          1         1       Taussig, Miss. Ruth                                                                 female  18.000000  0      2      110413              79.6500   E68              S           1
601          1         2       Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)                                 female  24.000000  2      1      243847              27.0000   NaN              S           1
602          0         3       Slabenoff, Mr. Petco                                                                male    29.699118  0      0      349214              7.8958    NaN              S           1
603          0         1       Harrington, Mr. Charles H                                                           male    29.699118  0      0      113796              42.4000   NaN              S           1
604          0         3       Torber, Mr. Ernst William                                                           male    44.000000  0      0      364511              8.0500    NaN              S           1
605          1         1       Homer, Mr. Harry ("Mr E Haven")                                                     male    35.000000  0      0      111426              26.5500   NaN              C           1
606          0         3       Lindell, Mr. Edvard Bengtsson                                                       male    36.000000  1      0      349910              15.5500   NaN              S           1
607          0         3       Karaic, Mr. Milan                                                                   male    30.000000  0      0      349246              7.8958    NaN              S           1
608          1         1       Daniel, Mr. Robert Williams                                                         male    27.000000  0      0      113804              30.5000   NaN              S           1
609          1         2       Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)                               female  22.000000  1      2      SC/Paris 2123       41.5792   NaN              C           1
610          1         1       Shutes, Miss. Elizabeth W                                                           female  40.000000  0      0      PC 17582            153.4625  C125             S           1
611          0         3       Andersson, Mrs. Anders Johan (Alfrida Konstantia Brogren)                           female  39.000000  1      5      347082              31.2750   NaN              S           1
587          0         2       Jarvis, Mr. John Denzil                                                             male    47.000000  0      0      237565              15.0000   NaN              S           1
585          0         3       Paulner, Mr. Uscher                                                                 male    29.699118  0      0      3411                8.7125    NaN              C           1
613          1         3       Murphy, Miss. Margaret Jane                                                         female  29.699118  1      0      367230              15.5000   NaN              Q           1
571          1         2       Harris, Mr. George                                                                  male    62.000000  0      0      S.W./PP 752         10.5000   NaN              S           1
560          1         3       de Messemaeker, Mrs. Guillaume Joseph (Emma)                                        female  36.000000  1      0      345572              17.4000   NaN              S           1
561          0         3       Morrow, Mr. Thomas Rowan                                                            male    29.699118  0      0      372622              7.7500    NaN              Q           1
562          0         3       Sivic, Mr. Husein                                                                   male    40.000000  0      0      349251              7.8958    NaN              S           1
563          0         2       Norman, Mr. Robert Douglas                                                          male    28.000000  0      0      218629              13.5000   NaN              S           1
564          0         3       Simmons, Mr. John                                                                   male    29.699118  0      0      SOTON/OQ 392082     8.0500    NaN              S           1
565          0         3       Meanwell, Miss. (Marion Ogden)                                                      female  29.699118  0      0      SOTON/O.Q. 392087   8.0500    NaN              S           1
566          0         3       Davies, Mr. Alfred J                                                                male    24.000000  2      0      A/4 48871           24.1500   NaN              S           1
567          0         3       Stoytcheff, Mr. Ilia                                                                male    19.000000  0      0      349205              7.8958    NaN              S           1
568          0         3       Palsson, Mrs. Nils (Alma Cornelia Berglund)                                         female  29.000000  0      4      349909              21.0750   NaN              S           1
569          0         3       Doharr, Mr. Tannous                                                                 male    29.699118  0      0      2686                7.2292    NaN              C           1
570          1         3       Jonsson, Mr. Carl                                                                   male    32.000000  0      0      350417              7.8542    NaN              S           1
572          1         1       Appleton, Mrs. Edward Dale (Charlotte Lamson)                                       female  53.000000  2      0      11769               51.4792   C101             S           1
584          0         1       Ross, Mr. John Hugo                                                                 male    36.000000  0      0      13049               40.1250   A10              C           1
573          1         1       Flynn, Mr. John Irwin ("Irving")                                                    male    36.000000  0      0      PC 17474            26.3875   E25              S           1
574          1         3       Kelly, Miss. Mary                                                                   female  29.699118  0      0      14312               7.7500    NaN              Q           1
575          0         3       Rush, Mr. Alfred George John                                                        male    16.000000  0      0      A/4. 20589          8.0500    NaN              S           1
576          0         3       Patchett, Mr. George                                                                male    19.000000  0      0      358585              14.5000   NaN              S           1
577          1         2       Garside, Miss. Ethel                                                                female  34.000000  0      0      243880              13.0000   NaN              S           1
578          1         1       Silvey, Mrs. William Baird (Alice Munger)                                           female  39.000000  1      0      13507               55.9000   E44              S           1
579          0         3       Caram, Mrs. Joseph (Maria Elias)                                                    female  29.699118  1      0      2689                14.4583   NaN              C           1
580          1         3       Jussila, Mr. Eiriik                                                                 male    32.000000  0      0      STON/O 2. 3101286   7.9250    NaN              S           1
581          1         2       Christy, Miss. Julie Rachel                                                         female  25.000000  1      1      237789              30.0000   NaN              S           1
582          1         1       Thayer, Mrs. John Borland (Marian Longstreth Morris)                                female  39.000000  1      1      17421               110.8833  C68              C           1
583          0         2       Downton, Mr. William James                                                          male    54.000000  0      0      28403               26.0000   NaN              S           1
612          0         3       Jardin, Mr. Jose Neto                                                               male    29.699118  0      0      SOTON/O.Q. 3101305  7.0500    NaN              S           1
614          0         3       Horgan, Mr. John                                                                    male    29.699118  0      0      370377              7.7500    NaN              Q           1
669          0         3       Cook, Mr. Jacob                                                                     male    43.000000  0      0      A/5 3536            8.0500    NaN              S           1
655          0         3       Hegarty, Miss. Hanora "Nora"                                                        female  18.000000  0      0      365226              6.7500    NaN              Q           1
644          1         3       Foo, Mr. Choong                                                                     male    29.699118  0      0      1601                56.4958   NaN              S           1
645          1         3       Baclini, Miss. Eugenie                                                              female  0.750000   2      1      2666                19.2583   NaN              C           1
646          1         1       Harper, Mr. Henry Sleeper                                                           male    48.000000  1      0      PC 17572            76.7292   D33              C           1
647          0         3       Cor, Mr. Liudevit                                                                   male    19.000000  0      0      349231              7.8958    NaN              S           1
648          1         1       Simonius-Blumer, Col. Oberst Alfons                                                 male    56.000000  0      0      13213               35.5000   A26              C           1
649          0         3       Willey, Mr. Edward                                                                  male    29.699118  0      0      S.O./P.P. 751       7.5500    NaN              S           1
650          1         3       Stanley, Miss. Amy Zillah Elsie                                                     female  23.000000  0      0      CA. 2314            7.5500    NaN              S           1
651          0         3       Mitkoff, Mr. Mito                                                                   male    29.699118  0      0      349221              7.8958    NaN              S           1
652          1         2       Doling, Miss. Elsie                                                                 female  18.000000  0      1      231919              23.0000   NaN              S           1
653          0         3       Kalvik, Mr. Johannes Halvorsen                                                      male    21.000000  0      0      8475                8.4333    NaN              S           1
654          1         3       O'Leary, Miss. Hanora "Norah"                                                       female  29.699118  0      0      330919              7.8292    NaN              Q           1
656          0         2       Hickman, Mr. Leonard Mark                                                           male    24.000000  2      0      S.O.C. 14879        73.5000   NaN              S           1
642          1         1       Sagesser, Mlle. Emma                                                                female  24.000000  0      0      PC 17477            69.3000   B35              C           1
657          0         3       Radeff, Mr. Alexander                                                               male    29.699118  0      0      349223              7.8958    NaN              S           1
658          0         3       Bourke, Mrs. John (Catherine)                                                       female  32.000000  1      1      364849              15.5000   NaN              Q           1
659          0         2       Eitemiller, Mr. George Floyd                                                        male    23.000000  0      0      29751               13.0000   NaN              S           1
660          0         1       Newell, Mr. Arthur Webster                                                          male    58.000000  0      2      35273               113.2750  D48              C           1
661          1         1       Frauenthal, Dr. Henry William                                                       male    50.000000  2      0      PC 17611            133.6500  NaN              S           1
662          0         3       Badt, Mr. Mohamed                                                                   male    40.000000  0      0      2623                7.2250    NaN              C           1
663          0         1       Colley, Mr. Edward Pomeroy                                                          male    47.000000  0      0      5727                25.5875   E58              S           1
664          0         3       Coleff, Mr. Peju                                                                    male    36.000000  0      0      349210              7.4958    NaN              S           1
665          1         3       Lindqvist, Mr. Eino William                                                         male    20.000000  1      0      STON/O 2. 3101285   7.9250    NaN              S           1
666          0         2       Hickman, Mr. Lewis                                                                  male    32.000000  2      0      S.O.C. 14879        73.5000   NaN              S           1
667          0         2       Butler, Mr. Reginald Fenton                                                         male    25.000000  0      0      234686              13.0000   NaN              S           1
643          0         3       Skoog, Miss. Margit Elizabeth                                                       female  2.000000   3      2      347088              27.9000   NaN              S           1
641          0         3       Jensen, Mr. Hans Peder                                                              male    20.000000  0      0      350050              7.8542    NaN              S           1
615          0         3       Brocklebank, Mr. William Alfred                                                     male    35.000000  0      0      364512              8.0500    NaN              S           1
627          0         2       Kirkland, Rev. Charles Leonard                                                      male    57.000000  0      0      219533              12.3500   NaN              Q           1
616          1         2       Herman, Miss. Alice                                                                 female  24.000000  1      2      220845              65.0000   NaN              S           1
617          0         3       Danbom, Mr. Ernst Gilbert                                                           male    34.000000  1      1      347080              14.4000   NaN              S           1
618          0         3       Lobb, Mrs. William Arthur (Cordelia K Stanlick)                                     female  26.000000  1      0      A/5. 3336           16.1000   NaN              S           1
619          1         2       Becker, Miss. Marion Louise                                                         female  4.000000   2      1      230136              39.0000   F4               S           1
620          0         2       Gavey, Mr. Lawrence                                                                 male    26.000000  0      0      31028               10.5000   NaN              S           1
621          0         3       Yasbeck, Mr. Antoni                                                                 male    27.000000  1      0      2659                14.4542   NaN              C           1
622          1         1       Kimball, Mr. Edwin Nelson Jr                                                        male    42.000000  1      0      11753               52.5542   D19              S           1
623          1         3       Nakid, Mr. Sahid                                                                    male    20.000000  1      1      2653                15.7417   NaN              C           1

In [157]:
df = pd.DataFrame({'num_legs': [2, 4, 4, 6],
                    'num_wings': [2, 0, 0, 0]},
                   index=['falcon', 'dog', 'cat', 'ant'])

In [159]:
df

        num_legs  num_wings
falcon         2          2
dog            4          0
cat            4          0
ant            6          0

In [160]:
df.value_counts() # no of uniques values : Explanation:

# There are two rows where num_legs is 4 and num_wings is 0 (dog and cat).
# There is one row where num_legs is 2 and num_wings is 2 (falcon).
# There is one row where num_legs is 6 and num_wings is 0 (ant).

num_legs  num_wings
4         0            2
2         2            1
6         0            1
Name: count, dtype: int64

In [180]:
df.value_counts(dropna=False) # dropna : bool, default True Don't include counts of rows that contain NA values.

num_legs  num_wings
4         0            2
2         2            1
6         0            1
Name: count, dtype: int64

In [164]:
df.value_counts(sort=False)

num_legs  num_wings
2         2            1
4         0            2
6         0            1
Name: count, dtype: int64

In [167]:
df.value_counts(normalize=True) # sort the frequencies when it true other wise it will sort by data frames when when it is false.

num_legs  num_wings
4         0            0.50
2         2            0.25
6         0            0.25
Name: proportion, dtype: float64

In [169]:
df.value_counts(ascending=True) # when it is false then it is sort ascending order other it will decreasing order

num_legs  num_wings
2         2            1
6         0            1
4         0            2
Name: count, dtype: int64

# Finding statitics for each specific column

In [187]:
titanic_data['Name'].mode() #
#if any name appears more than once, it will be shown as the mode. If no name repeats, it will return an empty Series.

0                                    Abbing, Mr. Anthony
1                            Abbott, Mr. Rossmore Edward
2                       Abbott, Mrs. Stanton (Rosa Hunt)
3                                    Abelson, Mr. Samuel
4                  Abelson, Mrs. Samuel (Hannah Wizosky)
5                         Adahl, Mr. Mauritz Nils Martin
6                                        Adams, Mr. John
7         Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
8                             Aks, Mrs. Sam (Leah Rosen)
9                            Albimona, Mr. Nassef Cassem
10                                Alexander, Mr. William
11                           Alhomaki, Mr. Ilmari Rudolf
12                                        Ali, Mr. Ahmed
13                                      Ali, Mr. William
14                         Allen, Miss. Elisabeth Walton
15                              Allen, Mr. William Henry
16                        Allison, Master. Hudson Trevor
17                          Allison, Miss. Helen Loraine
18       Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
19                                Allum, Mr. Owen George
20       Andersen-Jensen, Miss. Carla Christine Nielsine
21                                   Anderson, Mr. Harry
22               Andersson, Master. Sigvard Harald Elias
23                    Andersson, Miss. Ebba Iris Alfrida
24                     Andersson, Miss. Ellis Anna Maria
25                       Andersson, Miss. Erna Alexandra
26                  Andersson, Miss. Ingeborg Constanzia
27                     Andersson, Miss. Sigrid Elisabeth
28                           Andersson, Mr. Anders Johan
29          Andersson, Mr. August Edvard ("Wennerstrom")
30     Andersson, Mrs. Anders Johan (Alfrida Konstant...
31                            Andreasson, Mr. Paul Edvin
32                            Andrew, Mr. Edgardo Samuel
33                     Andrews, Miss. Kornelia Theodosia
34                                Andrews, Mr. Thomas Jr
35     Angle, Mrs. William A (Florence "Mary" Agnes H...
36         Appleton, Mrs. Edward Dale (Charlotte Lamson)
37                             Arnold-Franchi, Mr. Josef
38         Arnold-Franchi, Mrs. Josef (Josefine Franchi)
39                               Artagaveytia, Mr. Ramon
40                                       Asim, Mr. Adola
41                 Asplund, Master. Clarence Gustaf Hugo
42                     Asplund, Master. Edvin Rojj Felix
43                        Asplund, Miss. Lillian Gertrud
44     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
45     Astor, Mrs. John Jacob (Madeleine Talmadge Force)
46                                 Attalah, Miss. Malake
47                                  Attalah, Mr. Sleiman
48                         Aubart, Mme. Leontine Pauline
49                                Augustsson, Mr. Albert
50                                  Ayoub, Miss. Banoura
51                            Backstrom, Mr. Karl Alfred
52     Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...
53                                Baclini, Miss. Eugenie
54                         Baclini, Miss. Helene Barbara
55                        Baclini, Miss. Marie Catherine
56                 Baclini, Mrs. Solomon (Latifa Qurban)
57                                     Badt, Mr. Mohamed
58                              Bailey, Mr. Percy Andrew
59                                     Balkic, Mr. Cerin
60                               Ball, Mrs. (Ada E Hall)
61                         Banfield, Mr. Frederick James
62                                 Barah, Mr. Hanna Assi
63                                 Barbara, Miss. Saiide
64                       Barbara, Mrs. (Catherine David)
65                          Barber, Miss. Ellen "Nellie"
66                  Barkworth, Mr. Algernon Henry Wilson
67                                Barton, Mr. David John
68                            Bateman, Rev. Robert James
69                                   Baumann, Mr. John D
70                              Baxter, Mr. Quigg Edmond
71       Baxter, Mrs. James (Helene DeLaudeniere Chaput)
72                                 Bazzani, Miss. Albina
73                                     Beane, Mr. Edward
74                     Beane, Mrs. Edward (Ethel Clarke)
75                            Beavan, Mr. William Thomas
76                             Becker, Master. Richard F
77                           Becker, Miss. Marion Louise
78                         Beckwith, Mr. Richard Leonard
79      Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
80                                 Beesley, Mr. Lawrence
81                                 Behr, Mr. Karl Howell
82                            Bengtsson, Mr. John Viktor
83                          Berglund, Mr. Karl Ivar Sven
84                            Berriman, Mr. William John
85                                   Betros, Mr. Tannous
86                                 Bidois, Miss. Rosalie
87                                         Bing, Mr. Lee
88                     Birkeland, Mr. Hans Martin Monsen
89                               Bishop, Mr. Dickinson H
90               Bishop, Mrs. Dickinson H (Helen Walton)
91                                Bissette, Miss. Amelia
92             Bjornstrom-Steffansson, Mr. Mauritz Hakan
93                          Blackwell, Mr. Stephen Weart
94                                      Blank, Mr. Henry
95                              Bonnell, Miss. Elizabeth
96                             Bostandyeff, Mr. Guentcho
97                               Boulos, Miss. Nourelain
98                                     Boulos, Mr. Hanna
99                         Boulos, Mrs. Joseph (Sultana)
100                                   Bourke, Miss. Mary
101                                     Bourke, Mr. John
102                        Bourke, Mrs. John (Catherine)
103                          Bowen, Mr. David John "Dai"
104                          Bowerman, Miss. Elsie Edith
105                                 Bracken, Mr. James H
106        Bradley, Mr. George ("George Arthur Brayton")
107                            Braund, Mr. Lewis Richard
108                              Braund, Mr. Owen Harris
109                            Brewe, Dr. Arthur Jackson
110                      Brocklebank, Mr. William Alfred
111                        Brown, Miss. Amelia "Mildred"
112                    Brown, Mr. Thomas William Solomon
113            Brown, Mrs. James Joseph (Margaret Tobin)
114    Brown, Mrs. Thomas William Solomon (Elizabeth ...
115                      Bryhl, Mr. Kurt Arnold Gottfrid
116                                  Burke, Mr. Jeremiah
117                      Burns, Miss. Elizabeth Margaret
118                                     Buss, Miss. Kate
119                          Butler, Mr. Reginald Fenton
120                    Butt, Major. Archibald Willingham
121                    Byles, Rev. Thomas Roussel Davids
122                             Bystrom, Mrs. (Karolina)
123                                  Cacic, Miss. Marija
124                                      Cacic, Mr. Luka
125                                Cairns, Mr. Alexander
126                    Calderhead, Mr. Edward Pennington
127                        Caldwell, Master. Alden Gates
128    Caldwell, Mrs. Albert Francis (Sylvia Mae Harb...
129                                      Calic, Mr. Jovo
130                                     Calic, Mr. Petar
131                           Cameron, Miss. Clear Annie
132                                Campbell, Mr. William
133                                  Canavan, Miss. Mary
134                             Cann, Mr. Ernest Charles
135                     Caram, Mrs. Joseph (Maria Elias)
136                                Carbines, Mr. William
137                   Cardeza, Mr. Thomas Drake Martinez
138                         Carlsson, Mr. August Sigfrid
139                             Carlsson, Mr. Frans Olof
140                            Carr, Miss. Helen "Ellen"
141                              Carrau, Mr. Francisco M
142                  Carter, Master. William Thornton II
143                            Carter, Miss. Lucile Polk
144                           Carter, Mr. William Ernest
145        Carter, Mrs. Ernest Courtenay (Lilian Hughes)
146            Carter, Mrs. William Ernest (Lucile Polk)
147                        Carter, Rev. Ernest Courtenay
148                        Cavendish, Mr. Tyrell William
149                               Celotti, Mr. Francesco
150                          Chaffee, Mr. Herbert Fuller
151                        Chambers, Mr. Norman Campbell
152       Chambers, Mrs. Norman Campbell (Bertha Griggs)
153                           Chapman, Mr. Charles Henry
154                              Chapman, Mr. John Henry
155                                  Charters, Mr. David
156                                 Cherry, Miss. Gladys
157               Chibnall, Mrs. (Edith Martha Bowerman)
158                                      Chip, Mr. Chang
159                                 Christmann, Mr. Emil
160                          Christy, Miss. Julie Rachel
161                          Chronopoulos, Mr. Apostolos
162          Clarke, Mrs. Charles V (Ada Maria Winfield)
163                                 Cleaver, Miss. Alice
164                          Clifford, Mr. George Quincy
165                       Coelho, Mr. Domingos Fernandeo
166                             Cohen, Mr. Gurshon "Gus"
167                                     Coleff, Mr. Peju
168                                    Coleff, Mr. Satio
169                      Coleridge, Mr. Reginald Charles
170                           Collander, Mr. Erik Gustaf
171                           Colley, Mr. Edward Pomeroy
172                     Collyer, Miss. Marjorie "Lottie"
173                                  Collyer, Mr. Harvey
174          Collyer, Mrs. Harvey (Charlotte Annie Tate)
175                          Compton, Miss. Sara Rebecca
176                              Connaghton, Mr. Michael
177                                 Connolly, Miss. Kate
178                                 Connors, Mr. Patrick
179                                      Cook, Mr. Jacob
180                                    Cor, Mr. Liudevit
181                                      Corn, Mr. Harry
182                Coutts, Master. Eden Leslie "Neville"
183               Coutts, Master. William Loch "William"
184                                    Coxon, Mr. Daniel
185                             Crease, Mr. Ernest James
186                             Cribb, Mr. John Hatfield
187                         Crosby, Capt. Edward Gifford
188                              Crosby, Miss. Harriet R
189                                  Culumovic, Mr. Jeso
190    Cumings, Mrs. John Bradley (Florence Briggs Th...
191                       Cunningham, Mr. Alfred Fleming
192                                Dahl, Mr. Karl Edwart
193                         Dahlberg, Miss. Gerda Ulrika
194                                    Dakic, Mr. Branko
195                             Daly, Mr. Eugene Patrick
196                               Daly, Mr. Peter Denis
197                            Danbom, Mr. Ernst Gilbert
198    Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria ...
199                          Daniel, Mr. Robert Williams
200                                     Danoff, Mr. Yoto
201                                Dantcheff, Mr. Ristiu
202                               Davidson, Mr. Thornton
203                       Davies, Master. John Morgan Jr
204                                 Davies, Mr. Alfred J
205                            Davies, Mr. Charles Henry
206                                    Davis, Miss. Mary
207            Davison, Mrs. Thomas Henry (Mary E Finck)
208                           Dean, Master. Bertram Vere
209                              Dean, Mr. Bertram Frank
210                                   Denkoff, Mr. Mitto
211                                   Dennis, Mr. Samuel
212                        Devaney, Miss. Margaret Delia
213                              Dick, Mr. Albert Adrian
214            Dick, Mrs. Albert Adrian (Vera Gillespie)
215                                     Dimic, Mr. Jovan
216                            Dodge, Master. Washington
217                                  Doharr, Mr. Tannous
218                                  Doling, Miss. Elsie
219                 Doling, Mrs. John T (Ada Julia Bone)
220                                  Dooley, Mr. Patrick
221                           Dorking, Mr. Edward Arthur
222                           Douglas, Mr. Walter Donald
223                             Dowdell, Miss. Elizabeth
224                           Downton, Mr. William James
225                                 Drazenoic, Mr. Jozef
226      Drew, Mrs. James Vivian (Lulu Thorne Christian)
227                                     Duane, Mr. Frank
228    Duff Gordon, Lady. (Lucille Christiana Sutherl...
229         Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")
230                         Duran y More, Miss. Asuncion
231                       Edvardsson, Mr. Gustaf Hjalmar
232                         Eitemiller, Mr. George Floyd
233                               Eklund, Mr. Hans Linus
234                                   Ekstrom, Mr. Johan
235                                      Elias, Mr. Dibo
236                                 Elias, Mr. Joseph Jr
237                                   Elias, Mr. Tannous
238                           Elsbury, Mr. William James
239                        Emanuel, Miss. Virginia Ethel
240                              Emir, Mr. Farred Chehab
241                        Endres, Miss. Caroline Louise
242                       Eustis, Miss. Elizabeth Mussey
243                            Fahlstrom, Mr. Arne Jonas
244                                   Farrell, Mr. James
245                                   Farthing, Mr. John
246    Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...
247                      Fischer, Mr. Eberhard Thelander
248                              Fleming, Miss. Margaret
249                                     Flynn, Mr. James
250                                      Flynn, Mr. John
251                     Flynn, Mr. John Irwin ("Irving")
252                                      Foo, Mr. Choong
253                 Ford, Miss. Doolina Margaret "Daisy"
254                     Ford, Miss. Robina Maggie "Ruby"
255                               Ford, Mr. William Neal
256              Ford, Mrs. Edward (Margaret Ann Watson)
257                      Foreman, Mr. Benjamin Laventall
258                       Fortune, Miss. Alice Elizabeth
259                           Fortune, Miss. Mabel Helen
260                       Fortune, Mr. Charles Alexander
261                                    Fortune, Mr. Mark
262                              Fox, Mr. Stanley Hubert
263                       Francatelli, Miss. Laura Mabel
264                        Frauenthal, Dr. Henry William
265    Frauenthal, Mrs. Henry William (Clara Heinshei...
266                   Frolicher, Miss. Hedwig Margaritha
267                     Frolicher-Stehli, Mr. Maxmillian
268                     Frost, Mr. Anthony Wood "Archie"
269                                     Fry, Mr. Richard
270                            Funk, Miss. Annie Clemmer
271                          Futrelle, Mr. Jacques Heath
272         Futrelle, Mrs. Jacques Heath (Lily May Peel)
273                                 Fynney, Mr. Joseph J
274                                   Gale, Mr. Shadrach
275                                Gallagher, Mr. Martin
276                                   Garfirth, Mr. John
277                                 Garside, Miss. Ethel
278                                  Gaskell, Mr. Alfred
279                                  Gavey, Mr. Lawrence
280                                    Gee, Mr. Arthur H
281                               Gheorgheff, Mr. Stanio
282                                   Giglio, Mr. Victor
283                          Giles, Mr. Frederick Edward
284                                Gilinski, Mr. Eliezer
285                               Gill, Mr. John William
286                         Gillespie, Mr. William Henry
287                     Gilnagh, Miss. Katherine "Katie"
288                          Givard, Mr. Hans Kristensen
289                             Glynn, Miss. Mary Agatha
290                             Goldenberg, Mr. Samuel L
291         Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
292                            Goldschmidt, Mr. George B
293      Goldsmith, Master. Frank John William "Frankie"
294                            Goldsmith, Mr. Frank John
295       Goldsmith, Mrs. Frank John (Emily Alice Brown)
296                      Goncalves, Mr. Manuel Estanslas
297                       Goodwin, Master. Harold Victor
298                      Goodwin, Master. Sidney Leonard
299                   Goodwin, Master. William Frederick
300                           Goodwin, Miss. Lillian Amy
301                          Goodwin, Mr. Charles Edward
302              Goodwin, Mrs. Frederick (Augusta Tyler)
303                         Graham, Miss. Margaret Edith
304                            Graham, Mr. George Edward
305        Graham, Mrs. William Thompson (Edith Junkins)
306                              Green, Mr. George Henry
307                                Greenberg, Mr. Samuel
308                      Greenfield, Mr. William Bertram
309                     Gronnestad, Mr. Daniel Danielsen
310                             Guggenheim, Mr. Benjamin
311                        Gustafsson, Mr. Alfred Ossian
312                       Gustafsson, Mr. Anders Vilhelm
313                         Gustafsson, Mr. Johan Birger
314                          Gustafsson, Mr. Karl Gideon
315                                  Haas, Miss. Aloisia
316                      Hagland, Mr. Ingvald Olai Olsen
317                 Hagland, Mr. Konrad Mathias Reiersen
318                       Hakkarainen, Mr. Pekka Pietari
319    Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...
320                                   Hale, Mr. Reginald
321                            Hamalainen, Master. Viljo
322                      Hamalainen, Mrs. William (Anna)
323                                      Hampe, Mr. Leon
324                                   Hanna, Mr. Mansour
325                              Hansen, Mr. Claus Peter
326                              Hansen, Mr. Henrik Juul
327                          Hansen, Mr. Henry Damsgaard
328                          Harder, Mr. George Achilles
329                         Harknett, Miss. Alice Phoebe
330                   Harmer, Mr. Abraham (David Lishin)
331                    Harper, Miss. Annie Jessie "Nina"
332                            Harper, Mr. Henry Sleeper
333             Harper, Mrs. Henry Sleeper (Myna Haxtun)
334                                    Harper, Rev. John
335                            Harrington, Mr. Charles H
336                                   Harris, Mr. George
337                          Harris, Mr. Henry Birkhardt
338                                   Harris, Mr. Walter
339         Harris, Mrs. Henry Birkhardt (Irene Wallach)
340                                Harrison, Mr. William
341                               Hart, Miss. Eva Miriam
342                                   Hart, Mr. Benjamin
343                                      Hart, Mr. Henry
344          Hart, Mrs. Benjamin (Esther Ada Bloomfield)
345                                   Hassab, Mr. Hammad
346                             Hassan, Mr. Houssein G N
347                          Hawksford, Mr. Walter James
348                       Hays, Miss. Margaret Bechstein
349    Hays, Mrs. Charles Melville (Clara Jennings Gr...

In [219]:
titanic_data.mode(numeric_only=False)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3.0,"Abbing, Mr. Anthony",male,24.0,0.0,0.0,1601,8.05,B96 B98,S
1,2,NaN,NaN,"Abbott, Mr. Rossmore Edward",NaN,NaN,NaN,NaN,347082,NaN,C23 C25 C27,NaN
2,3,NaN,NaN,"Abbott, Mrs. Stanton (Rosa Hunt)",NaN,NaN,NaN,NaN,CA. 2343,NaN,G6,NaN
3,4,NaN,NaN,"Abelson, Mr. Samuel",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,"Abelson, Mrs. Samuel (Hannah Wizosky)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,NaN,NaN,"Adahl, Mr. Mauritz Nils Martin",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,NaN,NaN,"Adams, Mr. John",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,NaN,NaN,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,NaN,NaN,"Aks, Mrs. Sam (Leah Rosen)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,NaN,NaN,"Albimona, Mr. Nassef Cassem",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,NaN,NaN,"Alexander, Mr. William",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,NaN,NaN,"Alhomaki, Mr. Ilmari Rudolf",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,NaN,NaN,"Ali, Mr. Ahmed",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14,NaN,NaN,"Ali, Mr. William",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15,NaN,NaN,"Allen, Miss. Elisabeth Walton",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16,NaN,NaN,"Allen, Mr. William Henry",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,NaN,NaN,"Allison, Master. Hudson Trevor",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,NaN,NaN,"Allison, Miss. Helen Loraine",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,NaN,NaN,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20,NaN,NaN,"Allum, Mr. Owen George",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21,NaN,NaN,"Andersen-Jensen, Miss. Carla Christine Nielsine",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,22,NaN,NaN,"Anderson, Mr. Harry",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,NaN,NaN,"Andersson, Master. Sigvard Harald Elias",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,NaN,NaN,"Andersson, Miss. Ebba Iris Alfrida",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,NaN,NaN,"Andersson, Miss. Ellis Anna Maria",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,26,NaN,NaN,"Andersson, Miss. Erna Alexandra",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,27,NaN,NaN,"Andersson, Miss. Ingeborg Constanzia",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,28,NaN,NaN,"Andersson, Miss. Sigrid Elisabeth",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,NaN,NaN,"Andersson, Mr. Anders Johan",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,NaN,NaN,"Andersson, Mr. August Edvard (""Wennerstrom"")",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,31,NaN,NaN,"Andersson, Mrs. Anders Johan (Alfrida Konstant...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,32,NaN,NaN,"Andreasson, Mr. Paul Edvin",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,33,NaN,NaN,"Andrew, Mr. Edgardo Samuel",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,34,NaN,NaN,"Andrews, Miss. Kornelia Theodosia",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,35,NaN,NaN,"Andrews, Mr. Thomas Jr",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,36,NaN,NaN,"Angle, Mrs. William A (Florence ""Mary"" Agnes H...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,37,NaN,NaN,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,38,NaN,NaN,"Arnold-Franchi, Mr. Josef",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,39,NaN,NaN,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,40,NaN,NaN,"Artagaveytia, Mr. Ramon",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,41,NaN,NaN,"Asim, Mr. Adola",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,42,NaN,NaN,"Asplund, Master. Clarence Gustaf Hugo",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,43,NaN,NaN,"Asplund, Master. Edvin Rojj Felix",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,44,NaN,NaN,"Asplund, Miss. Lillian Gertrud",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,45,NaN,NaN,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,46,NaN,NaN,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,47,NaN,NaN,"Attalah, Miss. Malake",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,48,NaN,NaN,"Attalah, Mr. Sleiman",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,49,NaN,NaN,"Aubart, Mme. Leontine Pauline",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,50,NaN,NaN,"Augustsson, Mr. Albert",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,51,NaN,NaN,"Ayoub, Miss. Banoura",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,52,NaN,NaN,"Backstrom, Mr. Karl Alfred",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,53,NaN,NaN,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,54,NaN,NaN,"Baclini, Miss. Eugenie",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,55,NaN,NaN,"Baclini, Miss. Helene Barbara",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,56,NaN,NaN,"Baclini, Miss. Marie Catherine",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,57,NaN,NaN,"Baclini, Mrs. Solomon (Latifa Qurban)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,58,NaN,NaN,"Badt, Mr. Mohamed",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,59,NaN,NaN,"Bailey, Mr. Percy Andrew",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,60,NaN,NaN,"Balkic, Mr. Cerin",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,61,NaN,NaN,"Ball, Mrs. (Ada E Hall)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,62,NaN,NaN,"Banfield, Mr. Frederick James",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,63,NaN,NaN,"Barah, Mr. Hanna Assi",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,64,NaN,NaN,"Barbara, Miss. Saiide",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,65,NaN,NaN,"Barbara, Mrs. (Catherine David)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,66,NaN,NaN,"Barber, Miss. Ellen ""Nellie""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,67,NaN,NaN,"Barkworth, Mr. Algernon Henry Wilson",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,68,NaN,NaN,"Barton, Mr. David John",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,69,NaN,NaN,"Bateman, Rev. Robert James",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,70,NaN,NaN,"Baumann, Mr. John D",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,71,NaN,NaN,"Baxter, Mr. Quigg Edmond",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,72,NaN,NaN,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,73,NaN,NaN,"Bazzani, Miss. Albina",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,74,NaN,NaN,"Beane, Mr. Edward",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,75,NaN,NaN,"Beane, Mrs. Edward (Ethel Clarke)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,76,NaN,NaN,"Beavan, Mr. William Thomas",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,77,NaN,NaN,"Becker, Master. Richard F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,78,NaN,NaN,"Becker, Miss. Marion Louise",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,79,NaN,NaN,"Beckwith, Mr. Richard Leonard",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,80,NaN,NaN,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,81,NaN,NaN,"Beesley, Mr. Lawrence",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,82,NaN,NaN,"Behr, Mr. Karl Howell",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,83,NaN,NaN,"Bengtsson, Mr. John Viktor",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,84,NaN,NaN,"Berglund, Mr. Karl Ivar Sven",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,85,NaN,NaN,"Berriman, Mr. William John",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,86,NaN,NaN,"Betros, Mr. Tannous",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,87,NaN,NaN,"Bidois, Miss. Rosalie",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,88,NaN,NaN,"Bing, Mr. Lee",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,89,NaN,NaN,"Birkeland, Mr. Hans Martin Monsen",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,90,NaN,NaN,"Bishop, Mr. Dickinson H",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,91,NaN,NaN,"Bishop, Mrs. Dickinson H (Helen Walton)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,92,NaN,NaN,"Bissette, Miss. Amelia",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,93,NaN,NaN,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,94,NaN,NaN,"Blackwell, Mr. Stephen Weart",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,95,NaN,NaN,"Blank, Mr. Henry",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,96,NaN,NaN,"Bonnell, Miss. Elizabeth",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,97,NaN,NaN,"Bostandyeff, Mr. Guentcho",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,98,NaN,NaN,"Boulos, Miss. Nourelain",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,99,NaN,NaN,"Boulos, Mr. Hanna",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,100,NaN,NaN,"Boulos, Mrs. Joseph (Sultana)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,101,NaN,NaN,"Bourke, Miss. Mary",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,102,NaN,NaN,"Bourke, Mr. John",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,103,NaN,NaN,"Bourke, Mrs. John (Catherine)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,104,NaN,NaN,"Bowen, Mr. David John ""Dai""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,105,NaN,NaN,"Bowerman, Miss. Elsie Edith",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,106,NaN,NaN,"Bracken, Mr. James H",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,107,NaN,NaN,"Bradley, Mr. George (""George Arthur Brayton"")",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,108,NaN,NaN,"Braund, Mr. Lewis Richard",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,109,NaN,NaN,"Braund, Mr. Owen Harris",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,110,NaN,NaN,"Brewe, Dr. Arthur Jackson",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,111,NaN,NaN,"Brocklebank, Mr. William Alfred",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,112,NaN,NaN,"Brown, Miss. Amelia ""Mildred""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,113,NaN,NaN,"Brown, Mr. Thomas William Solomon",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,114,NaN,NaN,"Brown, Mrs. James Joseph (Margaret Tobin)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,115,NaN,NaN,"Brown, Mrs. Thomas William Solomon (Elizabeth ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,116,NaN,NaN,"Bryhl, Mr. Kurt Arnold Gottfrid",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,117,NaN,NaN,"Burke, Mr. Jeremiah",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,118,NaN,NaN,"Burns, Miss. Elizabeth Margaret",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,119,NaN,NaN,"Buss, Miss. Kate",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,120,NaN,NaN,"Butler, Mr. Reginald Fenton",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,121,NaN,NaN,"Butt, Major. Archibald Willingham",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,122,NaN,NaN,"Byles, Rev. Thomas Roussel Davids",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,123,NaN,NaN,"Bystrom, Mrs. (Karolina)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,124,NaN,NaN,"Cacic, Miss. Marija",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,125,NaN,NaN,"Cacic, Mr. Luka",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,126,NaN,NaN,"Cairns, Mr. Alexander",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,127,NaN,NaN,"Calderhead, Mr. Edward Pennington",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,128,NaN,NaN,"Caldwell, Master. Alden Gates",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,129,NaN,NaN,"Caldwell, Mrs. Albert Francis (Sylvia Mae Harb...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,130,NaN,NaN,"Calic, Mr. Jovo",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,131,NaN,NaN,"Calic, Mr. Petar",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,132,NaN,NaN,"Cameron, Miss. Clear Annie",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,133,NaN,NaN,"Campbell, Mr. William",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,134,NaN,NaN,"Canavan, Miss. Mary",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,135,NaN,NaN,"Cann, Mr. Ernest Charles",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,136,NaN,NaN,"Caram, Mrs. Joseph (Maria Elias)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,137,NaN,NaN,"Carbines, Mr. William",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,138,NaN,NaN,"Cardeza, Mr. Thomas Drake Martinez",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,139,NaN,NaN,"Carlsson, Mr. August Sigfrid",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,140,NaN,NaN,"Carlsson, Mr. Frans Olof",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,141,NaN,NaN,"Carr, Miss. Helen ""Ellen""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,142,NaN,NaN,"Carrau, Mr. Francisco M",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,143,NaN,NaN,"Carter, Master. William Thornton II",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,144,NaN,NaN,"Carter, Miss. Lucile Polk",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,145,NaN,NaN,"Carter, Mr. William Ernest",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,146,NaN,NaN,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,147,NaN,NaN,"Carter, Mrs. William Ernest (Lucile Polk)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,148,NaN,NaN,"Carter, Rev. Ernest Courtenay",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,149,NaN,NaN,"Cavendish, Mr. Tyrell William",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,150,NaN,NaN,"Celotti, Mr. Francesco",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,151,NaN,NaN,"Chaffee, Mr. Herbert Fuller",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,152,NaN,NaN,"Chambers, Mr. Norman Campbell",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,153,NaN,NaN,"Chambers, Mrs. Norman Campbell (Bertha Griggs)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,154,NaN,NaN,"Chapman, Mr. Charles Henry",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,155,NaN,NaN,"Chapman, Mr. John Henry",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,156,NaN,NaN,"Charters, Mr. David",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,157,NaN,NaN,"Cherry, Miss. Gladys",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,158,NaN,NaN,"Chibnall, Mrs. (Edith Martha Bowerman)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,159,NaN,NaN,"Chip, Mr. Chang",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,160,NaN,NaN,"Christmann, Mr. Emil",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,161,NaN,NaN,"Christy, Miss. Julie Rachel",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,162,NaN,NaN,"Chronopoulos, Mr. Apostolos",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,163,NaN,NaN,"Clarke, Mrs. Charles V (Ada Maria Winfield)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,164,NaN,NaN,"Cleaver, Miss. Alice",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,165,NaN,NaN,"Clifford, Mr. George Quincy",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,166,NaN,NaN,"Coelho, Mr. Domingos Fernandeo",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,167,NaN,NaN,"Cohen, Mr. Gurshon ""Gus""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,168,NaN,NaN,"Coleff, Mr. Peju",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,169,NaN,NaN,"Coleff, Mr. Satio",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,170,NaN,NaN,"Coleridge, Mr. Reginald Charles",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,171,NaN,NaN,"Collander, Mr. Erik Gustaf",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,172,NaN,NaN,"Colley, Mr. Edward Pomeroy",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,173,NaN,NaN,"Collyer, Miss. Marjorie ""Lottie""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,174,NaN,NaN,"Collyer, Mr. Harvey",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,175,NaN,NaN,"Collyer, Mrs. Harvey (Charlotte Annie Tate)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,176,NaN,NaN,"Compton, Miss. Sara Rebecca",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,177,NaN,NaN,"Connaghton, Mr. Michael",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,178,NaN,NaN,"Connolly, Miss. Kate",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,179,NaN,NaN,"Connors, Mr. Patrick",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,180,NaN,NaN,"Cook, Mr. Jacob",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,181,NaN,NaN,"Cor, Mr. Liudevit",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,182,NaN,NaN,"Corn, Mr. Harry",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,183,NaN,NaN,"Coutts, Master. Eden Leslie ""Neville""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,184,NaN,NaN,"Coutts, Master. William Loch ""William""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,185,NaN,NaN,"Coxon, Mr. Daniel",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,186,NaN,NaN,"Crease, Mr. Ernest James",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,187,NaN,NaN,"Cribb, Mr. John Hatfield",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,188,NaN,NaN,"Crosby, Capt. Edward Gifford",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,189,NaN,NaN,"Crosby, Miss. Harriet R",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,190,NaN,NaN,"Culumovic, Mr. Jeso",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,191,NaN,NaN,"Cumings, Mrs. John Bradley (Florence Briggs Th...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,192,NaN,NaN,"Cunningham, Mr. Alfred Fleming",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,193,NaN,NaN,"Dahl, Mr. Karl Edwart",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,194,NaN,NaN,"Dahlberg, Miss. Gerda Ulrika",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,195,NaN,NaN,"Dakic, Mr. Branko",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,196,NaN,NaN,"Daly, Mr. Eugene Patrick",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,197,NaN,NaN,"Daly, Mr. Peter Denis",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,198,NaN,NaN,"Danbom, Mr. Ernst Gilbert",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,199,NaN,NaN,"Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,200,NaN,NaN,"Daniel, Mr. Robert Williams",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,201,NaN,NaN,"Danoff, Mr. Yoto",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,202,NaN,NaN,"Dantcheff, Mr. Ristiu",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,203,NaN,NaN,"Davidson, Mr. Thornton",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,204,NaN,NaN,"Davies, Master. John Morgan Jr",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,205,NaN,NaN,"Davies, Mr. Alfred J",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,206,NaN,NaN,"Davies, Mr. Charles Henry",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,207,NaN,NaN,"Davis, Miss. Mary",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,208,NaN,NaN,"Davison, Mrs. Thomas Henry (Mary E Finck)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,209,NaN,NaN,"Dean, Master. Bertram Vere",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,210,NaN,NaN,"Dean, Mr. Bertram Frank",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,211,NaN,NaN,"Denkoff, Mr. Mitto",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,212,NaN,NaN,"Dennis, Mr. Samuel",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,213,NaN,NaN,"Devaney, Miss. Margaret Delia",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,214,NaN,NaN,"Dick, Mr. Albert Adrian",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,215,NaN,NaN,"Dick, Mrs. Albert Adrian (Vera Gillespie)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,216,NaN,NaN,"Dimic, Mr. Jovan",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,217,NaN,NaN,"Dodge, Master. Washington",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,218,NaN,NaN,"Doharr, Mr. Tannous",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
218,219,NaN,NaN,"Doling, Miss. Elsie",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,220,NaN,NaN,"Doling, Mrs. John T (Ada Julia Bone)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,221,NaN,NaN,"Dooley, Mr. Patrick",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,222,NaN,NaN,"Dorking, Mr. Edward Arthur",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222,223,NaN,NaN,"Douglas, Mr. Walter Donald",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,224,NaN,NaN,"Dowdell, Miss. Elizabeth",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,225,NaN,NaN,"Downton, Mr. William James",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,226,NaN,NaN,"Drazenoic, Mr. Jozef",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,227,NaN,NaN,"Drew, Mrs. James Vivian (Lulu Thorne Christian)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,228,NaN,NaN,"Duane, Mr. Frank",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,229,NaN,NaN,"Duff Gordon, Lady. (Lucille Christiana Sutherl...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,230,NaN,NaN,"Duff Gordon, Sir. Cosmo Edmund (""Mr Morgan"")",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,231,NaN,NaN,"Duran y More, Miss. Asuncion",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231,232,NaN,NaN,"Edvardsson, Mr. Gustaf Hjalmar",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
232,233,NaN,NaN,"Eitemiller, Mr. George Floyd",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
233,234,NaN,NaN,"Eklund, Mr. Hans Linus",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,235,NaN,NaN,"Ekstrom, Mr. Johan",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,236,NaN,NaN,"Elias, Mr. Dibo",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,237,NaN,NaN,"Elias, Mr. Joseph Jr",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,238,NaN,NaN,"Elias, Mr. Tannous",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,239,NaN,NaN,"Elsbury, Mr. William James",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,240,NaN,NaN,"Emanuel, Miss. Virginia Ethel",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,241,NaN,NaN,"Emir, Mr. Farred Chehab",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,242,NaN,NaN,"Endres, Miss. Caroline Louise",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,243,NaN,NaN,"Eustis, Miss. Elizabeth Mussey",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,244,NaN,NaN,"Fahlstrom, Mr. Arne Jonas",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,245,NaN,NaN,"Farrell, Mr. James",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,246,NaN,NaN,"Farthing, Mr. John",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246,247,NaN,NaN,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247,248,NaN,NaN,"Fischer, Mr. Eberhard Thelander",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,249,NaN,NaN,"Fleming, Miss. Margaret",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,250,NaN,NaN,"Flynn, Mr. James",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
250,251,NaN,NaN,"Flynn, Mr. John",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251,252,NaN,NaN,"Flynn, Mr. John Irwin (""Irving"")",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252,253,NaN,NaN,"Foo, Mr. Choong",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
253,254,NaN,NaN,"Ford, Miss. Doolina Margaret ""Daisy""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,255,NaN,NaN,"Ford, Miss. Robina Maggie ""Ruby""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,256,NaN,NaN,"Ford, Mr. William Neal",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [195]:
import numpy as np

In [221]:
df = pd.DataFrame([('bird', 2, 2),
...                    ('mammal', 4, np.nan),
...                    ('arthropod', 8, 0),
...                    ('bird', 2, np.nan)],
...                   index=('falcon', 'horse', 'spider', 'ostrich'),columns=('species', 'legs', 'wings'))

In [223]:
df

           species  legs  wings
falcon        bird     2    2.0
horse       mammal     4    NaN
spider   arthropod     8    0.0
ostrich       bird     2    NaN

In [ ]:
# How the mode is calculated:
# species:
# The values are: ['bird', 'mammal', 'arthropod', 'bird']
# The most frequent value is 'bird' (appears twice).
# So, 'bird' is the mode for this column.
# legs:
# The values are: [2, 4, 8, 2]
# The most frequent value is 2 (appears twice).
# So, 2 is the mode for this column.
# wings:
# The values are: [2, NaN, 0, NaN]
# The most frequent value is 2 (appears once, but no other value appears more often).
# There’s also a 0, which appears once as well. Since mode() can return multiple modes, you get both 0 and 2 as modes for this column.

In [209]:
df.mode()

  species  legs  wings
0    bird   2.0    0.0
1     NaN   NaN    2.0

In [231]:
df.mode(axis=1)

/var/folders/kq/d8w7gp1d5dn0q7qm6tzkh4pc0000gn/T/ipykernel_78348/1210916842.py:1: UserWarning: Unable to sort modes: '<' not supported between instances of 'int' and 'str'
  df.mode(axis=1)

                 0    1    2
falcon           2  NaN  NaN
horse       mammal  4.0  NaN
spider   arthropod  8.0  0.0
ostrich       bird  2.0  NaN

In [237]:
df.mode(numeric_only = True)

   legs  wings
0   2.0    0.0
1   NaN    2.0

In [241]:
df.mode(dropna=False) # it is true: then the not consider of Nan/Nat.

  species  legs  wings
0    bird   2.0    0.0
1     NaN   NaN    2.0

# The mean() function calculates the average of a column by summing up all the values and dividing by the total number of valid (non-missing) values.

Here's how it's calculated for titanic_data['Fare']:

Sum of the values:
The function adds up all the values in the Fare column.

Exclude missing values (NaN):
Any missing (NaN) values in the Fare column are automatically ignored.

Count of non-missing values:
It counts how many valid (non-NaN) entries there are in the Fare column.

Divide the sum by the count:
The sum of all fares is divided by the count of non-missing entries to get the average fare.

Formula:
Mean =
Sum of all fares/Number of non-NaN entries in the Fare column

​	
 
In pandas, titanic_data['Fare'].mean() performs this entire calculation automatically.

In [255]:
titanic_data['Fare'].mean(numeric_only=False)

32.204207968574636

# Selecting Rows and Columns

selecting multiple columns at a time :

In [264]:
titanic_data[['Name', 'Fare', 'Sex']] # if you want to select one columns then in single square brl [] and for the multiple columns then '[[]]'

                                                  Name      Fare     Sex
0                              Braund, Mr. Owen Harris    7.2500    male
1    Cumings, Mrs. John Bradley (Florence Briggs Th...   71.2833  female
2                               Heikkinen, Miss. Laina    7.9250  female
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)   53.1000  female
4                             Allen, Mr. William Henry    8.0500    male
5                                     Moran, Mr. James    8.4583    male
6                              McCarthy, Mr. Timothy J   51.8625    male
7                       Palsson, Master. Gosta Leonard   21.0750    male
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)   11.1333  female
9                  Nasser, Mrs. Nicholas (Adele Achem)   30.0708  female
10                     Sandstrom, Miss. Marguerite Rut   16.7000  female
11                            Bonnell, Miss. Elizabeth   26.5500  female
12                      Saundercock, Mr. William Henry    8.0500    male
13                         Andersson, Mr. Anders Johan   31.2750    male
14                Vestrom, Miss. Hulda Amanda Adolfina    7.8542  female
15                    Hewlett, Mrs. (Mary D Kingcome)    16.0000  female
16                                Rice, Master. Eugene   29.1250    male
17                        Williams, Mr. Charles Eugene   13.0000    male
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...   18.0000  female
19                             Masselmani, Mrs. Fatima    7.2250  female
20                                Fynney, Mr. Joseph J   26.0000    male
21                               Beesley, Mr. Lawrence   13.0000    male
22                         McGowan, Miss. Anna "Annie"    8.0292  female
23                        Sloper, Mr. William Thompson   35.5000    male
24                       Palsson, Miss. Torborg Danira   21.0750  female
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...   31.3875  female
26                             Emir, Mr. Farred Chehab    7.2250    male
27                      Fortune, Mr. Charles Alexander  263.0000    male
28                       O'Dwyer, Miss. Ellen "Nellie"    7.8792  female
29                                 Todoroff, Mr. Lalio    7.8958    male
30                            Uruchurtu, Don. Manuel E   27.7208    male
31      Spencer, Mrs. William Augustus (Marie Eugenie)  146.5208  female
32                            Glynn, Miss. Mary Agatha    7.7500  female
33                               Wheadon, Mr. Edward H   10.5000    male
34                             Meyer, Mr. Edgar Joseph   82.1708    male
35                      Holverson, Mr. Alexander Oskar   52.0000    male
36                                    Mamee, Mr. Hanna    7.2292    male
37                            Cann, Mr. Ernest Charles    8.0500    male
38                  Vander Planke, Miss. Augusta Maria   18.0000  female
39                         Nicola-Yarred, Miss. Jamila   11.2417  female
40      Ahlin, Mrs. Johan (Johanna Persdotter Larsson)    9.4750  female
41   Turpin, Mrs. William John Robert (Dorothy Ann ...   21.0000  female
42                                 Kraeff, Mr. Theodor    7.8958    male
43            Laroche, Miss. Simonne Marie Anne Andree   41.5792  female
44                       Devaney, Miss. Margaret Delia    7.8792  female
45                            Rogers, Mr. William John    8.0500    male
46                                   Lennon, Mr. Denis   15.5000    male
47                           O'Driscoll, Miss. Bridget    7.7500  female
48                                 Samaan, Mr. Youssef   21.6792    male
49       Arnold-Franchi, Mrs. Josef (Josefine Franchi)   17.8000  female
50                          Panula, Master. Juha Niilo   39.6875    male
51                        Nosworthy, Mr. Richard Cater    7.8000    male
52            Harper, Mrs. Henry Sleeper (Myna Haxtun)   76.7292  female
53   Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...   26.0000  female
54                      Ostby, Mr. Engelhart Cornelius   61.9792    male
55                                   Woolner, Mr. Hugh   35.5000    male
56                                   Rugg, Miss. Emily   10.5000  female
57                                 Novel, Mr. Mansouer    7.2292    male
58                        West, Miss. Constance Mirium   27.7500  female
59                  Goodwin, Master. William Frederick   46.9000    male
60                               Sirayanian, Mr. Orsen    7.2292    male
61                                 Icard, Miss. Amelie   80.0000  female
62                         Harris, Mr. Henry Birkhardt   83.4750    male
63                               Skoog, Master. Harald   27.9000    male
64                               Stewart, Mr. Albert A   27.7208    male
65                            Moubarek, Master. Gerios   15.2458    male
66                        Nye, Mrs. (Elizabeth Ramell)   10.5000  female
67                            Crease, Mr. Ernest James    8.1583    male
68                     Andersson, Miss. Erna Alexandra    7.9250  female
69                                   Kink, Mr. Vincenz    8.6625    male
70                          Jenkin, Mr. Stephen Curnow   10.5000    male
71                          Goodwin, Miss. Lillian Amy   46.9000  female
72                                Hood, Mr. Ambrose Jr   73.5000    male
73                         Chronopoulos, Mr. Apostolos   14.4542    male
74                                       Bing, Mr. Lee   56.4958    male
75                             Moen, Mr. Sigurd Hansen    7.6500    male
76                                   Staneff, Mr. Ivan    7.8958    male
77                            Moutal, Mr. Rahamin Haim    8.0500    male
78                       Caldwell, Master. Alden Gates   29.0000    male
79                            Dowdell, Miss. Elizabeth   12.4750  female
80                                Waelens, Mr. Achille    9.0000    male
81                         Sheerlinck, Mr. Jan Baptist    9.5000    male
82                      McDermott, Miss. Brigdet Delia    7.7875  female
83                             Carrau, Mr. Francisco M   47.1000    male
84                                 Ilett, Miss. Bertha   10.5000  female
85   Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...   15.8500  female
86                              Ford, Mr. William Neal   34.3750    male
87                       Slocovski, Mr. Selman Francis    8.0500    male
88                          Fortune, Miss. Mabel Helen  263.0000  female
89                              Celotti, Mr. Francesco    8.0500    male
90                                Christmann, Mr. Emil    8.0500    male
91                          Andreasson, Mr. Paul Edvin    7.8542    male
92                         Chaffee, Mr. Herbert Fuller   61.1750    male
93                             Dean, Mr. Bertram Frank   20.5750    male
94                                   Coxon, Mr. Daniel    7.2500    male
95                         Shorney, Mr. Charles Joseph    8.0500    male
96                           Goldschmidt, Mr. George B   34.6542    male
97                     Greenfield, Mr. William Bertram   63.3583    male
98                Doling, Mrs. John T (Ada Julia Bone)   23.0000  female
99                                   Kantor, Mr. Sinai   26.0000    male
100                            Petranec, Miss. Matilda    7.8958  female
101                   Petroff, Mr. Pastcho ("Pentcho")    7.8958    male
102                          White, Mr. Richard Frasar   77.2875    male
103                         Johansson, Mr. Gustaf Joel    8.6542    male
104                     Gustafsson, Mr. Anders Vilhelm    7.9250    male
105                              Mionoff, Mr. Stoytcho    7.8958    male
106                   Salkjelsvik, Miss. Anna Kristine    7.6500  female
107                             Moss, Mr. Albert Johan    7.7750    male
108                                    Rekic, Mr. Tido    7.8958    male
109                                Moran, Miss. Bertha   24.1500  female
110                     Porter, Mr. Walter Chamberlain   52.0000    male
111                               Zabour, Miss. Hileni   14.4542  female
112                             Barton, Mr. David John    8.0500    male
113                            Jussila, Miss. Katriina    9.8250  female
114                              Attalah, Miss. Malake   14.4583  female
115                              Pekoniemi, Mr. Edvard    7.9250    male
116                               Connors, Mr. Patrick    7.7500    male
117                    Turpin, Mr. William John Robert   21.0000    male
118                           Baxter, Mr. Quigg Edmond  247.5208    male
119                  Andersson, Miss. Ellis Anna Maria   31.2750  female
120                        Hickman, Mr. Stanley George   73.5000    male
121                         Moore, Mr. Leonard Charles    8.0500    male
122                               Nasser, Mr. Nicholas   30.0708    male
123                                Webber, Miss. Susan   13.0000  female
124                        White, Mr. Percival Wayland   77.2875    male
125                       Nicola-Yarred, Master. Elias   11.2417    male
126                                McMahon, Mr. Martin    7.7500    male
127                          Madsen, Mr. Fridtjof Arne    7.1417    male
128                                  Peter, Miss. Anna   22.3583  female
129                                 Ekstrom, Mr. Johan    6.9750    male
130                               Drazenoic, Mr. Jozef    7.8958    male
131                     Coelho, Mr. Domingos Fernandeo    7.0500    male
132     Robins, Mrs. Alexander A (Grace Charity Laury)   14.5000  female
133      Weisz, Mrs. Leopold (Mathilde Francoise Pede)   26.0000  female
134                     Sobey, Mr. Samuel James Hayden   13.0000    male
135                                 Richard, Mr. Emile   15.0458    male
136                       Newsom, Miss. Helen Monypeny   26.2833  female
137                        Futrelle, Mr. Jacques Heath   53.1000    male
138                                Osen, Mr. Olaf Elon    9.2167    male
139                                 Giglio, Mr. Victor   79.2000    male
140                      Boulos, Mrs. Joseph (Sultana)   15.2458  female
141                           Nysten, Miss. Anna Sofia    7.7500  female
142  Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...   15.8500  female
143                                Burke, Mr. Jeremiah    6.7500    male
144                         Andrew, Mr. Edgardo Samuel   11.5000    male
145                       Nicholls, Mr. Joseph Charles   36.7500    male
146       Andersson, Mr. August Edvard ("Wennerstrom")    7.7958    male
147                   Ford, Miss. Robina Maggie "Ruby"   34.3750  female
148           Navratil, Mr. Michel ("Louis M Hoffman")   26.0000    male
149                  Byles, Rev. Thomas Roussel Davids   13.0000    male
150                         Bateman, Rev. Robert James   12.5250    male
151                  Pears, Mrs. Thomas (Edith Wearne)   66.6000  female
152                                   Meo, Mr. Alfonzo    8.0500    male
153                    van Billiard, Mr. Austin Blyler   14.5000    male
154                              Olsen, Mr. Ole Martin    7.3125    male
155                        Williams, Mr. Charles Duane   61.3792    male
156                   Gilnagh, Miss. Katherine "Katie"    7.7333  female
157                                    Corn, Mr. Harry    8.0500    male
158                                Smiljanic, Mr. Mile    8.6625    male
159                         Sage, Master. Thomas Henry   69.5500    male
160                           Cribb, Mr. John Hatfield   16.1000    male
161  Watt, Mrs. James (Elizabeth "Bessie" Inglis Mi...   15.7500  female
162                         Bengtsson, Mr. John Viktor    7.7750    male
163                                    Calic, Mr. Jovo    8.6625    male
164                       Panula, Master. Eino Viljami   39.6875    male
165    Goldsmith, Master. Frank John William "Frankie"   20.5250    male
166             Chibnall, Mrs. (Edith Martha Bowerman)   55.0000  female
167    Skoog, Mrs. William (Anna Bernhardina Karlsson)   27.9000  female
168                                Baumann, Mr. John D   25.9250    male
169                                      Ling, Mr. Lee   56.4958    male
170                          Van der hoef, Mr. Wyckoff   33.5000    male
171                               Rice, Master. Arthur   29.1250    male
172                       Johnson, Miss. Eleanor Ileen   11.1333  female
173                          Sivola, Mr. Antti Wilhelm    7.9250    male
174                            Smith, Mr. James Clinch   30.6958    male
175                             Klasen, Mr. Klas Albin    7.8542    male
176                      Lefebre, Master. Henry Forbes   25.4667    male
177                         Isham, Miss. Ann Elizabeth   28.7125  female
178                                 Hale, Mr. Reginald   13.0000    male
179                                Leonard, Mr. Lionel    0.0000    male
180                       Sage, Miss. Constance Gladys   69.5500  female
181                                   Pernot, Mr. Rene   15.0500    male
182              Asplund, Master. Clarence Gustaf Hugo   31.3875    male
183                          Becker, Master. Richard F   39.0000    male
184                Kink-Heilmann, Miss. Luise Gretchen   22.0250  female
185                              Rood, Mr. Hugh Roscoe   50.0000    male
186    O'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)   15.5000  female
187      Romaine, Mr. Charles Hallace ("Mr C Rolmane")   26.5500    male
188                                   Bourke, Mr. John   15.5000    male
189                                Turcin, Mr. Stjepan    7.8958    male
190                                Pinsky, Mrs. (Rosa)   13.0000  female
191                              Carbines, Mr. William   13.0000    male
192    Andersen-Jensen, Miss. Carla Christine Nielsine    7.8542  female
193                         Navratil, Master. Michel M   26.0000    male
194          Brown, Mrs. James Joseph (Margaret Tobin)   27.7208  female
195                               Lurette, Miss. Elise  146.5208  female
196                                Mernagh, Mr. Robert    7.7500    male
197                   Olsen, Mr. Karl Siegwart Andreas    8.4042    male
198                   Madigan, Miss. Margaret "Maggie"    7.7500  female
199             Yrois, Miss. Henriette ("Mrs Harbeck")   13.0000  female
200                     Vande Walle, Mr. Nestor Cyriel    9.5000    male
201                                Sage, Mr. Frederick   69.5500    male
202                         Johanson, Mr. Jakob Alfred    6.4958    male
203                               Youseff, Mr. Gerious    7.2250    male
204                           Cohen, Mr. Gurshon "Gus"    8.0500    male
205                         Strom, Miss. Telma Matilda   10.4625  female
206                         Backstrom, Mr. Karl Alfred   15.8500    male
207                        Albimona, Mr. Nassef Cassem   18.7875    male
208                          Carr, Miss. Helen "Ellen"    7.7500  female
209                                   Blank, Mr. Henry   31.0000    male
210                                     Ali, Mr. Ahmed    7.0500    male
211                         Cameron, Miss. Clear Annie   21.0000  female
212                             Perkin, Mr. John Henry    7.2500    male
213                        Givard, Mr. Hans Kristensen   13.0000    male
214                                Kiernan, Mr. Philip    7.7500    male
215                            Newell, Miss. Madeleine  113.2750  female
216                             Honkanen, Miss. Eliina    7.9250  female
217                       Jacobsohn, Mr. Sidney Samuel   27.0000    male
218                              Bazzani, Miss. Albina   76.2917  female
219                                 Harris, Mr. Walter   10.5000    male
220                     Sunderland, Mr. Victor Francis    8.0500    male
221                               Bracken, Mr. James H   13.0000    male
222                            Green, Mr. George Henry    8.0500    male
223                               Nenkoff, Mr. Christo    7.8958    male
224                       Hoyt, Mr. Frederick Maxfield   90.0000    male
225                       Berglund, Mr. Karl Ivar Sven    9.3500    male
226                          Mellors, Mr. William John   10.5000    male
227                    Lovell, Mr. John Hall ("Henry")    7.2500    male
228                          Fahlstrom, Mr. Arne Jonas   13.0000    male
229                            Lefebre, Miss. Mathilde   25.4667  female
230       Harris, Mrs. Henry Birkhardt (Irene Wallach)   83.4750  female
231                           Larsson, Mr. Bengt Edvin    7.7750    male
232                          Sjostedt, Mr. Ernst Adolf   13.5000    male
233                     Asplund, Miss. Lillian Gertrud   31.3875  female
234                  Leyson, Mr. Robert William Norman   10.5000    male
235                       Harknett, Miss. Alice Phoebe    7.5500  female
236                                  Hold, Mr. Stephen   26.0000    male
237                   Collyer, Miss. Marjorie "Lottie"   26.2500  female
238                    Pengelly, Mr. Frederick William   10.5000    male
239                             Hunt, Mr. George Henry   12.2750    male
240                              Zabour, Miss. Thamine   14.4542  female
241                     Murphy, Miss. Katherine "Kate"   15.5000  female
242                    Coleridge, Mr. Reginald Charles   10.5000    male
243                      Maenpaa, Mr. Matti Alexanteri    7.1250    male
244                               Attalah, Mr. Sleiman    7.2250    male
245                        Minahan, Dr. William Edward   90.0000    male
246              Lindahl, Miss. Agda Thorilda Viktoria    7.7750  female
247                    Hamalainen, Mrs. William (Anna)   14.5000  female
248                      Beckwith, Mr. Richard Leonard   52.5542    male
249                      Carter, Rev. Ernest Courtenay   26.0000    male
250                             Reed, Mr. James George    7.2500    male
251         Strom, Mrs. Wilhelm (Elna Matilda Persson)   10.4625  female
252                          Stead, Mr. William Thomas   26.5500    male
253                           Lobb, Mr. William Arthur   16.1000    male
254           Rosblom, Mrs. Viktor (Helena Wilhelmina)   20.2125  female
255            Touma, Mrs. Darwis (Hanne Youssef Razi)   15.2458  female
256                     Thorne, Mrs. Gertrude Maybelle   79.2000  female
257                               Cherry, Miss. Gladys   86.5000  female
258                                   Ward, Miss. Anna  512.3292  female
259                        Parrish, Mrs. (Lutie Davis)   26.0000  female
260                                  Smith, Mr. Thomas    7.7500    male
261                  Asplund, Master. Edvin Rojj Felix   31.3875    male
262                                  Taussig, Mr. Emil   79.6500    male
263                              Harrison, Mr. William    0.0000    male
264                                 Henry, Miss. Delia    7.7500  female
265                                  Reeves, Mr. David   10.5000    male
266                          Panula, Mr. Ernesti Arvid   39.6875    male
267                           Persson, Mr. Ernst Ulrik    7.7750    male
268      Graham, Mrs. William Thompson (Edith Junkins)  153.4625  female
269                             Bissette, Miss. Amelia  135.6333  female
270                              Cairns, Mr. Alexander   31.0000    male
271                       Tornquist, Mr. William Henry    0.0000    male

In [266]:
titanic_data.loc[0:5, ["Name", "Fare"]] # .loc[] is used to select rows and columns based on their labels.

                                                Name     Fare
0                            Braund, Mr. Owen Harris   7.2500
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  71.2833
2                             Heikkinen, Miss. Laina   7.9250
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  53.1000
4                           Allen, Mr. William Henry   8.0500
5                                   Moran, Mr. James   8.4583

In [270]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
...                   index=['cobra', 'viper', 'sidewinder'],
...                   columns=['max_speed', 'shield'])

In [274]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [276]:
df.loc['cobra','shield'] # it gives only one value where the match of row and columns

2

In [280]:
df.loc['cobra':'sidewinder','shield'] # it give the values of the shield columns.

cobra         2
viper         5
sidewinder    8
Name: shield, dtype: int64

In [284]:
df.loc['cobra':'viper','max_speed'] # it give the values of the max_speed columns upto row = viper.

cobra    1
viper    4
Name: max_speed, dtype: int64

In [474]:
df.loc['cobra' : "sidewinder"]

Empty DataFrame
Columns: [Scores]
Index: []

In [482]:
df.loc[:, 'max_speed'] = 30

In [494]:
df

   Scores  max_speed
0      80         30
1      85         30
2      90         30
3      95         30
4     100         30
5     300         30

In [500]:
df.loc[df["Scores"]>35]

   Scores  max_speed
0      80         30
1      85         30
2      90         30
3      95         30
4     100         30
5     300         30

In [288]:
df.loc[pd.Series([True, False, True], index=["cobra","viper","sidewinder"])] # those rows has true in the series, it will select, whose are "cobra" and "sidwinder".

            max_speed  shield
cobra               1       2
sidewinder          7       8

# loc : it is used for only category data(object, float, etc)..

In [297]:
titanic_data.loc[10, :] # selecting row no 10 and get the all values of columns.

PassengerId                                 11
Survived                                     1
Pclass                                       3
Name           Sandstrom, Miss. Marguerite Rut
Sex                                     female
Age                                        4.0
SibSp                                        1
Parch                                        1
Ticket                                 PP 9549
Fare                                      16.7
Cabin                                       G6
Embarked                                     S
Name: 10, dtype: object

In [304]:
titanic_data.loc[:, "Fare"] # selecting all rows and one specific columns ("Fare") same sa titanic_data["Fare"]

0        7.2500
1       71.2833
2        7.9250
3       53.1000
4        8.0500
5        8.4583
6       51.8625
7       21.0750
8       11.1333
9       30.0708
10      16.7000
11      26.5500
12       8.0500
13      31.2750
14       7.8542
15      16.0000
16      29.1250
17      13.0000
18      18.0000
19       7.2250
20      26.0000
21      13.0000
22       8.0292
23      35.5000
24      21.0750
25      31.3875
26       7.2250
27     263.0000
28       7.8792
29       7.8958
30      27.7208
31     146.5208
32       7.7500
33      10.5000
34      82.1708
35      52.0000
36       7.2292
37       8.0500
38      18.0000
39      11.2417
40       9.4750
41      21.0000
42       7.8958
43      41.5792
44       7.8792
45       8.0500
46      15.5000
47       7.7500
48      21.6792
49      17.8000
50      39.6875
51       7.8000
52      76.7292
53      26.0000
54      61.9792
55      35.5000
56      10.5000
57       7.2292
58      27.7500
59      46.9000
60       7.2292
61      80.0000
62      83.4750
63      27.9000
64      27.7208
65      15.2458
66      10.5000
67       8.1583
68       7.9250
69       8.6625
70      10.5000
71      46.9000
72      73.5000
73      14.4542
74      56.4958
75       7.6500
76       7.8958
77       8.0500
78      29.0000
79      12.4750
80       9.0000
81       9.5000
82       7.7875
83      47.1000
84      10.5000
85      15.8500
86      34.3750
87       8.0500
88     263.0000
89       8.0500
90       8.0500
91       7.8542
92      61.1750
93      20.5750
94       7.2500
95       8.0500
96      34.6542
97      63.3583
98      23.0000
99      26.0000
100      7.8958
101      7.8958
102     77.2875
103      8.6542
104      7.9250
105      7.8958
106      7.6500
107      7.7750
108      7.8958
109     24.1500
110     52.0000
111     14.4542
112      8.0500
113      9.8250
114     14.4583
115      7.9250
116      7.7500
117     21.0000
118    247.5208
119     31.2750
120     73.5000
121      8.0500
122     30.0708
123     13.0000
124     77.2875
125     11.2417
126      7.7500
127      7.1417
128     22.3583
129      6.9750
130      7.8958
131      7.0500
132     14.5000
133     26.0000
134     13.0000
135     15.0458
136     26.2833
137     53.1000
138      9.2167
139     79.2000
140     15.2458
141      7.7500
142     15.8500
143      6.7500
144     11.5000
145     36.7500
146      7.7958
147     34.3750
148     26.0000
149     13.0000
150     12.5250
151     66.6000
152      8.0500
153     14.5000
154      7.3125
155     61.3792
156      7.7333
157      8.0500
158      8.6625
159     69.5500
160     16.1000
161     15.7500
162      7.7750
163      8.6625
164     39.6875
165     20.5250
166     55.0000
167     27.9000
168     25.9250
169     56.4958
170     33.5000
171     29.1250
172     11.1333
173      7.9250
174     30.6958
175      7.8542
176     25.4667
177     28.7125
178     13.0000
179      0.0000
180     69.5500
181     15.0500
182     31.3875
183     39.0000
184     22.0250
185     50.0000
186     15.5000
187     26.5500
188     15.5000
189      7.8958
190     13.0000
191     13.0000
192      7.8542
193     26.0000
194     27.7208
195    146.5208
196      7.7500
197      8.4042
198      7.7500
199     13.0000
200      9.5000
201     69.5500
202      6.4958
203      7.2250
204      8.0500
205     10.4625
206     15.8500
207     18.7875
208      7.7500
209     31.0000
210      7.0500
211     21.0000
212      7.2500
213     13.0000
214      7.7500
215    113.2750
216      7.9250
217     27.0000
218     76.2917
219     10.5000
220      8.0500
221     13.0000
222      8.0500
223      7.8958
224     90.0000
225      9.3500
226     10.5000
227      7.2500
228     13.0000
229     25.4667
230     83.4750
231      7.7750
232     13.5000
233     31.3875
234     10.5000
235      7.5500
236     26.0000
237     26.2500
238     10.5000
239     12.2750
240     14.4542
241     15.5000
242     10.5000
243      7.1250
244      7.2250
245     90.0000
246      7.7750
247     14.5000
248     52.5542
249     26.0000
250      7.2500
251     10.4625
252     26.5500
253     16.1000
254     20.2125
255     15.2458
256     79.2000
257     86.5000
258    512.3292
259     26.0000
260      7.7500
261     31.3875
262     79.6500
263      0.0000
264      7.7500
265     10.5000
266     39.6875
267      7.7750
268    153.4625
269    135.6333
270     31.0000
271      0.0000
272     19.5000
273     29.7000
274      7.7500
275     77.9583
276      7.7500
277      0.0000
278     29.1250
279     20.2500
280      7.7500
281      7.8542
282      9.5000
283      8.0500
284     26.0000
285      8.6625
286      9.5000
287      7.8958
288     13.0000
289      7.7500
290     78.8500
291     91.0792
292     12.8750
293      8.8500
294      7.8958
295     27.7208
296      7.2292
297    151.5500
298     30.5000
299    247.5208
300      7.7500
301     23.2500
302      0.0000
303     12.3500
304      8.0500
305    151.5500
306    110.8833
307    108.9000
308     24.0000
309     56.9292
310     83.1583
311    262.3750
312     26.0000
313      7.8958
314     26.2500
315      7.8542
316     26.0000
317     14.0000
318    164.8667
319    134.5000
320      7.2500
321      7.8958
322     12.3500
323     29.0000
324     69.5500
325    135.6333
326      6.2375
327     13.0000
328     20.5250
329     57.9792
330     23.2500
331     28.5000
332    153.4625
333     18.0000
334    133.6500
335      7.8958
336     66.6000
337    134.5000
338      8.0500
339     35.5000
340     26.0000
341    263.0000
342     13.0000
343     13.0000
344     13.0000
345     13.0000
346     13.0000
347     16.1000
348     15.9000
349      8.6625
350      9.2250
351     35.0000
352      7.2292
353     17.8000
354      7.2250
355      9.5000
356     55.0000
357     13.0000
358      7.8792
359      7.8792
360     27.9000
361     27.7208
362     14.4542
363      7.0500
364     15.5000
365      7.2500
366     75.2500
367      7.2292
368      7.7500
369     69.3000
370     55.4417
371      6.4958
372      8.0500
373    135.6333
374     21.0750
375     82.1708
376      7.2500
377    211.5000
378      4.0125
379      7.7750
380    227.5250
381     15.7417
382      7.9250
383     52.0000
384      7.8958
385     73.5000
386     46.9000
387     13.0000
388      7.7292
389     12.0000
390    120.0000
391      7.7958
392      7.9250
393    113.2750
394     16.7000
395      7.7958
396      7.8542
397     26.0000
398     10.5000
399     12.6500
400      7.9250
401      8.0500
402      9.8250
403     15.8500
404      8.6625
405     21.0000
406      7.7500
407     18.7500
408      7.7750
409     25.4667
410      7.8958
411      6.8583
412     90.0000
413      0.0000
414      7.9250
415      8.0500
416     32.5000
417     13.0000
418     13.0000
419     24.1500
420      7.8958
421      7.7333
422      7.8750
423     14.4000
424     20.2125
425      7.2500
426     26.0000
427     26.0000
428      7.7500
429      8.0500
430     26.5500
431     16.1000
432     26.0000
433      7.1250
434     55.9000
435    120.0000
436     34.3750
437     18.7500
438    263.0000
439     10.5000
440     26.2500
441      9.5000
442      7.7750
443     13.0000
444      8.1125
445     81.8583
446     19.5000
447     26.5500
448     19.2583
449     30.5000
450     27.7500
451     19.9667
452     27.7500
453     89.1042
454      8.0500
455      7.8958
456     26.5500
457     51.8625
458     10.5000
459      7.7500
460     26.5500
461      8.0500
462     38.5000
463     13.0000
464      8.0500
465      7.0500
466      0.0000
467     26.5500
468      7.7250
469     19.2583
470      7.2500
471      8.6625
472     27.7500
473     13.7917
474      9.8375
475     52.0000
476     21.0000
477      7.0458
478      7.5208
479     12.2875
480     46.9000
481      0.0000
482      8.0500
483      9.5875
484     91.0792
485     25.4667
486     90.0000
487     29.7000
488      8.0500
489     15.9000
490     19.9667
491      7.2500
492     30.5000
493     49.5042
494      8.0500
495     14.4583
496     78.2667
497     15.1000
498    151.5500
499      7.7958
500      8.6625
501      7.7500
502      7.6292
503      9.5875
504     86.5000
505    108.9000
506     26.0000
507     26.5500
508     22.5250
509     56.4958
510      7.7500
511      8.0500
512     26.2875
513     59.4000
514      7.4958
515     34.0208
516     10.5000
517     24.1500
518     26.0000
519      7.8958
520     93.5000
521      7.8958
522      7.2250
523     57.9792
524      7.2292
525      7.7500
526     10.5000
527    221.7792
528      7.9250
529     11.5000
530     26.0000
531      7.2292
532      7.2292
533     22.3583
534      8.6625
535     26.2500
536     26.5500
537    106.4250
538     14.5000
539     49.5000
540     71.0000
541     31.2750
542     31.2750
543     26.0000
544    106.4250
545     26.0000
546     26.0000
547     13.8625
548     20.5250
549     36.7500
550    110.8833
551     26.0000
552      7.8292
553      7.2250
554      7.7750
555     26.5500
556     39.6000
557    227.5250
558     79.6500
559     17.4000
560      7.7500
561      7.8958
562     13.5000
563      8.0500
564      8.0500
565     24.1500
566      7.8958
567     21.0750
568      7.2292
569      7.8542
570     10.5000
571     51.4792
572     26.3875
573      7.7500
574      8.0500
575     14.5000
576     13.0000
577     55.9000
578     14.4583
579      7.9250
580     30.0000
581    110.8833
582     26.0000
583     40.1250
584      8.7125
585     79.6500
586     15.0000
587     79.2000
588      8.0500
589      8.0500
590      7.1250
591     78.2667
592      7.2500
593      7.7500
594     26.0000
595     24.1500
596     33.0000
597      0.0000
598      7.2250
599     56.9292
600     27.0000
601      7.8958
602     42.4000
603      8.0500
604     26.5500
605     15.5500
606      7.8958
607     30.5000
608     41.5792
609    153.4625
610     31.2750
611      7.0500
612     15.5000
613      7.7500
614      8.0500
615     65.0000
616     14.4000
617     16.1000
618     39.0000
619     10.5000
620     14.4542
621     52.5542
622     15.7417
623      7.8542
624     16.1000
625     32.3208
626     12.3500
627     77.9583
628      7.8958
629      7.7333
630     30.0000
631      7.0542
632     30.5000
633      0.0000
634     27.9000
635     13.0000
636      7.9250
637     26.2500
638     39.6875
639     16.1000
640      7.8542
641     69.3000
642     27.9000
643     56.4958
644     19.2583
645     76.7292
646      7.8958
647     35.5000
648      7.5500
649      7.5500
650      7.8958
651     23.0000
652      8.4333
653      7.8292
654      6.7500
655     73.5000
656      7.8958
657     15.5000
658     13.0000
659    113.2750
660    133.6500
661      7.2250
662     25.5875
663      7.4958
664      7.9250
665     73.5000
666     13.0000
667      7.7750
668      8.0500
669     52.0000
670     39.0000
671     52.0000
672     10.5000
673     13.0000
674      0.0000
675      7.7750
676      8.0500
677      9.8417
678     46.9000
679    512.3292
680      8.1375
681     76.7292
682      9.2250
683     46.9000
684     39.0000
685     41.5792
686     39.6875
687     10.1708
688      7.7958
689    211.3375
690     57.0000
691     13.4167
692     56.4958
693      7.2250
694     26.5500
695     13.5000
696      8.0500
697      7.7333
698    110.8833
699      7.6500
700    227.5250
701     26.2875
702     14.4542
703      7.7417
704      7.8542
705     26.0000
706     13.5000
707     26.2875
708    151.5500
709     15.2458
710     49.5042
711     26.5500
712     52.0000
713      9.4833
714     13.0000
715      7.6500
716    227.5250
717     10.5000
718     15.5000
719      7.7750
720     33.0000
721      7.0542
722     13.0000
723     13.0000
724     53.1000
725      8.6625
726     21.0000
727      7.7375
728     26.0000
729      7.9250
730    211.3375
731     18.7875
732      0.0000
733     13.0000
734     13.0000
735     16.1000
736     34.3750
737    512.3292
738      7.8958
739      7.8958
740     30.0000
741     78.8500
742    262.3750
743     16.1000
744      7.9250
745     71.0000
746     20.2500
747     13.0000
748     53.1000
749      7.7500
750     23.0000
751     12.4750
752      9.5000
753      7.8958
754     65.0000
755     14.5000
756      7.7958
757     11.5000
758      8.0500
759     86.5000
760     14.5000
761      7.1250
762      7.2292
763    120.0000
764      7.7750
765     77.9583
766     39.6000
767      7.7500
768     24.1500
769      8.3625
770      9.5000
771      7.8542
772     10.5000
773      7.2250
774     23.0000
775      7.7500
776      7.7500
777     12.4750
778      7.7375
779    211.3375
780      7.2292
781     57.0000
782     30.0000
783     23.4500
784      7.0500
785      7.2500
786      7.4958
787     29.1250
788     20.5750
789     79.2000
790      7.7500
791     26.0000
792     69.5500
793     30.6958
794      7.8958
795     13.0000
796     25.9292
797      8.6833
798      7.2292
799     24.1500
800     13.0000
801     26.2500
802    120.0000
803      8.5167
804      6.9750
805      7.7750
806      0.0000
807      7.7750
808     13.0000
809     53.1000
810      7.8875
811     24.1500
812     10.5000
813     31.2750
814      8.0500
815      0.0000
816      7.9250
817     37.0042
818      6.4500
819     27.9000
820     93.5000
821      8.6625
822      0.0000
823     12.4750
824     39.6875
825      6.9500
826     56.4958
827     37.0042
828      7.7500
829     80.0000
830     14.4542
831     18.7500
832      7.2292
833      7.8542
834      8.3000
835     83.1583
836      8.6625
837      8.0500
838     56.4958
839     29.7000
840      7.9250
841     10.5000
842     31.0000
843      6.4375
844      8.6625
845      7.5500
846     69.5500
847      7.8958
848     33.0000
849     89.1042
850     31.2750
851      7.7750
852     15.2458
853     39.4000
854     26.0000
855      9.3500
856    164.8667
857     26.5500
858     19.2583
859      7.2292
860     14.1083
861     11.5000
862     25.9292
863     69.5500
864     13.0000
865     13.0000
866     13.8583
867     50.4958
868      9.5000
869     11.1333
870      7.8958
871     52.5542
872      5.0000
873      9.0000
874     24.0000
875      7.2250
876      9.8458
877      7.8958
878      7.8958
879     83.1583
880     26.0000
881      7.8958
882     10.5167
883     10.5000
884      7.0500
885     29.1250
886     13.0000
887     30.0000
888     23.4500
889     30.0000
890      7.7500
Name: Fare, dtype: float64

In [318]:
titanic_data.loc[titanic_data['Fare']>50]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.00,0,0,17463,51.8625,E46,S
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.00,1,0,PC 17604,82.1708,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.00,1,0,113789,52.0000,NaN,S
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,1,0,PC 17572,76.7292,D33,C
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.00,0,1,113509,61.9792,B30,C
61,62,1,1,"Icard, Miss. Amelie",female,38.00,0,0,113572,80.0000,B28,NaN
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.00,1,0,36973,83.4750,C83,S
72,73,0,2,"Hood, Mr. Ambrose Jr",male,21.00,0,0,S.O.C. 14879,73.5000,NaN,S
74,75,1,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.00,3,2,19950,263.0000,C23 C25 C27,S
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.00,1,0,W.E.P. 5734,61.1750,E31,S
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.00,0,1,PC 17759,63.3583,D10 D12,C
102,103,0,1,"White, Mr. Richard Frasar",male,21.00,0,1,35281,77.2875,D26,S
110,111,0,1,"Porter, Mr. Walter Chamberlain",male,47.00,0,0,110465,52.0000,C110,S
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.00,0,1,PC 17558,247.5208,B58 B60,C
120,121,0,2,"Hickman, Mr. Stanley George",male,21.00,2,0,S.O.C. 14879,73.5000,NaN,S
124,125,0,1,"White, Mr. Percival Wayland",male,54.00,0,1,35281,77.2875,D26,S
137,138,0,1,"Futrelle, Mr. Jacques Heath",male,37.00,1,0,113803,53.1000,C123,S
139,140,0,1,"Giglio, Mr. Victor",male,24.00,0,0,PC 17593,79.2000,B86,C
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.00,1,0,113776,66.6000,C2,S
155,156,0,1,"Williams, Mr. Charles Duane",male,51.00,0,1,PC 17597,61.3792,NaN,C
159,160,0,3,"Sage, Master. Thomas Henry",male,NaN,8,2,CA. 2343,69.5500,NaN,S
166,167,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,NaN,0,1,113505,55.0000,E33,S
169,170,0,3,"Ling, Mr. Lee",male,28.00,0,0,1601,56.4958,NaN,S
180,181,0,3,"Sage, Miss. Constance Gladys",female,NaN,8,2,CA. 2343,69.5500,NaN,S
195,196,1,1,"Lurette, Miss. Elise",female,58.00,0,0,PC 17569,146.5208,B80,C
201,202,0,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,69.5500,NaN,S
215,216,1,1,"Newell, Miss. Madeleine",female,31.00,1,0,35273,113.2750,D36,C
218,219,1,1,"Bazzani, Miss. Albina",female,32.00,0,0,11813,76.2917,D15,C
224,225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38.00,1,0,19943,90.0000,C93,S
230,231,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.00,1,0,36973,83.4750,C83,S
245,246,0,1,"Minahan, Dr. William Edward",male,44.00,2,0,19928,90.0000,C78,Q
248,249,1,1,"Beckwith, Mr. Richard Leonard",male,37.00,1,1,11751,52.5542,D35,S
256,257,1,1,"Thorne, Mrs. Gertrude Maybelle",female,NaN,0,0,PC 17585,79.2000,NaN,C
257,258,1,1,"Cherry, Miss. Gladys",female,30.00,0,0,110152,86.5000,B77,S
258,259,1,1,"Ward, Miss. Anna",female,35.00,0,0,PC 17755,512.3292,NaN,C
262,263,0,1,"Taussig, Mr. Emil",male,52.00,1,1,110413,79.6500,E67,S
268,269,1,1,"Graham, Mrs. William Thompson (Edith Junkins)",female,58.00,0,1,PC 17582,153.4625,C125,S
269,270,1,1,"Bissette, Miss. Amelia",female,35.00,0,0,PC 17760,135.6333,C99,S
275,276,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.00,1,0,13502,77.9583,D7,S
290,291,1,1,"Barber, Miss. Ellen ""Nellie""",female,26.00,0,0,19877,78.8500,NaN,S
291,292,1,1,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.00,1,0,11967,91.0792,B49,C
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S
299,300,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.00,0,1,PC 17558,247.5208,B58 B60,C
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S
306,307,1,1,"Fleming, Miss. Margaret",female,NaN,0,0,17421,110.8833,NaN,C
307,308,1,1,"Penasco y Castellana, Mrs. Victor de Satode (M...",female,17.00,1,0,PC 17758,108.9000,C65,C
309,310,1,1,"Francatelli, Miss. Laura Mabel",female,30.00,0,0,PC 17485,56.9292,E36,C
310,311,1,1,"Hays, Miss. Margaret Bechstein",female,24.00,0,0,11767,83.1583,C54,C
311,312,1,1,"Ryerson, Miss. Emily Borie",female,18.00,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
318,319,1,1,"Wick, Miss. Mary Natalie",female,31.00,0,2,36928,164.8667,C7,S
319,320,1,1,"Spedden, Mrs. Frederic Oakley (Margaretta Corn...",female,40.00,1,1,16966,134.5000,E34,C
324,325,0,3,"Sage, Mr. George John Jr",male,NaN,8,2,CA. 2343,69.5500,NaN,S
325,326,1,1,"Young, Miss. Marie Grice",female,36.00,0,0,PC 17760,135.6333,C32,C
329,330,1,1,"Hippach, Miss. Jean Gertrude",female,16.00,0,1,111361,57.9792,B18,C
332,333,0,1,"Graham, Mr. George Edward",male,38.00,0,1,PC 17582,153.4625,C91,S
334,335,1,1,"Frauenthal, Mrs. Henry William (Clara Heinshei...",female,NaN,1,0,PC 17611,133.6500,NaN,S
336,337,0,1,"Pears, Mr. Thomas Clinton",male,29.00,1,0,113776,66.6000,C2,S
337,338,1,1,"Burns, Miss. Elizabeth Margaret",female,41.00,0,0,16966,134.5000,E40,C
341,342,1,1,"Fortune, Miss. Alice Elizabeth",female,24.00,3,2,19950,263.0000,C23 C25 C27,S
356,357,1,1,"Bowerman, Miss. Elsie Edith",female,22.00,0,1,113505,55.0000,E33,S
366,367,1,1,"Warren, Mrs. Frank Manley (Anna Sophia Atkinson)",female,60.00,1,0,110813,75.2500,D37,C
369,370,1,1,"Aubart, Mme. Leontine Pauline",female,24.00,0,0,PC 17477,69.3000,B35,C
370,371,1,1,"Harder, Mr. George Achilles",male,25.00,1,0,11765,55.4417,E50,C
373,374,0,1,"Ringhini, Mr. Sante",male,22.00,0,0,PC 17760,135.6333,NaN,C
375,376,1,1,"Meyer, Mrs. Edgar Joseph (Leila Saks)",female,NaN,1,0,PC 17604,82.1708,NaN,C
377,378,0,1,"Widener, Mr. Harry Elkins",male,27.00,0,2,113503,211.5000,C82,C
380,381,1,1,"Bidois, Miss. Rosalie",female,42.00,0,0,PC 17757,227.5250,NaN,C
383,384,1,1,"Holverson, Mrs. Alexander Oskar (Mary Aline To...",female,35.00,1,0,113789,52.0000,NaN,S
385,386,0,2,"Davies, Mr. Charles Henry",male,18.00,0,0,S.O.C. 14879,73.5000,NaN,S
390,391,1,1,"Carter, Mr. William Ernest",male,36.00,1,2,113760,120.0000,B96 B98,S
393,394,1,1,"Newell, Miss. Marjorie",female,23.00,1,0,35273,113.2750,D36,C
412,413,1,1,"Minahan, Miss. Daisy E",female,33.00,1,0,19928,90.0000,C78,Q
434,435,0,1,"Silvey, Mr. William Baird",male,50.00,1,0,13507,55.9000,E44,S
435,436,1,1,"Carter, Miss. Lucile Polk",female,14.00,1,2,113760,120.0000,B96 B98,S
438,439,0,1,"Fortune, Mr. Mark",male,64.00,1,4,19950,263.0000,C23 C25 C27,S
445,446,1,1,"Dodge, Master. Washington",male,4.00,0,2,33638,81.8583,A34,S
453,454,1,1,"Goldenberg, Mr. Samuel L",male,49.00,1,0,17453,89.1042,C92,C
457,458,1,1,"Kenyon, Mrs. Frederick R (Marion)",female,NaN,1,0,17464,51.8625,D21,S
475,476,0,1,"Clifford, Mr. George Quincy",male,NaN,0,0,110465,52.0000,A14,S
484,485,1,1,"Bishop, Mr. Dickinson H",male,25.00,1,0,11967,91.0792,B49,C
486,487,1,1,"Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)",female,35.00,1,0,19943,90.0000,C93,S
496,497,1,1,"Eustis, Miss. Elizabeth Mussey",female,54.00,1,0,36947,78.2667,D20,C
498,499,0,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S
504,505,1,1,"Maioni, Miss. Roberta",female,16.00,0,0,110152,86.5000,B79,S
505,506,0,1,"Penasco y Castellana, Mr. Victor de Satode",male,18.00,1,0,PC 17758,108.9000,C65,C
509,510,1,3,"Lang, Mr. Fang",male,26.00,0,0,1601,56.4958,NaN,S
513,514,1,1,"Rothschild, Mrs. Martin (Elizabeth L. Barrett)",female,54.00,1,0,PC 17603,59.4000,NaN,C
520,521,1,1,"Perreault, Miss. Anne",female,30.00,0,0,12749,93.5000,B73,S
523,524,1,1,"Hippach, Mrs. Louis Albert (Ida Sophia Fischer)",female,44.00,0,1,111361,57.9792,B18,C
527,528,0,1,"Farthing, Mr. John",male,NaN,0,0,PC 17483,221.7792,C95,S
537,538,1,1,"LeRoy, Miss. Bertha",female,30.00,0,0,PC 17761,106.4250,NaN,C
540,541,1,1,"Crosby, Miss. Harriet R",female,36.00,0,2,WE/P 5735,71.0000,B22,S
544,545,0,1,"Douglas, Mr. Walter Donald",male,50.00,1,0,PC 17761,106.4250,C86,C
550,551,1,1,"Thayer, Mr. John Borland Jr",male,17.00,0,2,17421,110.8833,C70,C
557,558,0,1,"Robbins, Mr. Victor",male,NaN,0,0,PC 17757,227.5250,NaN,C
558,559,1,1,"Taussig, Mrs. Emil (Tillie Mandelbaum)",female,39.00,1,1,110413,79.6500,E67,S
571,572,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.00,2,0,11769,51.4792,C101,S
577,578,1,1,"Silvey, Mrs. William Baird (Alice Munger)",female,39.00,1,0,13507,55.9000,E44,S
581,582,1,1,"Thayer, Mrs. John Borland (Marian Longstreth M...",female,39.00,1,1,17421,110.8833,C68,C
585,586,1,1,"Taussig, Miss. Ruth",female,18.00,0,2,110413,79.6500,E68,S
587,588,1,1,"Frolicher-Stehli, Mr. Maxmillian",male,60.00,1,1,13567,79.2000,B41,C
591,592,1,1,"Stephenson, Mrs. Walter Bertram (Martha Eustis)",female,52.00,1,0,36947,78.2667,D20,C
599,600,1,1,"Duff Gordon, Sir. Cosmo Edmund (""Mr Morgan"")",male,49.00,1,0,PC 17485,56.9292,A20,C
609,610,1,1,"Shutes, Miss. Elizabeth W",female,40.00,0,0,PC 17582,153.4625,C125,S
615,616,1,2,"Herman, Miss. Alice",female,24.00,1,2,220845,65.0000,NaN,S
621,622,1,1,"Kimball, Mr. Edwin Nelson Jr",male,42.00,1,0,11753,52.5542,D19,S
627,628,1,1,"Longley, Miss. Gretchen Fiske",female,21.00,0,0,13502,77.9583,D9,S
641,642,1,1,"Sagesser, Mlle. Emma",female,24.00,0,0,PC 17477,69.3000,B35,C
643,644,1,3,"Foo, Mr. Choong",male,NaN,0,0,1601,56.4958,NaN,S
645,646,1,1,"Harper, Mr. Henry Sleeper",male,48.00,1,0,PC 17572,76.7292,D33,C
655,656,0,2,"Hickman, Mr. Leonard Mark",male,24.00,2,0,S.O.C. 14879,73.5000,NaN,S
659,660,0,1,"Newell, Mr. Arthur Webster",male,58.00,0,2,35273,113.2750,D48,C
660,661,1,1,"Frauenthal, Dr. Henry William",male,50.00,2,0,PC 17611,133.6500,NaN,S
665,666,0,2,"Hickman, Mr. Lewis",male,32.00,2,0,S.O.C. 14879,73.5000,NaN,S
669,670,1,1,"Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)",female,NaN,1,0,19996,52.0000,C126,S
671,672,0,1,"Davidson, Mr. Thornton",male,31.00,1,0,F.C. 12750,52.0000,B71,S
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.00,0,1,PC 17755,512.3292,B51 B53 B55,C
681,682,1,1,"Hassab, Mr. Hammad",male,27.00,0,0,PC 17572,76.7292,D49,C
689,690,1,1,"Madill, Miss. Georgette Alexandra",female,15.00,0,1,24160,211.3375,B5,S
690,691,1,1,"Dick, Mr. Albert Adrian",male,31.00,1,0,17474,57.0000,B20,S
692,693,1,3,"Lam, Mr. Ali",male,NaN,0,0,1601,56.4958,NaN,S
698,699,0,1,"Thayer, Mr. John Borland",male,49.00,1,1,17421,110.8833,C68,C
700,701,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.00,1,0,PC 17757,227.5250,C62 C64,C
708,709,1,1,"Cleaver, Miss. Alice",female,22.00,0,0,113781,151.5500,NaN,S
712,713,1,1,"Taylor, Mr. Elmer Zebley",male,48.00,1,0,19996,52.0000,C126,S
716,717,1,1,"Endres, Miss. Caroline Louise",female,38.00,0,0,PC 17757,227.5250,C45,C
724,725,1,1,"Chambers, Mr. Norman Campbell",male,27.00,1,0,113806,53.1000,E8,S
730,731,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.00,0,0,PC 17755,512.3292,B101,C
741,742,0,1,"Cavendish, Mr. Tyrell William",male,36.00,1,0,19877,78.8500,C46,S
742,743,1,1,"Ryerson, Miss. Susan Parker ""Suzette""",female,21.00,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
745,746,0,1,"Crosby, Capt. Edward Gifford",male,70.00,1,1,WE/P 5735,71.0000,B22,S
748,749,0,1,"Marvin, Mr. Daniel Warner",male,19.00,1,0,113773,53.1000,D30,S
754,755,1,2,"Herman, Mrs. Samuel (Jane Laver)",female,48.00,1,2,220845,65.0000,NaN,S
759,760,1,1,"Rothes, the Countess. of (Lucy Noel Martha Dye...",female,33.00,0,0,110152,86.5000,B77,S
763,764,1,1,"Carter, Mrs. William Ernest (Lucile Polk)",female,36.00,1,2,113760,120.0000,B96 B98,S
765,766,1,1,"Hogeboom, Mrs. John C (Anna Andrews)",female,51.00,1,0,13502,77.9583,D11,S
779,780,1,1,"Robert, Mrs. Edward Scott (Elisabeth Walton Mc...",female,43.00,0,1,24160,211.3375,B3,S
781,782,1,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",female,17.00,1,0,17474,57.0000,B20,S
789,790,0,1,"Guggenheim, Mr. Benjamin",male,46.00,0,0,PC 17593,79.2000,B82 B84,C
792,793,0,3,"Sage, Miss. Stella Anna",female,NaN,8,2,CA. 2343,69.5500,NaN,S
802,803,1,1,"Carter, Master. William Thornton II",male,11.00,1,2,113760,120.0000,B96 B98,S
809,810,1,1,"Chambers, Mrs. Norman Campbell (Bertha Griggs)",female,33.00,1,0,113806,53.1000,E8,S
820,821,1,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",female,52.00,1,1,12749,93.5000,B69,S
826,827,0,3,"Lam, Mr. Len",male,NaN,0,0,1601,56.4958,NaN,S
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.00,0,0,113572,80.0000,B28,NaN
835,836,1,1,"Compton, Miss. Sara Rebecca",female,39.00,1,1,PC 17756,83.1583,E49,C
838,839,1,3,"Chip, Mr. Chang",male,32.00,0,0,1601,56.4958,NaN,S
846,847,0,3,"Sage, Mr. Douglas Bullen",male,NaN,8,2,CA. 2343,69.5500,NaN,S
849,850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.00,1,1,36928,164.8667,NaN,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.00,0,0,PC 17590,50.4958,A24,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.00,1,1,11751,52.5542,D35,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.00,0,1,11767,83.1583,C50,C

# using iloc[] for integer based selection..

In [503]:
titanic_data.iloc[1:10, 0:3] # [rows and column]

   PassengerId  Survived  Pclass
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

# Set_index

In [505]:
titanic_data.set_index("Name").head(3) # this is not permanent fixed index.

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,B96 B98,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,B96 B98,S

In [507]:
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,B96 B98,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,B96 B98,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,B96 B98,S

In [509]:
# now it is permanent.
titanic_data.set_index(['Name'], inplace = True)

In [511]:
titanic_data.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,B96 B98,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,B96 B98,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,B96 B98,S

# Reset Index

In [515]:
titanic_data.reset_index(inplace=True)

In [517]:
titanic_data

,Name,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,"Braund, Mr. Owen Harris",1,0,3,male,22.000000,1,0,A/5 21171,7.2500,B96 B98,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",2,1,1,female,38.000000,1,0,PC 17599,71.2833,C85,C
2,"Heikkinen, Miss. Laina",3,1,3,female,26.000000,0,0,STON/O2. 3101282,7.9250,B96 B98,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.000000,1,0,113803,53.1000,C123,S
4,"Allen, Mr. William Henry",5,0,3,male,35.000000,0,0,373450,8.0500,B96 B98,S
5,"Moran, Mr. James",6,0,3,male,29.699118,0,0,330877,8.4583,B96 B98,Q
6,"McCarthy, Mr. Timothy J",7,0,1,male,54.000000,0,0,17463,51.8625,E46,S
7,"Palsson, Master. Gosta Leonard",8,0,3,male,2.000000,3,1,349909,21.0750,B96 B98,S
8,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",9,1,3,female,27.000000,0,2,347742,11.1333,B96 B98,S
9,"Nasser, Mrs. Nicholas (Adele Achem)",10,1,2,female,14.000000,1,0,237736,30.0708,B96 B98,C
10,"Sandstrom, Miss. Marguerite Rut",11,1,3,female,4.000000,1,1,PP 9549,16.7000,G6,S
11,"Bonnell, Miss. Elizabeth",12,1,1,female,58.000000,0,0,113783,26.5500,C103,S
12,"Saundercock, Mr. William Henry",13,0,3,male,20.000000,0,0,A/5. 2151,8.0500,B96 B98,S
13,"Andersson, Mr. Anders Johan",14,0,3,male,39.000000,1,5,347082,31.2750,B96 B98,S
14,"Vestrom, Miss. Hulda Amanda Adolfina",15,0,3,female,14.000000,0,0,350406,7.8542,B96 B98,S
15,"Hewlett, Mrs. (Mary D Kingcome)",16,1,2,female,55.000000,0,0,248706,16.0000,B96 B98,S
16,"Rice, Master. Eugene",17,0,3,male,2.000000,4,1,382652,29.1250,B96 B98,Q
17,"Williams, Mr. Charles Eugene",18,1,2,male,29.699118,0,0,244373,13.0000,B96 B98,S
18,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",19,0,3,female,31.000000,1,0,345763,18.0000,B96 B98,S
19,"Masselmani, Mrs. Fatima",20,1,3,female,29.699118,0,0,2649,7.2250,B96 B98,C
20,"Fynney, Mr. Joseph J",21,0,2,male,35.000000,0,0,239865,26.0000,B96 B98,S
21,"Beesley, Mr. Lawrence",22,1,2,male,34.000000,0,0,248698,13.0000,D56,S
22,"McGowan, Miss. Anna ""Annie""",23,1,3,female,15.000000,0,0,330923,8.0292,B96 B98,Q
23,"Sloper, Mr. William Thompson",24,1,1,male,28.000000,0,0,113788,35.5000,A6,S
24,"Palsson, Miss. Torborg Danira",25,0,3,female,8.000000,3,1,349909,21.0750,B96 B98,S
25,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",26,1,3,female,38.000000,1,5,347077,31.3875,B96 B98,S
26,"Emir, Mr. Farred Chehab",27,0,3,male,29.699118,0,0,2631,7.2250,B96 B98,C
27,"Fortune, Mr. Charles Alexander",28,0,1,male,19.000000,3,2,19950,263.0000,C23 C25 C27,S
28,"O'Dwyer, Miss. Ellen ""Nellie""",29,1,3,female,29.699118,0,0,330959,7.8792,B96 B98,Q
29,"Todoroff, Mr. Lalio",30,0,3,male,29.699118,0,0,349216,7.8958,B96 B98,S
30,"Uruchurtu, Don. Manuel E",31,0,1,male,40.000000,0,0,PC 17601,27.7208,B96 B98,C
31,"Spencer, Mrs. William Augustus (Marie Eugenie)",32,1,1,female,29.699118,1,0,PC 17569,146.5208,B78,C
32,"Glynn, Miss. Mary Agatha",33,1,3,female,29.699118,0,0,335677,7.7500,B96 B98,Q
33,"Wheadon, Mr. Edward H",34,0,2,male,66.000000,0,0,C.A. 24579,10.5000,B96 B98,S
34,"Meyer, Mr. Edgar Joseph",35,0,1,male,28.000000,1,0,PC 17604,82.1708,B96 B98,C
35,"Holverson, Mr. Alexander Oskar",36,0,1,male,42.000000,1,0,113789,52.0000,B96 B98,S
36,"Mamee, Mr. Hanna",37,1,3,male,29.699118,0,0,2677,7.2292,B96 B98,C
37,"Cann, Mr. Ernest Charles",38,0,3,male,21.000000,0,0,A./5. 2152,8.0500,B96 B98,S
38,"Vander Planke, Miss. Augusta Maria",39,0,3,female,18.000000,2,0,345764,18.0000,B96 B98,S
39,"Nicola-Yarred, Miss. Jamila",40,1,3,female,14.000000,1,0,2651,11.2417,B96 B98,C
40,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",41,0,3,female,40.000000,1,0,7546,9.4750,B96 B98,S
41,"Turpin, Mrs. William John Robert (Dorothy Ann ...",42,0,2,female,27.000000,1,0,11668,21.0000,B96 B98,S
42,"Kraeff, Mr. Theodor",43,0,3,male,29.699118,0,0,349253,7.8958,B96 B98,C
43,"Laroche, Miss. Simonne Marie Anne Andree",44,1,2,female,3.000000,1,2,SC/Paris 2123,41.5792,B96 B98,C
44,"Devaney, Miss. Margaret Delia",45,1,3,female,19.000000,0,0,330958,7.8792,B96 B98,Q
45,"Rogers, Mr. William John",46,0,3,male,29.699118,0,0,S.C./A.4. 23567,8.0500,B96 B98,S
46,"Lennon, Mr. Denis",47,0,3,male,29.699118,1,0,370371,15.5000,B96 B98,Q
47,"O'Driscoll, Miss. Bridget",48,1,3,female,29.699118,0,0,14311,7.7500,B96 B98,Q
48,"Samaan, Mr. Youssef",49,0,3,male,29.699118,2,0,2662,21.6792,B96 B98,C
49,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",50,0,3,female,18.000000,1,0,349237,17.8000,B96 B98,S
50,"Panula, Master. Juha Niilo",51,0,3,male,7.000000,4,1,3101295,39.6875,B96 B98,S
51,"Nosworthy, Mr. Richard Cater",52,0,3,male,21.000000,0,0,A/4. 39886,7.8000,B96 B98,S
52,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",53,1,1,female,49.000000,1,0,PC 17572,76.7292,D33,C
53,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",54,1,2,female,29.000000,1,0,2926,26.0000,B96 B98,S
54,"Ostby, Mr. Engelhart Cornelius",55,0,1,male,65.000000,0,1,113509,61.9792,B30,C
55,"Woolner, Mr. Hugh",56,1,1,male,29.699118,0,0,19947,35.5000,C52,S
56,"Rugg, Miss. Emily",57,1,2,female,21.000000,0,0,C.A. 31026,10.5000,B96 B98,S
57,"Novel, Mr. Mansouer",58,0,3,male,28.500000,0,0,2697,7.2292,B96 B98,C
58,"West, Miss. Constance Mirium",59,1,2,female,5.000000,1,2,C.A. 34651,27.7500,B96 B98,S
59,"Goodwin, Master. William Frederick",60,0,3,male,11.000000,5,2,CA 2144,46.9000,B96 B98,S
60,"Sirayanian, Mr. Orsen",61,0,3,male,22.000000,0,0,2669,7.2292,B96 B98,C
61,"Icard, Miss. Amelie",62,1,1,female,38.000000,0,0,113572,80.0000,B28,S
62,"Harris, Mr. Henry Birkhardt",63,0,1,male,45.000000,1,0,36973,83.4750,C83,S
63,"Skoog, Master. Harald",64,0,3,male,4.000000,3,2,347088,27.9000,B96 B98,S
64,"Stewart, Mr. Albert A",65,0,1,male,29.699118,0,0,PC 17605,27.7208,B96 B98,C
65,"Moubarek, Master. Gerios",66,1,3,male,29.699118,1,1,2661,15.2458,B96 B98,C
66,"Nye, Mrs. (Elizabeth Ramell)",67,1,2,female,29.000000,0,0,C.A. 29395,10.5000,F33,S
67,"Crease, Mr. Ernest James",68,0,3,male,19.000000,0,0,S.P. 3464,8.1583,B96 B98,S
68,"Andersson, Miss. Erna Alexandra",69,1,3,female,17.000000,4,2,3101281,7.9250,B96 B98,S
69,"Kink, Mr. Vincenz",70,0,3,male,26.000000,2,0,315151,8.6625,B96 B98,S
70,"Jenkin, Mr. Stephen Curnow",71,0,2,male,32.000000,0,0,C.A. 33111,10.5000,B96 B98,S
71,"Goodwin, Miss. Lillian Amy",72,0,3,female,16.000000,5,2,CA 2144,46.9000,B96 B98,S
72,"Hood, Mr. Ambrose Jr",73,0,2,male,21.000000,0,0,S.O.C. 14879,73.5000,B96 B98,S
73,"Chronopoulos, Mr. Apostolos",74,0,3,male,26.000000,1,0,2680,14.4542,B96 B98,C
74,"Bing, Mr. Lee",75,1,3,male,32.000000,0,0,1601,56.4958,B96 B98,S
75,"Moen, Mr. Sigurd Hansen",76,0,3,male,25.000000,0,0,348123,7.6500,F G73,S
76,"Staneff, Mr. Ivan",77,0,3,male,29.699118,0,0,349208,7.8958,B96 B98,S
77,"Moutal, Mr. Rahamin Haim",78,0,3,male,29.699118,0,0,374746,8.0500,B96 B98,S
78,"Caldwell, Master. Alden Gates",79,1,2,male,0.830000,0,2,248738,29.0000,B96 B98,S
79,"Dowdell, Miss. Elizabeth",80,1,3,female,30.000000,0,0,364516,12.4750,B96 B98,S
80,"Waelens, Mr. Achille",81,0,3,male,22.000000,0,0,345767,9.0000,B96 B98,S
81,"Sheerlinck, Mr. Jan Baptist",82,1,3,male,29.000000,0,0,345779,9.5000,B96 B98,S
82,"McDermott, Miss. Brigdet Delia",83,1,3,female,29.699118,0,0,330932,7.7875,B96 B98,Q
83,"Carrau, Mr. Francisco M",84,0,1,male,28.000000,0,0,113059,47.1000,B96 B98,S
84,"Ilett, Miss. Bertha",85,1,2,female,17.000000,0,0,SO/C 14885,10.5000,B96 B98,S
85,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",86,1,3,female,33.000000,3,0,3101278,15.8500,B96 B98,S
86,"Ford, Mr. William Neal",87,0,3,male,16.000000,1,3,W./C. 6608,34.3750,B96 B98,S
87,"Slocovski, Mr. Selman Francis",88,0,3,male,29.699118,0,0,SOTON/OQ 392086,8.0500,B96 B98,S
88,"Fortune, Miss. Mabel Helen",89,1,1,female,23.000000,3,2,19950,263.0000,C23 C25 C27,S
89,"Celotti, Mr. Francesco",90,0,3,male,24.000000,0,0,343275,8.0500,B96 B98,S
90,"Christmann, Mr. Emil",91,0,3,male,29.000000,0,0,343276,8.0500,B96 B98,S
91,"Andreasson, Mr. Paul Edvin",92,0,3,male,20.000000,0,0,347466,7.8542,B96 B98,S
92,"Chaffee, Mr. Herbert Fuller",93,0,1,male,46.000000,1,0,W.E.P. 5734,61.1750,E31,S
93,"Dean, Mr. Bertram Frank",94,0,3,male,26.000000,1,2,C.A. 2315,20.5750,B96 B98,S
94,"Coxon, Mr. Daniel",95,0,3,male,59.000000,0,0,364500,7.2500,B96 B98,S
95,"Shorney, Mr. Charles Joseph",96,0,3,male,29.699118,0,0,374910,8.0500,B96 B98,S
96,"Goldschmidt, Mr. George B",97,0,1,male,71.000000,0,0,PC 17754,34.6542,A5,C
97,"Greenfield, Mr. William Bertram",98,1,1,male,23.000000,0,1,PC 17759,63.3583,D10 D12,C
98,"Doling, Mrs. John T (Ada Julia Bone)",99,1,2,female,34.000000,0,1,231919,23.0000,B96 B98,S
99,"Kantor, Mr. Sinai",100,0,2,male,34.000000,1,0,244367,26.0000,B96 B98,S
100,"Petranec, Miss. Matilda",101,0,3,female,28.000000,0,0,349245,7.8958,B96 B98,S
101,"Petroff, Mr. Pastcho (""Pentcho"")",102,0,3,male,29.699118,0,0,349215,7.8958,B96 B98,S
102,"White, Mr. Richard Frasar",103,0,1,male,21.000000,0,1,35281,77.2875,D26,S
103,"Johansson, Mr. Gustaf Joel",104,0,3,male,33.000000,0,0,7540,8.6542,B96 B98,S
104,"Gustafsson, Mr. Anders Vilhelm",105,0,3,male,37.000000,2,0,3101276,7.9250,B96 B98,S
105,"Mionoff, Mr. Stoytcho",106,0,3,male,28.000000,0,0,349207,7.8958,B96 B98,S
106,"Salkjelsvik, Miss. Anna Kristine",107,1,3,female,21.000000,0,0,343120,7.6500,B96 B98,S
107,"Moss, Mr. Albert Johan",108,1,3,male,29.699118,0,0,312991,7.7750,B96 B98,S
108,"Rekic, Mr. Tido",109,0,3,male,38.000000,0,0,349249,7.8958,B96 B98,S
109,"Moran, Miss. Bertha",110,1,3,female,29.699118,1,0,371110,24.1500,B96 B98,Q
110,"Porter, Mr. Walter Chamberlain",111,0,1,male,47.000000,0,0,110465,52.0000,C110,S
111,"Zabour, Miss. Hileni",112,0,3,female,14.500000,1,0,2665,14.4542,B96 B98,C
112,"Barton, Mr. David John",113,0,3,male,22.000000,0,0,324669,8.0500,B96 B98,S
113,"Jussila, Miss. Katriina",114,0,3,female,20.000000,1,0,4136,9.8250,B96 B98,S
114,"Attalah, Miss. Malake",115,0,3,female,17.000000,0,0,2627,14.4583,B96 B98,C
115,"Pekoniemi, Mr. Edvard",116,0,3,male,21.000000,0,0,STON/O 2. 3101294,7.9250,B96 B98,S
116,"Connors, Mr. Patrick",117,0,3,male,70.500000,0,0,370369,7.7500,B96 B98,Q
117,"Turpin, Mr. William John Robert",118,0,2,male,29.000000,1,0,11668,21.0000,B96 B98,S
118,"Baxter, Mr. Quigg Edmond",119,0,1,male,24.000000,0,1,PC 17558,247.5208,B58 B60,C
119,"Andersson, Miss. Ellis Anna Maria",120,0,3,female,2.000000,4,2,347082,31.2750,B96 B98,S
120,"Hickman, Mr. Stanley George",121,0,2,male,21.000000,2,0,S.O.C. 14879,73.5000,B96 B98,S
121,"Moore, Mr. Leonard Charles",122,0,3,male,29.699118,0,0,A4. 54510,8.0500,B96 B98,S
122,"Nasser, Mr. Nicholas",123,0,2,male,32.500000,1,0,237736,30.0708,B96 B98,C
123,"Webber, Miss. Susan",124,1,2,female,32.500000,0,0,27267,13.0000,E101,S
124,"White, Mr. Percival Wayland",125,0,1,male,54.000000,0,1,35281,77.2875,D26,S
125,"Nicola-Yarred, Master. Elias",126,1,3,male,12.000000,1,0,2651,11.2417,B96 B98,C
126,"McMahon, Mr. Martin",127,0,3,male,29.699118,0,0,370372,7.7500,B96 B98,Q
127,"Madsen, Mr. Fridtjof Arne",128,1,3,male,24.000000,0,0,C 17369,7.1417,B96 B98,S
128,"Peter, Miss. Anna",129,1,3,female,29.699118,1,1,2668,22.3583,F E69,C
129,"Ekstrom, Mr. Johan",130,0,3,male,45.000000,0,0,347061,6.9750,B96 B98,S
130,"Drazenoic, Mr. Jozef",131,0,3,male,33.000000,0,0,349241,7.8958,B96 B98,C
131,"Coelho, Mr. Domingos Fernandeo",132,0,3,male,20.000000,0,0,SOTON/O.Q. 3101307,7.0500,B96 B98,S
132,"Robins, Mrs. Alexander A (Grace Charity Laury)",133,0,3,female,47.000000,1,0,A/5. 3337,14.5000,B96 B98,S
133,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",134,1,2,female,29.000000,1,0,228414,26.0000,B96 B98,S
134,"Sobey, Mr. Samuel James Hayden",135,0,2,male,25.000000,0,0,C.A. 29178,13.0000,B96 B98,S
135,"Richard, Mr. Emile",136,0,2,male,23.000000,0,0,SC/PARIS 2133,15.0458,B96 B98,C
136,"Newsom, Miss. Helen Monypeny",137,1,1,female,19.000000,0,2,11752,26.2833,D47,S
137,"Futrelle, Mr. Jacques Heath",138,0,1,male,37.000000,1,0,113803,53.1000,C123,S
138,"Osen, Mr. Olaf Elon",139,0,3,male,16.000000,0,0,7534,9.2167,B96 B98,S
139,"Giglio, Mr. Victor",140,0,1,male,24.000000,0,0,PC 17593,79.2000,B86,C
140,"Boulos, Mrs. Joseph (Sultana)",141,0,3,female,29.699118,0,2,2678,15.2458,B96 B98,C
141,"Nysten, Miss. Anna Sofia",142,1,3,female,22.000000,0,0,347081,7.7500,B96 B98,S
142,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",143,1,3,female,24.000000,1,0,STON/O2. 3101279,15.8500,B96 B98,S
143,"Burke, Mr. Jeremiah",144,0,3,male,19.000000,0,0,365222,6.7500,B96 B98,Q
144,"Andrew, Mr. Edgardo Samuel",145,0,2,male,18.000000,0,0,231945,11.5000,B96 B98,S
145,"Nicholls, Mr. Joseph Charles",146,0,2,male,19.000000,1,1,C.A. 33112,36.7500,B96 B98,S
146,"Andersson, Mr. August Edvard (""Wennerstrom"")",147,1,3,male,27.000000,0,0,350043,7.7958,B96 B98,S
147,"Ford, Miss. Robina Maggie ""Ruby""",148,0,3,female,9.000000,2,2,W./C. 6608,34.3750,B96 B98,S
148,"Navratil, Mr. Michel (""Louis M Hoffman"")",149,0,2,male,36.500000,0,2,230080,26.0000,F2,S
149,"Byles, Rev. Thomas Roussel Davids",150,0,2,male,42.000000,0,0,244310,13.0000,B96 B98,S
150,"Bateman, Rev. Robert James",151,0,2,male,51.000000,0,0,S.O.P. 1166,12.5250,B96 B98,S
151,"Pears, Mrs. Thomas (Edith Wearne)",152,1,1,female,22.000000,1,0,113776,66.6000,C2,S
152,"Meo, Mr. Alfonzo",153,0,3,male,55.500000,0,0,A.5. 11206,8.0500,B96 B98,S
153,"van Billiard, Mr. Austin Blyler",154,0,3,male,40.500000,0,2,A/5. 851,14.5000,B96 B98,S
154,"Olsen, Mr. Ole Martin",155,0,3,male,29.699118,0,0,Fa 265302,7.3125,B96 B98,S
155,"Williams, Mr. Charles Duane",156,0,1,male,51.000000,0,1,PC 17597,61.3792,B96 B98,C
156,"Gilnagh, Miss. Katherine ""Katie""",157,1,3,female,16.000000,0,0,35851,7.7333,B96 B98,Q
157,"Corn, Mr. Harry",158,0,3,male,30.000000,0,0,SOTON/OQ 392090,8.0500,B96 B98,S
158,"Smiljanic, Mr. Mile",159,0,3,male,29.699118,0,0,315037,8.6625,B96 B98,S
159,"Sage, Master. Thomas Henry",160,0,3,male,29.699118,8,2,CA. 2343,69.5500,B96 B98,S
160,"Cribb, Mr. John Hatfield",161,0,3,male,44.000000,0,1,371362,16.1000,B96 B98,S
161,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",162,1,2,female,40.000000,0,0,C.A. 33595,15.7500,B96 B98,S
162,"Bengtsson, Mr. John Viktor",163,0,3,male,26.000000,0,0,347068,7.7750,B96 B98,S
163,"Calic, Mr. Jovo",164,0,3,male,17.000000,0,0,315093,8.6625,B96 B98,S
164,"Panula, Master. Eino Viljami",165,0,3,male,1.000000,4,1,3101295,39.6875,B96 B98,S
165,"Goldsmith, Master. Frank John William ""Frankie""",166,1,3,male,9.000000,0,2,363291,20.5250,B96 B98,S
166,"Chibnall, Mrs. (Edith Martha Bowerman)",167,1,1,female,29.699118,0,1,113505,55.0000,E33,S
167,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",168,0,3,female,45.000000,1,4,347088,27.9000,B96 B98,S
168,"Baumann, Mr. John D",169,0,1,male,29.699118,0,0,PC 17318,25.9250,B96 B98,S
169,"Ling, Mr. Lee",170,0,3,male,28.000000,0,0,1601,56.4958,B96 B98,S
170,"Van der hoef, Mr. Wyckoff",171,0,1,male,61.000000,0,0,111240,33.5000,B19,S
171,"Rice, Master. Arthur",172,0,3,male,4.000000,4,1,382652,29.1250,B96 B98,Q
172,"Johnson, Miss. Eleanor Ileen",173,1,3,female,1.000000,1,1,347742,11.1333,B96 B98,S
173,"Sivola, Mr. Antti Wilhelm",174,0,3,male,21.000000,0,0,STON/O 2. 3101280,7.9250,B96 B98,S
174,"Smith, Mr. James Clinch",175,0,1,male,56.000000,0,0,17764,30.6958,A7,C
175,"Klasen, Mr. Klas Albin",176,0,3,male,18.000000,1,1,350404,7.8542,B96 B98,S
176,"Lefebre, Master. Henry Forbes",177,0,3,male,29.699118,3,1,4133,25.4667,B96 B98,S
177,"Isham, Miss. Ann Elizabeth",178,0,1,female,50.000000,0,0,PC 17595,28.7125,C49,C
178,"Hale, Mr. Reginald",179,0,2,male,30.000000,0,0,250653,13.0000,B96 B98,S
179,"Leonard, Mr. Lionel",180,0,3,male,36.000000,0,0,LINE,0.0000,B96 B98,S
180,"Sage, Miss. Constance Gladys",181,0,3,female,29.699118,8,2,CA. 2343,69.5500,B96 B98,S
181,"Pernot, Mr. Rene",182,0,2,male,29.699118,0,0,SC/PARIS 2131,15.0500,B96 B98,C
182,"Asplund, Master. Clarence Gustaf Hugo",183,0,3,male,9.000000,4,2,347077,31.3875,B96 B98,S
183,"Becker, Master. Richard F",184,1,2,male,1.000000,2,1,230136,39.0000,F4,S
184,"Kink-Heilmann, Miss. Luise Gretchen",185,1,3,female,4.000000,0,2,315153,22.0250,B96 B98,S
185,"Rood, Mr. Hugh Roscoe",186,0,1,male,29.699118,0,0,113767,50.0000,A32,S
186,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",187,1,3,female,29.699118,1,0,370365,15.5000,B96 B98,Q
187,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",188,1,1,male,45.000000,0,0,111428,26.5500,B96 B98,S
188,"Bourke, Mr. John",189,0,3,male,40.000000,1,1,364849,15.5000,B96 B98,Q
189,"Turcin, Mr. Stjepan",190,0,3,male,36.000000,0,0,349247,7.8958,B96 B98,S
190,"Pinsky, Mrs. (Rosa)",191,1,2,female,32.000000,0,0,234604,13.0000,B96 B98,S
191,"Carbines, Mr. William",192,0,2,male,19.000000,0,0,28424,13.0000,B96 B98,S
192,"Andersen-Jensen, Miss. Carla Christine Nielsine",193,1,3,female,19.000000,1,0,350046,7.8542,B96 B98,S
193,"Navratil, Master. Michel M",194,1,2,male,3.000000,1,1,230080,26.0000,F2,S
194,"Brown, Mrs. James Joseph (Margaret Tobin)",195,1,1,female,44.000000,0,0,PC 17610,27.7208,B4,C
195,"Lurette, Miss. Elise",196,1,1,female,58.000000,0,0,PC 17569,146.5208,B80,C
196,"Mernagh, Mr. Robert",197,0,3,male,29.699118,0,0,368703,7.7500,B96 B98,Q
197,"Olsen, Mr. Karl Siegwart Andreas",198,0,3,male,42.000000,0,1,4579,8.4042,B96 B98,S
198,"Madigan, Miss. Margaret ""Maggie""",199,1,3,female,29.699118,0,0,370370,7.7500,B96 B98,Q
199,"Yrois, Miss. Henriette (""Mrs Harbeck"")",200,0,2,female,24.000000,0,0,248747,13.0000,B96 B98,S
200,"Vande Walle, Mr. Nestor Cyriel",201,0,3,male,28.000000,0,0,345770,9.5000,B96 B98,S
201,"Sage, Mr. Frederick",202,0,3,male,29.699118,8,2,CA. 2343,69.5500,B96 B98,S
202,"Johanson, Mr. Jakob Alfred",203,0,3,male,34.000000,0,0,3101264,6.4958,B96 B98,S
203,"Youseff, Mr. Gerious",204,0,3,male,45.500000,0,0,2628,7.2250,B96 B98,C
204,"Cohen, Mr. Gurshon ""Gus""",205,1,3,male,18.000000,0,0,A/5 3540,8.0500,B96 B98,S
205,"Strom, Miss. Telma Matilda",206,0,3,female,2.000000,0,1,347054,10.4625,G6,S
206,"Backstrom, Mr. Karl Alfred",207,0,3,male,32.000000,1,0,3101278,15.8500,B96 B98,S
207,"Albimona, Mr. Nassef Cassem",208,1,3,male,26.000000,0,0,2699,18.7875,B96 B98,C
208,"Carr, Miss. Helen ""Ellen""",209,1,3,female,16.000000,0,0,367231,7.7500,B96 B98,Q
209,"Blank, Mr. Henry",210,1,1,male,40.000000,0,0,112277,31.0000,A31,C
210,"Ali, Mr. Ahmed",211,0,3,male,24.000000,0,0,SOTON/O.Q. 3101311,7.0500,B96 B98,S
211,"Cameron, Miss. Clear Annie",212,1,2,female,35.000000,0,0,F.C.C. 13528,21.0000,B96 B98,S
212,"Perkin, Mr. John Henry",213,0,3,male,22.000000,0,0,A/5 21174,7.2500,B96 B98,S
213,"Givard, Mr. Hans Kristensen",214,0,2,male,30.000000,0,0,250646,13.0000,B96 B98,S
214,"Kiernan, Mr. Philip",215,0,3,male,29.699118,1,0,367229,7.7500,B96 B98,Q
215,"Newell, Miss. Madeleine",216,1,1,female,31.000000,1,0,35273,113.2750,D36,C
216,"Honkanen, Miss. Eliina",217,1,3,female,27.000000,0,0,STON/O2. 3101283,7.9250,B96 B98,S
217,"Jacobsohn, Mr. Sidney Samuel",218,0,2,male,42.000000,1,0,243847,27.0000,B96 B98,S
218,"Bazzani, Miss. Albina",219,1,1,female,32.000000,0,0,11813,76.2917,D15,C
219,"Harris, Mr. Walter",220,0,2,male,30.000000,0,0,W/C 14208,10.5000,B96 B98,S
220,"Sunderland, Mr. Victor Francis",221,1,3,male,16.000000,0,0,SOTON/OQ 392089,8.0500,B96 B98,S
221,"Bracken, Mr. James H",222,0,2,male,27.000000,0,0,220367,13.0000,B96 B98,S
222,"Green, Mr. George Henry",223,0,3,male,51.000000,0,0,21440,8.0500,B96 B98,S
223,"Nenkoff, Mr. Christo",224,0,3,male,29.699118,0,0,349234,7.8958,B96 B98,S
224,"Hoyt, Mr. Frederick Maxfield",225,1,1,male,38.000000,1,0,19943,90.0000,C93,S
225,"Berglund, Mr. Karl Ivar Sven",226,0,3,male,22.000000,0,0,PP 4348,9.3500,B96 B98,S
226,"Mellors, Mr. William John",227,1,2,male,19.000000,0,0,SW/PP 751,10.5000,B96 B98,S
227,"Lovell, Mr. John Hall (""Henry"")",228,0,3,male,20.500000,0,0,A/5 21173,7.2500,B96 B98,S
228,"Fahlstrom, Mr. Arne Jonas",229,0,2,male,18.000000,0,0,236171,13.0000,B96 B98,S
229,"Lefebre, Miss. Mathilde",230,0,3,female,29.699118,3,1,4133,25.4667,B96 B98,S
230,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",231,1,1,female,35.000000,1,0,36973,83.4750,C83,S
231,"Larsson, Mr. Bengt Edvin",232,0,3,male,29.000000,0,0,347067,7.7750,B96 B98,S
232,"Sjostedt, Mr. Ernst Adolf",233,0,2,male,59.000000,0,0,237442,13.5000,B96 B98,S

# Handling Dupliactes

In [529]:
titanic_data.duplicated().sum()

0

here, it is found any duplicate value but if i find any value then how to remove? - 

# Removing Duplicate Rows:

titanic_data.drop_duplicates(inplace=True)

# Removing Duplicates Based on Specific Columns:

titanic_data.drop_duplicates(subset=['Name'], inplace=True)

In [532]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'David', 'Bob'],
    'Age': [25, 30, 35, 25, 40, 30],
    'City': ['New York', 'Los Angeles', 'Chicago', 'New York', 'Houston', 'Los Angeles']
}

In [534]:
df = pd.DataFrame(data)

In [536]:
df

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    Alice   25     New York
4    David   40      Houston
5      Bob   30  Los Angeles

1. drop_duplicates() - Removes duplicate rows

In [540]:
df_no_duplicates = df.drop_duplicates()
df_no_duplicates

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
4    David   40      Houston

2. duplicated() - Returns a Boolean Series indicating duplicates

In [546]:
df_duplicates_bool = df.duplicated()
df_duplicates_bool

0    False
1    False
2    False
3     True
4    False
5     True
dtype: bool

 3. value_counts() - Counts unique values in the 'Name' column

In [551]:
df_value_counts = df['Name'].value_counts()
df_value_counts

Name
Alice      2
Bob        2
Charlie    1
David      1
Name: count, dtype: int64

 4. groupby() - Group by 'Name' and count the occurrences

In [556]:
df_groupby_count = df.groupby(['Name']).size()
df_groupby_count

Name
Alice      2
Bob        2
Charlie    1
David      1
dtype: int64

 5. nunique() - Counts unique values in the 'Name' column

In [561]:
df_nunique = df['Name'].nunique()
df_nunique

4

In [571]:
df_no_duplicates, df_duplicates_bool, df_value_counts, df_groupby_count, df_nunique

(      Name  Age         City
 0    Alice   25     New York
 1      Bob   30  Los Angeles
 2  Charlie   35      Chicago
 4    David   40      Houston,
 0    False
 1    False
 2    False
 3     True
 4    False
 5     True
 dtype: bool,
 Name
 Alice      2
 Bob        2
 Charlie    1
 David      1
 Name: count, dtype: int64,
 Name
 Alice      2
 Bob        2
 Charlie    1
 David      1
 dtype: int64,
 4)

# String Operations